@using Business.Essentials;
@model Business.Essentials.Model.Product

@{
    ViewBag.Title = Business.Essentials.Resources.CreateNew;
}

<h2>@Business.Essentials.Resources.New</h2>

@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Business.Essentials.Resources.Title_Product</legend>

        <div style="float:right">
            <div class="editor-label">
                @Html.LabelFor(model => model.Photo)
            </div>
            <div class="editor-input">
                <input type="file" name="file" id="file" />
            </div>
        </div>

     	<div class="editor-label">
            @Html.LabelFor(model => model.Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Code)
            @Html.ValidationMessageFor(model => model.Code)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SKU)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SKU)
            @Html.ValidationMessageFor(model => model.SKU)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Brand)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Brand)
            @Html.ValidationMessageFor(model => model.Brand)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Model)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Model)
            @Html.ValidationMessageFor(model => model.Model)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cost)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cost)
            @Html.ValidationMessageFor(model => model.Cost)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitOfMeasurement)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitOfMeasurement)
        </div>

        <div class="editor-label">
            @Html.CheckBoxFor(model => model.IsPerishable)
            @Html.LabelFor(model => model.IsPerishable)
        </div>
        <div class="editor-label">
            @Html.CheckBoxFor(model => model.IsSeriable)
            @Html.LabelFor(model => model.IsSeriable)
        </div>
         <div class="editor-label">
            @Html.CheckBoxFor(model => model.IsInvoiceable)
            @Html.LabelFor(model => model.IsInvoiceable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TaxRate)
        </div>
        <div>
            <select id="TaxRate" name="TaxRate">
                <option value="0" @(Model.TaxRate == 0 ? "selected='selected'" : "")>0%</option>
                <option value="0.16" @(Model.TaxRate != 0 ? "selected='selected'" : "")>16%</option>
            </select>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price1)
            @Html.ValidationMessageFor(model => model.Price1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price2)
            @Html.ValidationMessageFor(model => model.Price2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price3)
            @Html.ValidationMessageFor(model => model.Price3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price4)
            @Html.ValidationMessageFor(model => model.Price4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price5)
            @Html.ValidationMessageFor(model => model.Price5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price6)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price6)
            @Html.ValidationMessageFor(model => model.Price6)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price7)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price7)
            @Html.ValidationMessageFor(model => model.Price7)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Category)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryId)
            @Html.ValidationMessageFor(model => model.CategoryId)
            <script type="text/javascript">
                $(document).ready(function () {
                $("#CategoryId").tokenInput("@Url.Action("GetSuggestions", "Categories")",
                {
                    hintText: "@Business.Essentials.Resources.HIntText",
                    noResultsText: "@Business.Essentials.Resources.NoResultsText",
                    searchingText: "@Business.Essentials.Resources.SearchingText",
                    queryParam: "pattern",minChars: 1,tokenLimit: 1});
                });
            </script>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Supplier)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SupplierId)
            @Html.ValidationMessageFor(model => model.SupplierId)
            <script type="text/javascript">
                $(document).ready(function () {
                $("#SupplierId").tokenInput("@Url.Action("GetSuggestions", "Suppliers")",
                {
                    hintText: "@Business.Essentials.Resources.HIntText",
                    noResultsText: "@Business.Essentials.Resources.NoResultsText",
                    searchingText: "@Business.Essentials.Resources.SearchingText",
                    queryParam: "pattern",minChars: 1,tokenLimit: 1});
                });
            </script>
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comment)
        </div>

        <p><button type="submit" class="icon save">@Resources.Create</button></p>
    </fieldset>
}

<div>
    @Html.ActionLink(Business.Essentials.Resources.BackToList, "Index", new { }, new { @class = "button" })
</div>
