@using Business.Essentials
@model Business.Essentials.Model.Product

@{
    ViewBag.Title = Resources.Details;
}

<h2>@Resources.Details</h2>

<fieldset>
    <legend>@Resources.Title_Product</legend>

    @Html.Partial("_Details")

</fieldset>
<p>
    @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "button icon edit" })
    @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button" })
</p>
