@model Business.Essentials.Model.Product

@{
    ViewBag.Title = Business.Essentials.Resources.Details;
}

<h2>@Business.Essentials.Resources.Details</h2>

<fieldset>
    <legend>@Business.Essentials.Resources.Title_Product</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.SKU)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SKU)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Brand)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Brand)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Model)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Model)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Cost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cost)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.UnitOfMeasurement)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnitOfMeasurement)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.IsPerishable)
    </div>
    <div class="display-checkbox">
        @Html.DisplayFor(model => model.IsPerishable)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.IsSeriable)
    </div>
    <div class="display-checkbox">
        @Html.DisplayFor(model => model.IsSeriable) 
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.IsInvoiceable)
    </div>
    <div class="display-checkbox">
        @Html.DisplayFor(model => model.IsInvoiceable)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Price1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price1)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Price2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price2)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Price3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price3)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Price4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price4)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Category)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Supplier)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Supplier.Name)
    </div>

</fieldset>
<p>
    @Html.ActionLink(Business.Essentials.Resources.Edit, "Edit", new { id=Model.Id }) |
    @Html.ActionLink(Business.Essentials.Resources.BackToList, "Index")
</p>
