@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model Address

@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "addressDlg" })) {
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.Id)
	@Html.EditorForModel()
	<div class="action-buttons">
		<button type="button" class="cancel">@Resources.Discard</button>
		<button type="submit" class="icon save">@Resources.Save</button>
	</div>
}
<script type="text/javascript">
$('#Street').focus();
bindCloseDialog(".cancel");
</script>