@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model IEnumerable<Address>

@{
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.Addresses);
}

<table>
    <tr>
        <th>@Html.LabelFor(x => new Address().StreetAndNumber)</th>
        <th>@Html.LabelFor(x => new Address().Neighborhood)</th>
        <th>@Html.LabelFor(x => new Address().Borough)</th>
        <th>@Html.LabelFor(x => new Address().State)</th>
        <th>@Html.LabelFor(x => new Address().PostalCode)</th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(x => item.StreetAndNumber)</td>
        <td>@Html.DisplayFor(x => item.Neighborhood)</td>
        <td>@Html.DisplayFor(x => item.Borough)</td>
        <td>@Html.DisplayFor(x => item.State)</td>
        <td class='number'>@Html.DisplayFor(x => item.PostalCode)</td>
        <td class='actions'>
        	@if(Privilege.AllowUpdate){
            	@Html.ActionLink(" ", "Edit", "Addresses", new { id = item.Id }, new { @class = "button icon edit icon-only openDialog", title = Resources.Edit, data_dialog_id = "addressDlg", data_dialog_title = Resources.Edit })
            }
        	@if(Privilege.AllowRead){
        	    @Html.ActionLink(" ", "Details", "Addresses", new { id = item.Id }, new { @class = "button icon view icon-only openDialog", title = Resources.Details, data_dialog_id = "addressDlg", data_dialog_title = Resources.Details })
            }
        	@if(Privilege.AllowDelete){
            	@Html.ActionLink(" ", "Delete", "Addresses", new { id = item.Id }, new { @class = "button icon delete icon-only openDialog", @title = Resources.Delete, data_dialog_id = "addressDlg", data_dialog_title = Resources.Delete })
            }
        </td>
    </tr>
}
</table>
<script type='text/javascript'>
	bindOpenDialog('.openDialog');
</script>