@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model Search<Employee>

@{
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.Employees);
}

<table>
    <tr>
        <th>@Resources.FirstName</th>
        <th>@Resources.LastName</th>
        <th class='date'>@Resources.Birthday</th>
        <th class='date'>@Resources.StartJobDate</th>
        <th></th>
    </tr>
@foreach (var item in Model.Results) {
    <tr>
        <td>@Html.DisplayFor(x => item.FirstName)</td>
        <td>@Html.DisplayFor(x => item.LastName)</td>
        <td class='date'>@Html.DisplayFor(x => item.Birthday)</td>
        <td class='date'>@Html.DisplayFor(x => item.StartJobDate)</td>
        <td class="actions">
        	@if (Privilege.AllowRead) {
            	@Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "button icon view icon-only open-modal", @title = Resources.Details, data_modal_id = "employee-modal" })
            }
        	@if (Privilege.AllowUpdate) {
            	@Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "button icon edit icon-only open-modal", @title = Resources.Edit, data_modal_id = "employee-modal" })
            }
        	@if (Privilege.AllowDelete) {
            	@Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "button icon delete icon-only open-modal", @title = Resources.Delete, data_modal_id = "employee-modal" })
            }
        </td>
    </tr>
}
</table>
<div class="buttons right">
	<label class='button left'>@Model.ToString()</label>@if (Model.HasPrev) {<a class='button middle icon prev icon-only paging' title='@Resources.PrevPage' href='javascript:void(0)'></a>}@if (Model.HasNext) {<a class='button right icon next icon-only paging' title='@Resources.NextPage' href='javascript:void(0)'></a>}
</div>
<script type="text/javascript">
bindModal('.open-modal');
$('a.paging').click(function (e) {
	var offset=@Model.Offset;
	
	if($(this).hasClass('next')) {
		offset+=@Model.Limit;
	} else {
		offset-=@Model.Limit;
	}
	
	e.preventDefault();
	$('#activity-indicator').show();
	$('#search-results').hide();
	
	$.post('@Url.Action("Index")', { Pattern: '@Model.Pattern', Offset: offset, Limit: @Model.Limit }, function(data) {
		$('#search-results').html(data);
		$('#search-results').show();
		$('#activity-indicator').hide();
	});
});
</script>
