@using Mictlanix.BE
@using Mictlanix.BE.Web.Helpers;
@model Mictlanix.BE.Model.Employee

@{
    ViewBag.Title = Resources.Delete;
}

<h2>@Resources.Delete</h2>

<h3>@Resources.Message_DeleteConfirmation</h3>
<fieldset>
    <legend>@Resources.Title_Employee</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Birthday)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Birthday)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.TaxpayerId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TaxpayerId)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Gender)
    </div>
    <div class="display-field">
        @Model.Gender.GetDisplayName()
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.PersonalId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PersonalId)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.StartJobDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartJobDate)
    </div>
    

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <button type="submit" class="icon delete">@Resources.Delete</button>
        @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })
    </p>
}
