@using Business.Essentials
@using Business.Essentials.Model
@using Business.Essentials.WebApp.Helpers
@model Employee

@{
    ViewBag.Title = Resources.Details;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.Employees);
}

<h2>@Resources.Details</h2>

<fieldset>
    <legend>@Resources.Title_Employee</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Birthday)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Birthday)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.TaxpayerId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TaxpayerId)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Gender)
    </div>
    <div class="display-field">
        @Model.Gender.GetDisplayName()
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.PersonalId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PersonalId)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.StartJobDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartJobDate)
    </div>
</fieldset>
<p>
@if(Privilege.AllowUpdate)
{
    @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "button icon edit" })
}
    @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })
</p>