@using Business.Essentials
@using Business.Essentials.Model
@model SalesInvoice

<fieldset>
    <legend>@Resources.DisplayName_InvoiceInformation</legend>
        @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "master-section" }))
        {
            @Html.ValidationSummary(true)
            
            <div class="editor-label">
                @Html.LabelFor(x => x.Issuer)
                @Html.TextBoxFor(x => x.IssuerId)
                @Html.ValidationMessageFor(x => x.IssuerId)
            </div>
            
            <div id="div-batch" class="editor-label"></div>
            
            <div class="editor-label">
                @Html.LabelFor(model => model.Customer)
                @Html.EditorFor(model => model.CustomerId)
                @Html.ValidationMessageFor(model => model.CustomerId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.BillTo)
                @Html.EditorFor(model => model.BillToId)
                @Html.ValidationMessageFor(model => model.BillToId)
            </div>

            <p>
            	<button type="submit" class="icon save">@Resources.Save</button>
        		@Ajax.ActionLink(Resources.Discard, "GetMaster", new { id = Model.Id }, new AjaxOptions { UpdateTargetId = "master-section" }, new { @class = "button icon cancel" })
        	</p>
        }
</fieldset>
<script type="text/javascript">
    $(function () {
        $("#IssuerId").tokenInput("@Url.Action("GetSuggestions", "Taxpayers")", {
            hintText: "@Resources.HIntText",
            noResultsText: "@Resources.NoResultsText",
            searchingText: "@Resources.SearchingText",
            queryParam: "pattern",
            minChars: 1,
            tokenLimit: 1,
            prePopulate: [{ id: "@Model.Issuer.Id", name: "@Model.Issuer.Name"}],
            onAdd: function (item) {
                $.get("/Invoices/GetBatchSelector/" + item.id, function (data) {
		            $("#div-batch").html(data);
		        });
            },
            onDelete: function (item){
                $("#div-batch").html(null);
            }
        });
        
        $.get("/Invoices/GetBatchSelector/@Model.Issuer.Id", function (data) {
            $("#div-batch").html(data);
        });

        $("#CustomerId").tokenInput("add", { id: "@Model.Customer.Id", name: "@Model.Customer.Name"});
        
        $("#BillToId").tokenInput(function() {
			var customer = $("#CustomerId").tokenInput("get")[0];
			
			if(typeof(customer) === "undefined") {
				customer = {id : 0};
			}
			
			return "@Url.Action("GetSuggestions", "Addresses", new { customer = 0 })" + customer.id; }, {
            hintText: "@Resources.HIntText",
            noResultsText: "@Resources.NoResultsText",
            searchingText: "@Resources.SearchingText",          
            queryParam: "pattern",minChars: 3,tokenLimit: 1
        });
        
        $("#BillToId").tokenInput("add", { id: "@Model.BillTo.Id", name: "@string.Format("{1} ({0})", Model.BillTo.TaxpayerId, Model.BillTo.TaxpayerName)"});
    });
</script>