@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model IEnumerable<SalesInvoice>

<table>
    <tr>
        <th class="date">Año</th>
        <th class="date">Mes</th>
        <th>RFC</th>
        <th>Nombre</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="date">@Html.DisplayFor(x => item.Id)</td>
        <td class="date">@Html.DisplayFor(x => item.Batch)</td>
        <td class="date">@Html.DisplayFor(x => item.BillTo.TaxpayerId)</td>
        <td>@Html.DisplayFor(x => item.BillTo.TaxpayerName)</td>
        <td class="actions">
        	@Html.ActionLink(" ", "Download", new { id = item.Id }, new { @class = "button icon download icon-only", @title = Resources.Download })
        </td>
    </tr>
}
</table>
