@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model IEnumerable<SalesInvoice>

@{
    ViewBag.Title = Resources.Title_SalesInvoice;
}

<h2>@Mictlanix.BE.Resources.DisplayName_SalesInvoices</h2>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">@Resources.FiscalDocuments</a></li>
        <li><a href="#tabs-2">@Resources.FiscalReports</a></li>
    </ul>
    <div id="tabs-1">
		@Html.Partial("_Invoices")
    </div>
    <div id="tabs-2">
		@Html.Partial("_Reports")
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
    });
</script>
