@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model IEnumerable<SalesInvoice>

@{
    ViewBag.Title = Resources.Title_SalesInvoice;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.SalesInvoices);
}

<h2>@Mictlanix.BE.Resources.DisplayName_SalesInvoices</h2>

<p>
@if(Privilege.AllowCreate)
{
    @Html.ActionLink(Resources.New, "New", new { }, new { @class = "button icon add" })
}
</p>
<table>
    <tr>
        <th class="number">@Html.LabelFor(x => new SalesInvoice().Id)</th>
        <th>@Html.LabelFor(x => new SalesInvoice().Customer)</th>
        <th>@Html.LabelFor(x => new SalesInvoice().Batch)</th>
        <th>@Html.LabelFor(x => new SalesInvoice().Serial)</th>
        <th class="date">@Html.LabelFor(x => new SalesInvoice().Issued)</th>
        <th>@Html.LabelFor(x => new SalesInvoice().BillTo)</th>
        <th>@Html.LabelFor(x => new SalesOrder().IsCompleted)</th>
        <th>@Html.LabelFor(x => new SalesOrder().IsCancelled)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="number">@Html.DisplayFor(x => item.Id)</td>
        <td>@Html.DisplayFor(x => item.Customer.Name)</td>
        <td class="number center">@Html.DisplayFor(x => item.Batch)</td>
        <td class="number">@Html.DisplayFor(x => item.Serial)</td>
        <td class="date">@Html.DisplayFor(x => item.Issued)</td>
        <td>
        	@Html.DisplayFor(x => item.BillTo.TaxpayerId)
        	@Html.DisplayFor(x => item.BillTo.TaxpayerName)
        </td>
        <td class="bool">@Html.DisplayFor(x => item.IsCompleted)</td>
        <td class="bool">@Html.DisplayFor(x => item.IsCancelled)</td>

        <td class="actions">
        	@if(Privilege.AllowRead)
        	{
            	@Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "button icon view icon-only", @title = Resources.Details })
            	@Html.ActionLink(" ", "Print", new { id = item.Id }, new { @class = "button icon print icon-only", title = Resources.Print, target = "_blank" })
            }
        	@if(Privilege.AllowUpdate && !item.IsCompleted && !item.IsCancelled)
        	{
            	@Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "button icon edit icon-only", @title = Resources.Edit })
            }
        	@if(Privilege.AllowRead && item.IsCompleted)
        	{
            	@Html.ActionLink(" ", "Download", new { id = item.Id }, new { @class = "button icon download icon-only", @title = Resources.Download })
            }
        </td>
    </tr>
}
</table>
