@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Newtonsoft.Json.Linq;

@model SpecialReceipt

@{
    Layout = WebConfig.PrintLayout;
    ViewBag.Title = Html.PrintFileName(Resources.SalesOrder, Model.Id);
    ViewBag.Store = Model.Store;
    ViewBag.TaxpayerName = null;
    ViewBag.Taxpayer = null;
    ViewBag.Address = Model.Store.Address;
    dynamic json = JValue.Parse(Model.JSON);
}

<div class="row">
    <div class="col-xs-6 text-left">
        <div class="row">
            <div class="col-xs-12 uppercase">
                <h2>@Resources.Customer</h2>
            </div>
            <div class="col-xs-12">
                <p><span class="mylabel">@Resources.Name</span></p>
            </div>
            <div class="col-xs-12">
                <p>@Html.DisplayFor(x => x.CustomerName)</p>
            </div>
            @if (Model.CustomerShipTo != null)
            {
                <div class="col-xs-12">
                    <p><span class="mylabel">@Resources.ShipTo</span></p>
                </div>
                <div class="col-xs-12">
                    <p>
                        @Html.DisplayFor(x => x.CustomerShipTo)
                    </p>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Comment))
            {
                <div class="col-xs-12">
                    <p><span class="mylabel">@Resources.Comment</span></p>
                </div>
                <div class="col-xs-12">
                    @Html.DisplayFor(x => x.Comment)
                </div>
            }
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-right uppercase">Orden de Transporte de Concreto @Html.DisplayFor(x => x.Id)</h2>
            </div>
            <div class="col-xs-12">
                <p><span class="mylabel">Operador</span></p>
            </div>
            <div class="col-xs-12">
                <p>@Html.DisplayFor(x => x.SalesPerson.Name)</p>
            </div>
            <div class="col-xs-12">
                <p><span class="mylabel">Unidad de Transporte</span></p>
            </div>
            <div class="col-xs-12">
                <p>@(string.IsNullOrEmpty(json.unidadDeTransporte.ToString()) ? "" : json.unidadDeTransporte)</p>
            </div>
            <div class="col-xs-12">
                <p><span class="mylabel">@Resources.Date</span></p>
            </div>
            <div class="col-xs-12">
                <p>@Html.DisplayFor(x => x.Date)</p>
            </div>
        </div>
    </div>
</div>

<div style="margin-top:5mm; min-height: 2.2mm; border-bottom: #333 solid 3px"></div>

<table style="border-spacing:0 4px;border-collapse: separate;">
    <thead>
        <tr>
            <th colspan="12" class="col-xs-12 text-center">Características del Concreto</th>
        </tr>
    </thead>
    <tbody>
        <tr class="">
            <td colspan="12">
                <div class="row">
                    <div class="col-xs-2 ">
                        <p><span class="mylabel">Volumen m³:</span></p>
                    </div>
                    <div class="col-xs-1">
                        <p><span class="left">@(string.IsNullOrEmpty(json.volumenM3.ToString()) ? "---" : json.volumenM3)</span></p>
                    </div>
                    <div class="col-xs-2">
                        <p><span class="mylabel">Tipo:</span></p>
                    </div>
                    <div class="col-xs-1">
                        <p><span class="left">@(string.IsNullOrEmpty(json.tipo.ToString()) ? "---" : json.tipo)</span></p>
                    </div>

                    <div class="col-xs-2">
                        <p><span class="mylabel">Resistencia:</span></p>
                    </div>
                    <div class="col-xs-1">
                        <p><span class="left">@(string.IsNullOrEmpty(json.resistenciaConcreto.ToString()) ? "---" : json.resistenciaConcreto)</span></p>
                    </div>
                    <div class="col-xs-2">
                        <p><span class="mylabel">Edad Garantía:</span></p>
                    </div>
                    <div class="col-xs-1">
                        <p><span class="left">@(string.IsNullOrEmpty(json.edadGarantia.ToString()) ? "---" : json.edadGarantia)</span></p>
                    </div>
                    <div class="col-xs-2 ">
                        <p><span class="mylabel">TMA:</span></p>
                    </div>
                    <div class="col-xs-1">
                        <p><span class="left">@(string.IsNullOrEmpty(json.TMA.ToString()) ? "---" : json.TMA)</span></p>
                    </div>
                    <div class="col-xs-2">
                        <p><span class="mylabel">Revenimiento:</span></p>
                    </div>
                    <div class="col-xs-1">
                        <p><span class="left">@(string.IsNullOrEmpty(json.revenimientoCM.ToString()) ? "---" : json.revenimientoCM)</span></p>
                    </div>
                    <div class="col-xs-2 ">
                        <p><span class="mylabel">Tiro:</span></p>
                    </div>
                    <div class="col-xs-1">
                        <p><span class="left">@(string.IsNullOrEmpty(json.tiro.ToString()) ? "---" : json.tiro)</span></p>
                    </div>
                    <div class="col-xs-2">
                        <p><span class="mylabel">Pedido m³:</span></p>
                    </div>
                    <div class="col-xs-1">
                        <p><span class="left">@(string.IsNullOrEmpty(json.pedidoM3.ToString()) ? "---" : json.pedidoM3)</span></p>
                    </div>
                    <div class="col-xs-2 ">
                        <p><span class="mylabel">Por Surtir:</span></p>
                    </div>
                    <div class="col-xs-1">
                        <p><span class="left">@(string.IsNullOrEmpty(json.porSurtirM3.ToString()) ? "---" : json.porSurtirM3)</span></p>
                    </div>
                    <div class="col-xs-12 text-center" style="min-height: 2.2mm; border-top: #333 solid 1px; border-bottom: #333 solid 1px; margin-bottom:2mm;">
                        <p><span>Aditivos.</span></p>
                    </div>
                    <div class="col-xs-3 ">
                        <p><span class="mylabel">Impermeabilizante:</span></p>
                    </div>
                    <div class="col-xs-1">
                        <p><span class="left">@(string.IsNullOrEmpty(json.impermeabilizante.ToString()) ? "---" : json.impermeabilizante)</span></p>
                    </div>
                    <div class="col-xs-3">
                        <p><span class="mylabel">Retardante De Fraguado:</span></p>
                    </div>
                    <div class="col-xs-1">
                        <p><span class="left">@(string.IsNullOrEmpty(json.retardanteDeFraguado.ToString()) ? "---" : json.retardanteDeFraguado)</span></p>
                    </div>
                    <div class="col-xs-2 ">
                        <p><span class="mylabel">Aceletente:</span></p>
                    </div>
                    <div class="col-xs-1">
                        <p><span class="left">@(string.IsNullOrEmpty(json.aceletente.ToString()) ? "---" : json.aceletente)</span></p>
                    </div>
                    <div class="col-xs-2">
                        <p><span class="mylabel">Fibras:</span></p>
                    </div>
                    <div class="col-xs-1">
                        <p><span class="left">@(string.IsNullOrEmpty(json.fibras.ToString()) ? "---" : json.fibras)</span></p>
                    </div>
                    <div class="col-xs-3 ">
                        <p><span class="mylabel">Aditivos Especiales:</span></p>
                    </div>
                    <div class="col-xs-1">
                        <p><span class="left">@(string.IsNullOrEmpty(json.aditivosEspeciales.ToString()) ? "---" : json.aditivosEspeciales)</span></p>
                    </div>
                    <div class="col-xs-12 text-center" style="min-height: 2.2mm; border-top: #333 solid 1px; border-bottom: #333 solid 1px; margin-bottom:2mm;">
                        <p><span>Servicios Complementarios.</span></p>
                    </div>
                    <div class="col-xs-3">
                        <p><span class="mylabel">Renta Vibrador:</span></p>
                    </div>
                    <div class="col-xs-1">
                        <p><span class="left">@(string.IsNullOrEmpty(json.rentaVibrador.ToString()) ? "---" : json.rentaVibrador)</span></p>
                    </div>
                    <div class="col-xs-3">
                        <p><span class="mylabel right">Servicio de Bomba:</span></p>
                    </div>
                    <div class="col-xs-1">
                        <p><span class="left">@(string.IsNullOrEmpty(json.servicioBomba.ToString()) ? "---" : json.servicioBomba)</span></p>
                    </div>
                    <div class="col-xs-12">
                        <p><span class="mylabel">Observaciones:</span></p>
                    </div>
                    <div class="col-xs-12">
                        <p><span class="left">@(string.IsNullOrEmpty(json.observaciones.ToString()) ? "" : json.observaciones)</span></p>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="row" style="min-height: 2.2mm; border-top: #333 solid 3px; border-bottom: #333 solid 1px">
    <div class="col-xs-12 text-center"><p><span>Itinerario de traslado de pedido.</span></p></div>
</div>

<div class="row" style="margin-top:5mm">
    <div class="col-xs-2 col-xs-offset-1 text-center">
        <p><span class="center">@(string.IsNullOrEmpty(json.salidaPlanta.ToString()) ? "" : json.salidaPlanta)</span></p>
    </div>
    <div class="col-xs-2 col-xs-offset-1 text-center">
        <p><span class="center">@(string.IsNullOrEmpty(json.llegadaObra.ToString()) ? "" : json.llegadaObra)</span></p>
    </div>
    <div class="col-xs-2 col-xs-offset-1 text-center">
        <p><span class="center">@(string.IsNullOrEmpty(json.inicioDescarga.ToString()) ? "" : json.inicioDescarga)</span></p>
    </div>
    <div class="col-xs-2 col-xs-offset-1 text-center">
        <p><span class="center">@(string.IsNullOrEmpty(json.finDescarga.ToString()) ? "" : json.finDescarga)</span></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-2 col-xs-offset-1 text-center" style="border-top: #333 solid 1px">
        Hora Salida de Planta<br />
    </div>
    <div class="col-xs-2 col-xs-offset-1 text-center" style="border-top: #333 solid 1px">
        Hora Llegada a Obra
    </div>
    <div class="col-xs-2 col-xs-offset-1 text-center" style="border-top: #333 solid 1px">
        Hora Inicio Descarga<br />
    </div>
    <div class="col-xs-2 col-xs-offset-1 text-center" style="border-top: #333 solid 1px">
        Hora Fin de Descarga
    </div>
</div>
<div class="row" style="margin-top:5mm">
    <div class="col-xs-2 col-xs-offset-5 text-center">
        <p><span class="center">@(string.IsNullOrEmpty(json.salidaObra.ToString()) ? "" : json.salidaObra)</span></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-2 col-xs-offset-5 text-center" style="border-top: #333 solid 1px">
        Hora Salida de Obra<br />
    </div>
</div>
<div class="row" style="min-height: 2.2mm; border-top: #333 solid 3px; border-bottom: #333 solid 1px">
    <div class="col-xs-12 text-center"><p><span>Nombre y firma de quien recibe el pedido.</span></p></div>
</div>

<div class="row" style="margin-top:20mm">
    <div class="col-xs-3 col-xs-offset-2 text-center" style="border-top: #333 solid 1px">
        @Resources.Name<br />
    </div>
    <div class="col-xs-3 col-xs-offset-2 text-center" style="border-top: #333 solid 1px">
        @Resources.AgreementSignature
    </div>
</div>