@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model Search<InventoryTransfer>

@{
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.InventoryTransfers);

    ViewBag.Title = Resources.Title_InventoryTransfer;
    ViewBag.Privilege = Privilege;
}

<table id="inventory-transfers">
    <tr>
        <th>@Resources.Id</th>
        <th>@Html.LabelFor(x => new InventoryTransfer().CreationTime)</th>
        <th>@Html.LabelFor(x => new InventoryTransfer().From)</th>
        <th>@Html.LabelFor(x => new InventoryTransfer().To)</th>
        <th>@Html.LabelFor(x => new InventoryTransfer().IsCompleted)</th>
        <th>@Html.LabelFor(x => new InventoryTransfer().IsCancelled)</th>
        <th></th>
    </tr>
@foreach (var item in Model.Results) {
    @Html.Partial("Transfers/_Item", item)
}
</table>
<script type="text/javascript">
    bindModal('.open-modal');
    $('a.paging').click(function (e) {
        var offset=@Model.Offset;

        if($(this).hasClass('next')) {
            offset+=@Model.Limit;
        } else {
            offset-=@Model.Limit;
        }

        e.preventDefault();
        $('#activity-indicator').show();
        $('#search-results').hide();

    });
</script>

<div class="buttons right">
	<label class="button left">@Model.ToString()</label>@if (Model.HasPrev) {<a class="button middle icon prev icon-only" title="@Resources.PrevPage" href="javascript:void(0)"></a>}@if (Model.HasNext) {<a class="button right icon next icon-only" title="@Resources.NextPage" href="javascript:void(0)"></a>}
</div>

<script type="text/javascript">
$(function () {
	$('[data-toggle="tooltip"]').tooltip();
@if (Model.HasPrev) {
	<text>
	$('a.prev').click(function (e) {
        e.preventDefault();
        $("#activity-indicator").show();
        $("#search-results").hide();
        $.post('@Url.Action("Transfers")', { Pattern: "@Model.Pattern", Offset: "@(Model.Offset-Model.Limit)", Limit: "@Model.Limit" }, function (data) {
            $("#search-results").html(data);
            $("#search-results").show();
            $("#activity-indicator").hide();
        });
    });
	</text>
}
@if (Model.HasNext) {
	<text>
    $('a.next').click(function (e) {
        e.preventDefault();
        $("#activity-indicator").show();
        $("#search-results").hide();
        $.post('@Url.Action("Transfers")', { Pattern: "@Model.Pattern", Offset: "@(Model.Offset+Model.Limit)", Limit: "@Model.Limit" }, function (data) {
            $("#search-results").html(data);
            $("#search-results").show();
            $("#activity-indicator").hide();
        });
    });
	</text>
}
});
</script>