@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model CustomerReturn

@{
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.CustomerReturns);
}

<fieldset>
    <legend>@Resources.DisplayName_SalesInformation</legend>

    <div class="display-label right floating">
        @Html.LabelFor(model => model.SalesOrder.Id) @Html.Label(":")
        @Html.DisplayFor(model => model.SalesOrder.Id)
    </div>

    <div class="display-label right floating">
        @Html.LabelFor(model => model.SalesOrder.Date) @Html.Label(":")
        @Html.DisplayFor(model => model.SalesOrder.Date)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.SalesOrder.Customer) @Html.Label(":")
        @Html.DisplayFor(model => model.SalesOrder.Customer.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.SalesOrder.Customer.PriceList) @Html.Label(":")
        @Html.DisplayFor(model => model.SalesOrder.Customer.PriceList.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.SalesOrder.SalesPerson) @Html.Label(":")
        @Html.DisplayFor(model => model.SalesOrder.SalesPerson.Name)
    </div>

</fieldset>
<script type="text/javascript">
    var CustomerReturn = { Id: @Model.Id };
</script>