@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model SalesOrderDetail

<li id='id:@Model.Id'>
    <div class='photo'>
        <img src='@Url.Content(Model.Product.Photo)' title='@Model.ProductName' />
    </div>
				<div class='info'>
								<span class='thick'>@Html.DisplayFor(x => x.ProductName)</span>
								<br />
								<b>@Resources.Code: </b>
								<span>@Html.DisplayFor(x => x.ProductCode)</span>
								<b>@Resources.UnitOfMeasurement: </b>
								<span class='editable um'>@Html.DisplayFor(x => Model.Product.UnitOfMeasurement.Name)</span>
								<b>@Resources.LotNumber: </b>
								<span class='editable um'>@Html.DisplayFor(x => Model.Lot.LotNumber)</span>
								@if (!string.IsNullOrWhiteSpace(Model.Product.Model))
								{
												<b>@Resources.Model: </b>
												<span>@Html.DisplayFor(x => x.Product.Model)</span>
								}
								@if (!string.IsNullOrWhiteSpace(Model.Product.SKU))
								{
												<b>@Resources.SKU: </b>
												<span>@Html.DisplayFor(x => x.Product.SKU)</span>
								}
								<br />
								<b>@Resources.Price:</b>
								<span class='editable price'>@Html.DisplayFor(x => x.Price)</span>
								<span class='editable currency'>@Html.DisplayFor(x => x.Currency)</span>
								<b>@Resources.Quantity:</b>
								<span class='editable quantity'>@Html.DisplayFor(x => x.Quantity)</span>
								<b>@Resources.Discount:</b>
								<span class='editable discount'>@Html.DisplayFor(x => x.DiscountRate) : @string.Format("{0:c}", Model.DiscountRate * Model.Price)</span>
								<b>@Resources.TaxRate:</b>
								<span class='editable tax'>@Html.DisplayFor(x => x.TaxRate)</span>
								<b>@Resources.Amount:</b>
								<span class='editable subtotal'>@Html.DisplayFor(x => x.Total)</span>
								<span class='editable currency'>@Html.DisplayFor(x => x.Currency)</span>
								@if (Model.Currency != WebConfig.BaseCurrency)
								{
												<a href="javascript:void(0)" class="subtotal2" data-toggle="tooltip" title="@Html.DisplayFor(x => x.TotalEx) @WebConfig.BaseCurrency">
																<span class="glyphicon glyphicon-exclamation-sign"></span>
												</a>
								}
								@if (!string.IsNullOrWhiteSpace(Model.Comment))
								{
												<br />
												<b style='vertical-align:top;'>@Resources.Comment:</b>
												<span style='display: inline-block;'>@Html.DisplayFor(x => x.Comment)</span>
								}
				</div>
</li>