@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model IEnumerable<CustomerRefundDetail>


<table>
    <tr>
        <th>
            @Html.LabelFor(x => new CustomerRefundDetail().ProductCode)
        </th>

        <th>
            @Html.LabelFor(x => new CustomerRefundDetail().ProductName)
        </th>

        <th>
            @Html.LabelFor(x => new CustomerRefundDetail().Quantity)
        </th>

        <th>
            @Html.LabelFor(x => new CustomerRefundDetail().Price)
        </th>
        
        <th>
            @Html.LabelFor(x => new CustomerRefundDetail().Discount)
        </th>

        <th>
            @Html.LabelFor(x => new CustomerRefundDetail().TaxRate)
        </th>
        
        <th>
            @Html.LabelFor(x => new CustomerRefundDetail().Total)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="number">
            @Html.DisplayFor(x => item.ProductCode)
        </td>
        <td>
            @Html.DisplayFor(x => item.ProductName)
        </td>
        <td class="number">
            @Html.DisplayFor(x => item.Quantity)
        </td>
        <td class="number">
            @Html.DisplayFor(x => item.Price)
        </td>
        <td class="number">
            @Html.DisplayFor(x => item.Discount)
        </td>
        <td class="number">
            @Html.DisplayFor(x => item.Taxes)
        </td>
        <td class="number">
            @Html.DisplayFor(x => item.Total)
        </td>
    </tr>
}
<tr>
    <td></td>
    <td class="number">
        @Resources.Total
    </td>
    <td class="number">
        @Model.Sum(x => x.Quantity).ToString("0.####")
    </td>
    <td></td>
    <td></td>
    <td class="number">
        @Model.Sum(x => x.Taxes)
    </td>
    <td class="number">
        @Model.Sum(x => x.Total).ToString("c")
    </td>
</tr>
</table>
