@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model IEnumerable<Kardex>

<table>
    <tr>
        <th>
            @Html.LabelFor(x => new Kardex().Date)
        </th>
        <th>
            @Html.LabelFor(x => new Kardex().Source)
        </th>
        <th>
            @Resources.Title_InventoryReceipt
        </th>
        <th>
            @Resources.Title_InventoryIssue
        </th>
        <th>
            @Resources.Total
        </th>
        
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td class="date">
            @Html.DisplayFor(x => item.Date)
        </td>
        <td >
            @item.Source.GetDisplayName() (@Html.DisplayFor(x => item.Reference))
        </td>
        <td class="number">
            @if (item.Quantity > 0) {
                @item.Quantity.ToString("0.####")
            }
        </td>
        <td class="number">
            @if (item.Quantity < 0) {
                @Math.Abs(item.Quantity).ToString("0.####")
            }
        </td>
        <td></td>
    </tr> 
}
    <tr>
        <td></td>
        <td class="right">@Resources.Total</td>
        <td></td>
        <td></td>
        <td class="number">@Model.Sum(x => x.Quantity).ToString("0.####")</td>
    </tr>
</table>