@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model IEnumerable<dynamic>

@{
	decimal balance = ViewBag.OpeningBalance;
}
<table>
    <tr>
        <th>@Resources.Date</th>
        <th>@Resources.Source</th>
        <th>@Resources.Reference</th>
        <th>@Resources.LotNumber</th>
        <th>@Resources.ExpirationDate</th>
        <th>@Resources.Title_InventoryReceipt</th>
        <th>@Resources.Title_InventoryIssue</th>
        <th>@Resources.Balance</th>
    </tr>
    <tr>
        <td class='text-right' colspan='5'>@Resources.OpeningBalance</td>
        <td class='text-right' colspan='3'>@balance.ToString("0.####")</td>
    </tr>
    @foreach (var item in Model) {
	balance += item.Quantity;
    <tr>
        <td class='date'>@item.Date.ToString("d")</td>
        <td>@(((TransactionType)item.Source).GetDisplayName ())</td>
        <td class='text-center'>@item.Reference</td>
        <td class='text-center'>@item.LotNumber</td>
        <td class='date'>
            @if (item.ExpirationDate != null) {
                @item.ExpirationDate.ToString("d")
            }
        </td>
        <td class='number'>
            @if (item.Quantity > 0) {
                @item.Quantity.ToString("0.####")
            }
        </td>
        <td class='number'>
            @if (item.Quantity < 0) {
                @Math.Abs(item.Quantity).ToString("0.####")
            }
        </td>
        <td class='number'>@balance.ToString("0.####")</td>
    </tr> 
	}
    <tr class="total">
        <td class='right' colspan='5'>@Resources.Total</td>
        <td class='number'>@Model.Where(x => x.Quantity > 0m).Sum(x => (decimal) x.Quantity).ToString("0.####")</td>
        <td class='number'>@Math.Abs(Model.Where(x => x.Quantity < 0m).Sum(x => (decimal) x.Quantity)).ToString("0.####")</td>
        <td class='number'>@balance.ToString("0.####")</td>
    </tr>
</table>