@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model IEnumerable<dynamic>

<table class='table table-condensed'>
	<thead>
	    <tr>
	        <th class='nowrap center'>@Resources.Date</th>
	        <th class='nowrap center'>@Resources.SalesPerson</th>
	        <th class='nowrap center'>@Resources.SalesOrder</th>
	        <th class='center'>@Resources.FiscalDocument</th>
	        <th class='center'>@Resources.DueDate</th>
	        <th class='nowrap center'>@Resources.Customer</th>
	        <th class='nowrap center'>@Resources.Total</th>
	        <th class='nowrap center'></th>
	    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td class='date'>@item.Date.ToString("yyyy-MM-dd")</td>
        <td class='nowrap'>@item.SalesPerson</td>
        <td class='number'>@item.SalesOrder</td>
        <td class='center' style='word-wrap:break-word'>@item.Invoices</td>
        <td class='date'>@item.DueDate</td>
        <td>@item.Customer</td>
        <td class='currency'>@item.TotalEx.ToString("c")</td>
    @if ((CurrencyCode)item.Currency == Configuration.BaseCurrency) {
        <td class='currency'></td>
    } else {
        <td class='currency'>@item.Total.ToString("c") @((CurrencyCode)item.Currency)</td>
    }
    </tr>
}
    </tbody>
    <tfoot>
	    <tr>
	        <td class='center' colspan='6'>@Model.Count() @Resources.SalesOrders</td>
	        <td class='number'><b>@Model.Sum(x => (decimal)x.TotalEx).ToString("c")</b></td>
	        <td class='number'><b>@Model.Where(x => (CurrencyCode)x.Currency != Configuration.BaseCurrency).Sum(x => (decimal)x.Total).ToString("c")</b></td>
	    </tr>
    </tfoot>
</table>
