@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model IEnumerable<SalesOrder>

@{
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.CustomerPayments);
}

<table class='table table-condensed'>
	<thead>
	    <tr>
	        <th class='nowrap center'>@Resources.SalesOrder</th>
	        <th class='nowrap center'>@Resources.Date</th>
	        <th class='center'>@Resources.FiscalDocument</th>
	        <th class='nowrap center'>@Resources.Customer</th>
	        <th class='nowrap center'>@Resources.Total</th>
	    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
    @if (Html.GetPrivilege(CurrentUser, SystemObjects.SalesOrders).AllowRead) {
		<td class='number'><a href='@Url.Action("View", "SalesOrders", new { id = item.Id })' target='_blank'>@Html.DisplayFor(x => item.Id)</a></td>
	} else {
		<td class='number'>@Html.DisplayFor(x => item.Id)</td>
	}
        <td class='date'>@Html.DisplayFor(x => item.Date)</td>
        <td class='date'>@item.InvoiceSerials()</td>
        <td>@Html.DisplayFor(x => item.Customer.Name)</td>
        <td class='currency'>@Html.DisplayFor(x => item.TotalEx)</td>
    </tr>
}
    </tbody>
    <tfoot>
	    <tr>
	        <td colspan='4'/>
	        <td class='currency'><b>@Model.Sum(x => x.TotalEx).ToString("c")</b></td>
	    </tr>
    </tfoot>
</table>
