@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model IEnumerable<dynamic>

<table>
    <tr>
        <th class='nowrap'>@Resources.Brand</th>
        <th class='nowrap'>@Resources.Model</th>
        <th class='nowrap'>@Resources.ProductCode</th>
        <th class='nowrap'>@Resources.ProductName</th>
        <th class='nowrap'>@Resources.Quantity</th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td class='nowrap text-center'>@item.Brand</td>
            <td class='nowrap text-center'>@item.Model</td>
            <td class='nowrap text-center'>@item.Code</td>
            <td>@item.Name</td>
            <td class='nowrap text-right'>
                @item.Quantity.ToString("0.#")
            </td>
        </tr>
    }
    <tr class="total">
        <td class='right' colspan='4'>@Resources.Total</td>
        <td class='number'>@Model.Where(x => x.Quantity > 0m).Sum(x => (decimal) x.Quantity).ToString("0.####")</td>
    </tr>
</table>
