@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model CustomerRefund

 @{
    ViewBag.Title = Resources.Details;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.CustomerRefundsHistoric);    
}

<h2>@Resources.Details</h2>

<fieldset>
    <legend>@Resources.CustomerRefund</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.Id) @Html.Label(":")
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.CreationTime) @Html.Label(":")
        @Html.DisplayFor(model => model.CreationTime)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Creator) @Html.Label(":")
        @Html.DisplayFor(model => model.Creator.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.SalesOrder) @Html.Label(":")
        @Html.DisplayFor(model => model.SalesOrder.Id)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.SalesPerson) @Html.Label(":")
        @Html.DisplayFor(model => model.SalesPerson.Name)
    </div>

</fieldset>

<fieldset>
    <legend>@Mictlanix.BE.Resources.CustomerRefundDetails</legend>
    @Html.Partial("_CustomerRefundDetails", Model.Details)
</fieldset>
<p>
    @Html.ActionLink(Resources.BackToList, "Historic", new { }, new { @class = "button icon back" })
</p>