@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model DateRange

@{
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.Kardex);
}

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "search-results", LoadingElementId = "activity-indicator", OnBegin = "onSearchBegin" }))
{
    <fieldset>
        <legend>@Resources.MasterInformation</legend>
        @Html.Hidden("warehouse", (object)ViewBag.Warehouse.Id)
        @Html.Hidden("product", (object)ViewBag.Product.Id)
        <div class="display-label">
            @Html.LabelFor(x => new Kardex().Warehouse):
            @ViewBag.Warehouse.Name
        </div>
        <div class="display-label">
            @Html.LabelFor(x => new Kardex().Product):
            @ViewBag.Product.Name
        </div>
        <table class="nonborder">
            <tr>
                <td class="date nonborder">
                    @Html.LabelFor(x => x.StartDate)
                </td>
                <td class="date nonborder">
                    @Html.EditorFor(x => x.StartDate)
                </td>
                <td class="date nonborder">
                    @Html.LabelFor(x => x.EndDate)
                </td>
                <td class="nonborder">
                    @Html.EditorFor(x => x.EndDate)
                </td>
                <td class="right nonborder">
                    <button type="submit" class="icon save">@Resources.Search</button>
                </td>
            </tr>
        </table>
    </fieldset>
}
<div id="activity-indicator">
    <img alt="@Resources.Loading" src="@Url.Content("~/Content/images/loading-bar.gif")" />
</div>
<div id="search-results">

</div>
<script type="text/javascript">
    function onSearchBegin() {
        $("#search-results").html(null);
    }
</script>
<script type="text/javascript">
    $(function () {

    });
</script>
<style type="text/css">
.nonborder {
  border-style:hidden;
}
</style>
