@using Mictlanix.BE
@using Mictlanix.BE.Model;
@using Mictlanix.BE.Web.Helpers;
@model SalesOrder

<h2>@Resources.SalesOrder</h2>

<div id="master-section">
	@Html.Partial("../SalesOrders/_DisplayView")
</div>

<div id="details-section">
    <div id="items-container">
        <ul id="items" class="list-items">
        @foreach (var item in Model.Details) {
            @Html.Partial("../SalesOrders/_ItemDisplayView", item) 
        }
        </ul>
    </div>
</div>
<div id='totals-section' class='pull-right'>
    @Html.Partial("../SalesOrders/_Totals")
</div>
<div class='clearfix'></div>
<div id='back-to-list' class='pull-left'>
    @Html.ActionLink(Resources.BackToList, "SalesOrdersHistoric", new { }, new { @class = "button icon back" })
</div>
<div class='clearfix'></div>
<script type='text/javascript'>
$(function () {
	$('[data-toggle="tooltip"]').tooltip();
});
</script>