@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model ExpenseVoucher

@{
    Layout = WebConfig.ReceiptLayout;
    ViewBag.Title = Html.PrintFileName(Resources.ExpenseVoucher, Model.Id);
    ViewBag.Store = Model.Store;
    ViewBag.TaxpayerName = null;
    ViewBag.Taxpayer = null;
    ViewBag.Address = Model.Store.Address;
}

<div class="row">
	<div class="col-xs-6 text-left">
		<div class="row">
			<div class="col-xs-12 uppercase">
				<h2>@Resources.Cashier</h2>
			</div>
			<div class="col-xs-12">
				<p><span class="mylabel">@Resources.Name</span></p>
			</div>
			<div class="col-xs-12">
				<p>@Html.DisplayFor(x => x.Creator.Name)</p>
			</div>
			<div class="col-xs-12">
				<p><span class="mylabel">@Resources.Comment</span></p>
			</div>
			<div class="col-xs-12">
				<p>@Html.DisplayFor(x => x.Comment)</p>
			</div>

		</div>
	</div>
	<div class="col-xs-6 text-right">
		<div class="row">
			<div class="col-xs-12">
				<p><span class="mylabel">@Resources.DateTime</span></p>
			</div>
			<div class="col-xs-12">
				<p>@Html.DisplayFor(x => x.Date)</p>
			</div>
		</div>
	</div>
</div>

<div style="min-height: 2.2mm; border-top: #333 solid 1px; border-bottom: #333 solid 3px"></div>

<table style="border-spacing:0 4px;border-collapse: separate;">
	<tbody>
		@foreach (var item in Model.Details) {
				<tr class="alt">
					<td class="col-xs-2">@Html.DisplayFor(x => item.Expense.Name)</td>
					<td class="col-xs-6">@Html.DisplayFor(x => item.Comment)</td>
					<td class="">@Html.DisplayFor(x => item.Amount)</td>
				</tr>
				<tr>
					<td class="line" colspan="5"></td>
				</tr>
		}
	</tbody>
</table>

<div style="min-height: 2.2mm; border-top: #333 solid 3px; border-bottom: #333 solid 1px"></div>

<div class="row" style="margin-top:20mm">
	<div class="col-xs-8 col-xs-offset-2 text-center" style="border-top: #333 solid 1px">
		@Resources.DeliveryPerson<br />
		@Resources.NameAndSignature
	</div>
</div>

<div class="row" style="margin-top:20mm">
	<div class="col-xs-8 col-xs-offset-2 text-center" style="border-top: #333 solid 1px">
		@Resources.PersonReceipt<br />
		@Resources.NameAndSignature
	</div>
</div>

