@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model ExpenseVoucher

@{
    Layout = WebConfig.PrintLayout;
    ViewBag.Title = Html.PrintFileName(Resources.ExpenseVoucher, Model.Id);
    ViewBag.Store = Model.Store;
    ViewBag.TaxpayerName = null;
    ViewBag.Taxpayer = null;
    ViewBag.Address = Model.Store.Address;
}

<div class="row">
	<div class="col-xs-6 text-left">
		<div class="row">
			<div class="col-xs-12 uppercase">
				<h2>@Resources.Cashier</h2>
			</div>
		 	<div class="col-xs-12">
		 		<p><span class="mylabel">@Resources.Creator</span></p>
	 		</div>
	 		<div class="col-xs-12">
	 			<p>@Html.DisplayFor(x =>x.Creator.Name)</p>
 			</div>
		@if(!string.IsNullOrWhiteSpace (Model.Comment)) {
		 	<div class="col-xs-12">
		 		<p><span class="mylabel">@Resources.Comment</span></p>
	 		</div>
	 		<div class="col-xs-12">
	 			@Html.DisplayFor(x => x.Comment)
 			</div>
		}
 		</div>
	</div>
	<div class="col-xs-6 text-right">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="text-right uppercase">@Resources.ExpenseVoucher @Html.DisplayFor(x => x.Id)</h2>
			</div>
			<div class="col-xs-12">
				<p><span class="mylabel">@Resources.DateTime</span></p>
			</div>
	 		<div class="col-xs-12">
				<p>@Html.DisplayFor(x => x.Date)</p>
	 		</div>
		</div>
	</div>
</div>

<div style="margin-top:5mm; min-height: 2.2mm; border-top: #333 solid 1px; border-bottom: #333 solid 3px"></div>

<table  style="border-spacing:0 4px;border-collapse: separate;">
    <thead>
        <tr>
            <th class="col-xs-2 text-center">@Resources.Description</th>
            <th class="col-xs-6 text-center">@Resources.DetailInformation</th>
            <th class="col-xs-1 text-center">@Resources.Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Details) {
            <tr class="alt">
                <td class="text-center">@Html.DisplayFor(x => item.Expense.Name)</td>
                <td class="text-center">@Html.DisplayFor(x => item.Comment)</td>
                <td class="text-center">@Html.DisplayFor(x => item.Amount)</td>
            </tr>
        }
    </tbody>
</table>

<div style="min-height: 2.2mm; border-top: #333 solid 3px; border-bottom: #333 solid 1px"></div>

<table>
	<tfoot>
        <tr>
            <td class="col-xs-10 nowrap"><h2 class="row">@Resources.SinglePayment</h2></td>
            <td class="col-xs-1 nowrap text-right">@Resources.Total</td>
            <td class="col-xs-1 nowrap text-right">@Html.DisplayFor(x => x.Total)</td>
        </tr>
	</tfoot>
</table>
