@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model PurchaseClearance

@{
    ViewBag.Title = Resources.PurchaseClearance;
}

<h2>@Resources.PurchaseClearance</h2>

<div id="master-section">
	@Html.Partial("_DisplayView")
</div>
<div id="items-container">
    <table>
        @foreach (var item in Model.Details.Where(x => x.IsCharge)) {
            @Html.Partial("_ItemDisplayView", item) 
        }
        @foreach (var item in Model.Details.Where(x => !x.IsCharge)) {
            @Html.Partial("_ItemExpenseDisplayView", item) 
        }
        <tr>
            <td colspan="4" class="text-center"><b>@Resources.Totals</b></td>
        </tr>
        <tr><td></td><td><b>@Resources.Sales @Resources.Totals</b></td><td><b>@Html.DisplayFor(x => Model.TotalSales)</b></td></tr>
        <tr><td></td><td><b>@Resources.Commision (@Html.DisplayFor(x => Model.Commission))</b></td><td><b>-@Html.DisplayFor(x => Model.TotalCommision)</b></td></tr>
        <tr><td></td><td><b>@Resources.Expenses @Resources.Totals</b></td><td><b>-@Html.DisplayFor(x => Model.TotalExpenses)</b></td></tr>
        <tr><td></td><td><b>@Resources.Total</b></td><td><b>@Html.DisplayFor(x => Model.Total)</b></td></tr>
    </table>
</div>

@*<div id='totals-section' class='pull-right' data-url='@Url.Action("Totals", new { id = Model.Id })'>
    @Html.Partial("_Totals")
</div>*@
<div class='clearfix'></div>
<div id='back-to-list' class='pull-left'>
    @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })
</div>
<div class='pull-right'>
	@Html.ActionLink(Resources.Print, "Pdf", new { id = Model.Id }, new { @class = "button icon print", target = "_blank" })
</div>
<div class='clearfix'></div>
<script type='text/javascript'>
$(function () {
	$('[data-toggle="tooltip"]').tooltip();
});
</script>