@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model TaxpayerIssuer

<fieldset>
    <legend>@Resources.Title_Taxpayer</legend>
	
	<div class="row-fluid">
	  	<div class="col-xs-3">@Html.LabelFor(x => x.Id)</div>
		<div class="col-xs-9">@Html.LabelFor(x => x.Name)</div>
	</div>
	<div class="row-fluid">
	  	<div class="col-xs-3"><div class="ro-field">@Html.DisplayFor(x => x.Id)</div></div>
		<div class="col-xs-9"><div class="ro-field">@Html.DisplayFor(x => x.Name)</div></div>
	</div>
	<div class="row-fluid">
	  	<div class="col-xs-12">@Html.LabelFor(x => x.Regime)</div>
	</div>
	<div class="row-fluid">
	  	<div class="col-xs-12"><div class="ro-field">@Html.DisplayFor(x => x.Regime)</div></div>
	</div>
@if(Model.Address != null) {
	<div class="row-fluid">
	  	<div class="col-xs-6">@Html.LabelFor(x => x.Address.Street)</div>
		<div class="col-xs-3">@Html.LabelFor(x => x.Address.ExteriorNumber)</div>
	  	<div class="col-xs-3">@Html.LabelFor(x => x.Address.InteriorNumber)</div>
	</div>
	<div class="row-fluid">
	  	<div class="col-xs-6"><div class="ro-field">@Html.DisplayFor(x => x.Address.Street)</div></div>
		<div class="col-xs-3"><div class="ro-field">@Html.DisplayFor(x => x.Address.ExteriorNumber)</div></div>
	  	<div class="col-xs-3"><div class="ro-field">@Html.DisplayFor(x => x.Address.InteriorNumber)</div></div>
	</div>
	<div class="row-fluid">
	  	<div class="col-xs-4">@Html.LabelFor(x => x.Address.PostalCode)</div>
	  	<div class="col-xs-4">@Html.LabelFor(x => x.Address.Neighborhood)</div>
		<div class="col-xs-4">@Html.LabelFor(x => x.Address.Locality)</div>
	</div>
	<div class="row-fluid">
	  	<div class="col-xs-4"><div class="ro-field">@Html.DisplayFor(x => x.Address.PostalCode)</div></div>
	  	<div class="col-xs-4"><div class="ro-field">@Html.DisplayFor(x => x.Address.Neighborhood)</div></div>
		<div class="col-xs-4"><div class="ro-field">@Html.DisplayFor(x => x.Address.Locality)</div></div>
	</div>
	<div class="row-fluid">
	  	<div class="col-xs-6">@Html.LabelFor(x => x.Address.Borough)</div>
	  	<div class="col-xs-6">@Html.LabelFor(x => x.Address.State)</div>
	</div>
	<div class="row-fluid">
	  	<div class="col-xs-6"><div class="ro-field">@Html.DisplayFor(x => x.Address.Borough)</div></div>
	  	<div class="col-xs-6"><div class="ro-field">@Html.DisplayFor(x => x.Address.State)</div></div>
	</div>
	<div class="row-fluid">
	  	<div class="col-xs-6">@Html.LabelFor(x => x.Address.City)</div>
		<div class="col-xs-6">@Html.LabelFor(x => x.Address.Country)</div>
	</div>
	<div class="row-fluid">
	  	<div class="col-xs-6"><div class="ro-field">@Html.DisplayFor(x => x.Address.City)</div></div>
		<div class="col-xs-6"><div class="ro-field">@Html.DisplayFor(x => x.Address.Country)</div></div>
	</div>
	<div class="row-fluid">
	  	<div class="col-xs-12">@Html.LabelFor(x => x.Address.Comment)</div>
	</div>
	<div class="row-fluid">
	  	<div class="col-xs-12"><div class="ro-field">@Html.DisplayFor(x => x.Address.Comment)</div></div>
	</div>
}
</fieldset>
