@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model IEnumerable<Taxpayer>

@{
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.Taxpayers);
}

<table>
    <tr>
        <th class='stretch'>@Resources.TaxpayerId</th>
        <th>@Resources.Name</th>
        <th>@Resources.Address</th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td class="center">@Html.DisplayFor(x => item.Id)</td>
        <td>@Html.DisplayFor(x => item.Name)</td>
        <td>@Html.DisplayFor(x => item.Address, "String")</td>
        <td class="actions">
    	@if (Privilege.AllowRead) {
        	@Html.ActionLink(" ", "Details", "Taxpayers", new { id = item.Id }, new { @class = "button icon view icon-only", @title = Resources.Details })
        }
    	@if (Privilege.AllowUpdate) {
        	@Html.ActionLink(" ", "Edit", "Taxpayers", new { id = item.Id }, new { @class = "button icon edit icon-only open-modal", @title = Resources.Edit, data_modal_id = "taxpayer-modal" })
        }
    	@if (Privilege.AllowDelete) {
        	@Html.ActionLink(" ", "Delete", "Taxpayers", new { id = item.Id }, new { @class = "button icon delete icon-only open-modal", @title = Resources.Delete, data_modal_id = "taxpayer-modal" })
        }
        </td>
    </tr>
}
</table>
<script type='text/javascript'>
bindModal('.open-modal');
</script>