@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model Taxpayer

@{
    ViewBag.Title = Resources.Details;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.Taxpayers);
}

<h2>@Resources.Details</h2>
<div id='master-section' class='refreshable' data-url='@Url.Action("Details", new { id = Model.Id })'>
	@Html.Partial("_Details")
</div>
<div id='details-section' class='tabbable'>
    <ul class='nav nav-tabs'>
        <li class='active'><a href='#tab-1' data-toggle='tab'>@Resources.TaxpayerBatches</a></li>
        <li><a href='#tab-2' data-toggle='tab'>@Resources.Certificates</a></li>
    </ul>
    <div class="tab-content">
	    <div id='tab-1' class='tab-pane active'>
	        @Html.Partial("_Batches", Model.Batches)
	    </div>
	    <div id='tab-2' class='tab-pane'>
        @if(Privilege.AllowUpdate) {
	        <p>@Html.ActionLink(Resources.Add, "AddCertificate", "Taxpayers", new { id = Model.Id }, new { @class = "button icon add" })</p>
		}
	        @Html.Partial("_Certificates", Model.Certificates)
	    </div>
	</div>
</div>
<div class="row-fluid vspaced">
    @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })
@if(Privilege.AllowUpdate) {
	@Html.ActionLink(Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "button icon edit open-modal pull-right", data_modal_id = "taxpayer-modal" })
}
</div>
<script type='text/javascript'>
bindModal('.open-modal');
</script>
