@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model Taxpayer

@{
    ViewBag.Title = Resources.Edit;
}

<h2>@Resources.Edit</h2>

@using (Html.BeginForm("Edit", "Taxpayers", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Resources.Title_Taxpayer</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Id)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Id)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Regime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Regime)
            @Html.ValidationMessageFor(model => model.Regime)
        </div>
        
		@Html.EditorFor(x => x.Address)
		@Html.HiddenFor(x => x.Address.Id)
		@Html.HiddenFor(x => x.Address.TaxpayerId)
		@Html.HiddenFor(x => x.Address.TaxpayerName)

		<div class="editor-label">
            @Html.LabelFor(x => x.CertificateNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.CertificateNumber)
            @Html.ValidationMessageFor(x => x.CertificateNumber)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(x => x.CertificateData)
        </div>
        <div class="editor-input">
            <input type="file" name="files" id="file1" />
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(x => x.KeyData)
        </div>
        <div class="editor-input">
            <input type="file" name="files" id="file2" />
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(m => m.KeyPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.KeyPassword2)
        </div>

        <p><button type="submit" class="icon save">@Resources.Save</button></p>
    </fieldset>
}
<div id="back-to-list">
	@Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })
</div>