@using Mictlanix.BE
@model Mictlanix.BE.Model.BankAccount

@{
    ViewBag.Title = Resources.CreateNew;
}

<h2>@Resources.Create</h2>

@using (Html.BeginForm("Create", "BankAccounts")) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Resources.Title_BankAccount</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.BankName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BankName)
            @Html.ValidationMessageFor(model => model.BankName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.AccountNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccountNumber)
            @Html.ValidationMessageFor(model => model.AccountNumber)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Reference)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Reference)
            @Html.ValidationMessageFor(model => model.Reference)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.RoutingNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RoutingNumber)
            @Html.ValidationMessageFor(model => model.RoutingNumber)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comment)
        </div>
       
        @Html.Hidden("OwnerId", (object)ViewBag.OwnerId)

        <p><button type="submit" class="icon save">@Resources.Create</button></p>

    </fieldset>
}

<div>
    @Html.ActionLink(Resources.BackToList, "Details", "Suppliers", new { id = ViewBag.OwnerId }, new { @class = "button icon back" })
</div>
