@using Business.Essentials
@using Business.Essentials.Model
@using Business.Essentials.WebApp.Helpers
@model BankAccount

@{
    ViewBag.Title = Resources.Details;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.BankAccounts);
}

<h2>@Resources.Details</h2>

<fieldset>
    <legend>@Resources.Title_BankAccount</legend>

        <div class="display-label">
            @Html.LabelFor(model => model.BankName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.BankName)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.AccountNumber)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AccountNumber)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.Reference)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Reference)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.RoutingNumber)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RoutingNumber)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Comment)
        </div>

        @Html.Hidden("OwnerId", (object)ViewBag.OwnerId)

</fieldset>
<p>
@if(Privilege.AllowUpdate)
{
    @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "button icon edit" })    
}
    @Html.ActionLink(Resources.BackToList, "Details", "Suppliers", new { id = ViewBag.OwnerId }, new { @class = "button icon back" })
</p>