@model Business.Essentials.Model.PriceList

@{
    ViewBag.Title = @Business.Essentials.Resources.CreateNew;
}

<h2>@Business.Essentials.Resources.Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Business.Essentials.Resources.Title_PriceList</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
       
        <div class="editor-label">
            @Html.LabelFor(model => model.HighProfitMargin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HighProfitMargin)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.LowProfitMargin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LowProfitMargin)
        </div>

        <p>
            <input type="submit" value= "@Business.Essentials.Resources.Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Business.Essentials.Resources.BackToList, "Index")
</div>
