@using Mictlanix.BE
@model Mictlanix.BE.Web.Models.ForgotPasswordModel

@{
    ViewBag.Title = Resources.Title_ForgotPassword;
}

<h2>@Resources.DisplayName_ForgotPassword</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, Resources.Message_ForgotPasswordFail)
    <div>
		<fieldset>
			<legend>@Resources.AccountInformation</legend>

			<div class="editor-label">
				@Html.LabelFor(m => m.Email)
			</div>
			<div class="editor-field">
				@Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(m => m.Email)
			</div>

			<p><button type="submit">@Resources.RecoverPassword</button></p>

		</fieldset>
    </div>
}
