@using Mictlanix.BE
@model Mictlanix.BE.Web.Models.PasswordRecoveryEmailModel

<div>
	<h2>@string.Format(Resources.PasswordRecovery_UserGreeting, Model.UserName)</h2>

	<p>@Resources.PasswordRecovery_FirstParagraph</p>
	<br />

	<p>@Resources.PasswordRecovery_SecondParagraph</p>
	<br />

	<a href="@Model.RecoveryUrl">@Model.RecoveryUrl</a>
	<br />

	<p>@Resources.PasswordRecovery_ThirdParagraph</p>
	<br />

	<p>@Resources.PasswordRecovery_FourthParagraph</p>
</div>

