@using Mictlanix.BE
@model Mictlanix.BE.Web.Models.ProcessedPasswordRecoveryModel

@{
    ViewBag.Title = Resources.Title_ForgotPassword;
}

<h2>@Resources.DisplayName_ForgotPassword</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, Resources.Message_ChangePasswordFail)
    <div>
		<fieldset>
			<legend>@Resources.AccountInformation</legend>

			<div class="editor-label">
				@Html.HiddenFor(m => m.User)
				@Html.HiddenFor(m => m.Token)
			</div>
			<div class="editor-label">
				@Html.LabelFor(m => m.NewPassword)
			</div>
			<div class="editor-field">
				@Html.PasswordFor(m => m.NewPassword)
				@Html.ValidationMessageFor(m => m.NewPassword)
			</div>

			<div class="editor-label">
				@Html.LabelFor(m => m.ConfirmPassword)
			</div>
			<div class="editor-field">
				@Html.PasswordFor(m => m.ConfirmPassword)
				@Html.ValidationMessageFor(m => m.ConfirmPassword)
			</div>

			<p><button type="submit">@Resources.RecoverPassword</button></p>

		</fieldset>
    </div>
}
