@using Business.Essentials
@using Business.Essentials.Model
@using Business.Essentials.WebApp.Models
@model InventoryTransferDetail

<li id="item@(Model.Id)">
    <div class="photo">
        <img src="@Url.Content(Model.Product.Photo)" title="@Model.ProductName"/>
    </div>
    <div class="action-link">
        <a class="button icon-only icon delete" title="@Resources.Delete" href="/Inventory/RemoveTransferDetail/@Model.Id"></a>
        <script type="text/javascript">
            $("#item@(Model.Id) a.delete").click(function(event){
                event.preventDefault();
                removeItem(@Model.Id);
            });
        </script>
    </div>
    <div class="info">
        <b>@Model.ProductName</b><br/>
        <b>@Resources.Code:</b> @Model.ProductCode 
        <b>@Resources.SKU:</b> @Model.Product.SKU<br/>
        <b>@Resources.Quantity:</b>
        <div class="editable quantity">@Model.Quantity.ToString("0.####")</div>
        &nbsp;
    </div>
</li>
