@using Business.Essentials
@using Business.Essentials.Model;
@using Business.Essentials.WebApp.Helpers;
@model InventoryIssue

@{
    ViewBag.Title = Resources.Title_InventoryIssue;
}

<h2>@Resources.DisplayName_InventoryIssues</h2>

<fieldset>
    <legend>@Resources.DisplayName_InventoryInformation</legend>
    <div class="display-label right floating">
        @Html.LabelFor(model => model.Id):
        @Html.DisplayFor(model => model.Id)
    </div>
    <div class="display-label right floating">
        @Html.LabelFor(model => model.CreationTime):
        @Html.DisplayFor(model => model.CreationTime)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Warehouse)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Warehouse.Name)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Comment)
        @Html.DisplayFor(model => model.Comment)
    </div>
</fieldset>

<div>
    <table>
        <tr>
            <th>
                @Html.LabelFor(x => new InventoryIssueDetail().Quantity)
            </th>
            <th>
                @Html.LabelFor(x => new InventoryIssueDetail().ProductCode)
            </th>
            <th>
                @Html.LabelFor(x => new InventoryIssueDetail().ProductName)
            </th>
        </tr>
    @foreach (var item in Model.Details) {
        <tr>
            <td class="number">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td class="center">
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
        </tr>
    }
    </table>
    <p></p>
</div>
<div class="right floating">
    <button type="button" class="icon print">@Resources.Print</button>     
</div>
<div id="backTo">
    @Html.ActionLink(Resources.BackToList, "Issues", new { }, new { @class = "button icon back" })
</div>

<script type="text/javascript">
    $(function() {
        $(".print").printPage({
            url: "@Url.Action("PrintIssue", "Inventory", new { id = Model.Id })"
        });
    });

</script>