@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model SalesOrderDetail

<li id='id:@Model.Id'>
    <div class='photo'>
        <img src='@Url.Content(Model.Product.Photo)' title='@Model.ProductName' />
    </div>
    <div class='info'>
        <span class='thick'>@Html.DisplayFor(x => x.ProductName)</span>
        <br/>
        <b>@Resources.Code: </b>
        <span>@Html.DisplayFor(x => x.ProductCode)</span>
        <b>@Resources.UnitOfMeasurement: </b>
        <span>@Html.DisplayFor(x => Model.Product.UnitOfMeasurement.Name)</span>
    @if (!string.IsNullOrWhiteSpace (Model.Product.Model)) {
        <b>@Resources.Model: </b>
        <span>@Html.DisplayFor(x => x.Product.Model)</span>
    }
    @if (!string.IsNullOrWhiteSpace (Model.Product.SKU)) {
        <b>@Resources.SKU: </b>
        <span>@Html.DisplayFor(x => x.Product.SKU)</span>
    }
        <br/>
        <b>@Resources.Quantity:</b>
        <span class='editable quantity'>@Html.DisplayFor(x => x.Quantity)</span>
    @if (!string.IsNullOrWhiteSpace (Model.Comment)) {
    	<br/>
        <b style='vertical-align:top;'>@Resources.Comment:</b>
        <span style='display: inline-block;'>@Html.DisplayFor(x => x.Comment)</span>
    }
    </div>
</li>