@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model Search<Product>

@{
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.PriceLists);
}

<p>@Html.ValidationMessageFor(x => x.Pattern)</p>

<table>
    <tr>
        <th>@Html.LabelFor(x => new Product().Code)</th>
        <th>@Html.LabelFor(x => new Product().Name)</th>
        <th>@Html.LabelFor(x => new Product().UnitOfMeasurement)</th>
        <th>@Html.LabelFor(x => new Product().TaxRate)</th>
        <th>@Html.LabelFor(x => new Product().IsTaxIncluded)</th>
        <th>@Resources.Cost / @Resources.Prices</th>
    </tr>
@foreach (var item in Model.Results)
{
    <tr>
        <td class='center'>@Html.DisplayFor(x => item.Code)</td>
        <td>
        	@Html.DisplayFor(x => item.Name)<br/>
    		@if (!string.IsNullOrEmpty (item.Model)) {
	        <i>@Resources.Model:</i> @item.Model
	        }
	        @if (!string.IsNullOrEmpty (item.SKU)) {
	        <i>@Resources.SKU:</i> @item.SKU
	        }
        </td>
        <td class='center'>@Html.DisplayFor(x => item.UnitOfMeasurement)</td>
        <td class='center'><a class='editable tax' data-type='select' data-placement='bottom' data-source='@Url.Action("TaxRates")' data-pk='@item.Id' data-value='@item.TaxRate' data-url='@Url.Action("EditTaxRate", new { id = item.Id })'>@Html.DisplayFor(x => item.TaxRate)</a></td>
        <td class='center'>@Html.DisplayFor(x => item.IsTaxIncluded)</td>
        <td class='nowrap stretch'>
            <table class='tabular'>
            @foreach(var p in ViewBag.PriceLists) {
				var price = item.Prices.SingleOrDefault(x => x.List.Id == p.Id) ?? new ProductPrice ();
            	<tr>
            		<th class='right nowrap'>@p.Name</th>
            		<td class='nowrap'>
            		    <a class='editable price' data-type='text' data-placement='left' data-pk='@price.Product.Id' data-url='@Url.Action("EditPrice", new { product = price.Product.Id, list = p.Id })'>@Html.DisplayFor(x => price.Value)</a>
            		    <a class='editable currency' data-type='select' data-placement='left' data-source='@Url.Action("Currencies", "ExchangeRates")' data-pk='@price.Product.Id' data-value='@((int)price.Currency)' data-url='@Url.Action("EditCurrency", new { product = price.Product.Id, list = p.Id })'>@Html.DisplayFor(x => price.Currency)</a>
        			</td>
            	</tr>
        	}
            </table>
        </td>
    </tr>
}
</table>
<div class='buttons right'>
	<label class='button left'>@Model.ToString()</label>@if (Model.HasPrev) {<a class='button middle icon prev icon-only paging' title='@Resources.PrevPage' href='javascript:void(0)'></a>}@if (Model.HasNext) {<a class='button right icon next icon-only paging' title='@Resources.NextPage' href='javascript:void(0)'></a>}
</div>
<script type='text/javascript'>
$(function () {
	$('a.paging').click(function (e) {
		var offset=@Model.Offset;
		
		if($(this).hasClass('next')) {
			offset+=@Model.Limit;
		} else {
			offset-=@Model.Limit;
		}
		
		e.preventDefault();
		$('#activity-indicator').show();
		$('#search-results').hide();
		
		$.post('@Url.Action("Index")', { Pattern: '@Model.Pattern', Offset: offset, Limit: @Model.Limit }, function(data) {
			$('#search-results').html(data);
			$('#search-results').show();
			$('#activity-indicator').hide();
		});
	});

	@if(Privilege.AllowUpdate) {
	<text>
	$('a.editable').editable({
	    display: function(value, response) {
	        if (typeof response === 'undefined') {
	        	$(this).html(value);
	        } else if (Array.isArray(response)) {
	          	arr = $.grep(response, function(o){
	  				return o.value == value;
				});
          		$(this).html(arr[0].text);
	        } else {
	          	$(this).html(response.value);
	        }
	    }
	});
	</text>
	}
});
</script>