@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model IEnumerable<SalesOrder>

@{
    ViewBag.Title = Resources.Title_ReturnCustomer;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.ReturnCustomer);
}

<table>
    <tr>
        <th>
            @Html.LabelFor(x => new SalesOrder().Id)
        </th>

        <th>
            @Html.LabelFor(x => new SalesOrder().Date)
        </th>

        <th>
            @Html.LabelFor(x => new SalesOrder().Customer)
        </th>

        <th>
            @Html.LabelFor(x => new SalesOrder().DueDate)
        </th>

            <th>
            @Html.LabelFor(x => new SalesOrder().SalesPerson)
        </th>

        <th>
            @Html.LabelFor(x => new SalesOrder().PointOfSale)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td class="number">
            @Html.DisplayFor(x => item.Id)
        </td>
        <td class="date">
            @Html.DisplayFor(x => item.Date)
        </td>
        <td>
            @Html.DisplayFor(x => item.Customer.Name)
        </td>
        <td class="date">
            @Html.DisplayFor(x => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(x => item.SalesPerson.FirstName)
            @Html.DisplayFor(x => item.SalesPerson.LastName)
        </td>
        <td class="center">
            @Html.DisplayFor(x => item.PointOfSale.Name)
        </td>
        <td class="actions">
        @if (Privilege.AllowCreate)
        {
            using (Html.BeginForm("CreateFromSalesOrder", "ReturnsCustomer", new { id = item.Id }))
            {
                <button type="submit" class="icon save">@Resources.Return</button>
            }
        }
        </td>
    </tr>
}
</table>