@using Business.Essentials
@using Business.Essentials.Model
@model IEnumerable<Business.Essentials.Model.ReturnCustomerDetail>


<table>
    <tr>
        <th>
            @Html.LabelFor(x => new ReturnCustomerDetail().ProductCode)
        </th>

        <th>
            @Html.LabelFor(x => new ReturnCustomerDetail().ProductName)
        </th>

        <th>
            @Html.LabelFor(x => new ReturnCustomerDetail().Quantity)
        </th>

        <th>
            @Html.LabelFor(x => new ReturnCustomerDetail().Price)
        </th>
        
        <th>
            @Html.LabelFor(x => new ReturnCustomerDetail().Discount)
        </th>

        <th>
            @Html.LabelFor(x => new ReturnCustomerDetail().TaxRate)
        </th>
        
        <th>
            @Html.LabelFor(x => new ReturnCustomerDetail().Total)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="number">
            @Html.DisplayFor(x => item.ProductCode)
        </td>
        <td>
            @Html.DisplayFor(x => item.ProductName)
        </td>
        <td class="number">
            @Html.DisplayFor(x => item.Quantity)
        </td>
        <td class="number">
            @Html.DisplayFor(x => item.Price)
        </td>
        <td class="number">
            @Html.DisplayFor(x => item.Discount)
        </td>
        <td class="number">
            @Html.DisplayFor(x => item.Taxes)
        </td>
        <td class="number">
            @Html.DisplayFor(x => item.Total)
        </td>
    </tr>
}
<tr>
    <td></td>
    <td class="number">
        @Resources.Total
    </td>
    <td class="number">
        @Model.Sum(x => x.Quantity).ToString("0.####")
    </td>
    <td></td>
    <td></td>
    <td class="number">
        @Model.Sum(x => x.Taxes)
    </td>
    <td class="number">
        @Model.Sum(x => x.Total).ToString("c")
    </td>
</tr>
</table>
