@using Mictlanix.BE
@using Mictlanix.BE.Web.Helpers
@model Mictlanix.BE.Model.ReturnCustomer
<fieldset>
    <legend>@Resources.Totals</legend>

    <div class="display-label left floating">
        @Html.LabelFor(x => x.Total)
    </div>
    <div class="display-field right floating">
        @Html.DisplayFor(x => x.Total)
    </div>

    <div class="display-label left floating">
        @Html.LabelFor(x => x.Taxes)
    </div>
    <div class="display-field right floating">
        @Html.DisplayFor(x => x.Taxes)
    </div>

    <div class="right floating">
    <p>
        @if (Model.Total > 0)
        {
            using (Html.BeginForm("ConfirmReturn", "ReturnsCustomer", new { id = Model.Id }))
            {
            <button type="button" class="icon print">@Resources.Print</button>
            <button id="complete" type="submit">@Resources.Complete</button>            
            }
        }
    </p>
    </div>
</fieldset>
<script type="text/javascript">
    $(function() {
    	$(".print").die();
        $(".print").printPage({
            url: "@Url.Action("PrintCustomerReturn", "ReturnsCustomer", new { id = Model.Id })"
        });
    });

</script>
