@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Models
@using Mictlanix.BE.Web.Helpers;
@model IEnumerable<AccountsReceivableSummary>
@{
    ViewBag.Title = Resources.Title_AccountsReceivable;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.AccountsReceivable);
}
<div class="page-header">
    <h1>@Resources.DisplayName_AccountsReceivable</h1>
</div>
<table>
    <tr>
        <th>
            @Html.LabelFor(x => new Customer().Name)            
        </th>
        <th class="nowrap">
            @Html.LabelFor(x => new AccountsReceivableSummary().SalesSummary)
        </th>
        <th class="nowrap">
            @Html.LabelFor(x => new AccountsReceivableSummary().PaymentsSummary)
        </th>
        <th class="nowrap">
            @Html.LabelFor(x => new AccountsPayableSummary().ReturnsSummary)
        </th>
        <th>
            @Html.LabelFor(x => new AccountsReceivableSummary().Balance)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(x => item.Customer.Name)
        </td>
        <td class="number">
            @Html.DisplayFor(x => item.SalesSummary)
        </td>
        <td class="number">
            @Html.DisplayFor(x => item.PaymentsSummary)
        </td>
        <td class="number">
            @Html.DisplayFor(x => item.ReturnsSummary)
        </td>
        <td class="number">
            @Html.DisplayFor(x => item.Balance)
        </td>
        <td class="actions">
        @if (Privilege.AllowRead)
        {
            	@Html.ActionLink(" ", "AccountStatement", new { id = item.Customer.Id }, new { @class = "button icon view icon-only", @title = Resources.Details })
        }
        </td>
    </tr>
}
</table>
