@using Business.Essentials
@model Business.Essentials.Model.Supplier

@{
    ViewBag.Title = Resources.Delete;
}

<h2>@Resources.Delete</h2>

<h3>@Resources.Message_DeleteConfirmation</h3>
<fieldset>
    <legend>@Resources.Title_Supplier</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Zone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zone)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.CreditLimit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreditLimit)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.CreditDays)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreditDays)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <button type="submit" class="icon delete">@Resources.Delete</button>
        @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })
    </p>
}
