@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model Supplier

@{
    ViewBag.Title = Resources.Details;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.Suppliers);
    var AllowCreateAddresses = Html.GetPrivilege(CurrentUser, SystemObjects.Addresses).AllowCreate;
    var AllowCreateContacts = Html.GetPrivilege(CurrentUser, SystemObjects.Contacts).AllowCreate;
    var AllowCreateBankAccounts = Html.GetPrivilege(CurrentUser, SystemObjects.BankAccounts).AllowCreate;
    var AllowCreateAgreements = Html.GetPrivilege(CurrentUser, SystemObjects.SupplierAgreements).AllowCreate;
    var AllowCreateSupplies = true;
    ViewBag.Privilege = Privilege;
}

<h2>@Resources.Details</h2>
<fieldset>
    <legend>@Resources.Title_Supplier</legend>

	<div class="row">
	  	<div class="col-xs-3">@Html.LabelFor(x => x.Code)</div>
		<div class="col-xs-9">@Html.LabelFor(x => x.Name)</div>
	</div>
	<div class="row">
	  	<div class="col-xs-3"><div class="ro-field">@Html.DisplayFor(x => x.Code)</div></div>
		<div class="col-xs-9"><div class="ro-field">@Html.DisplayFor(x => x.Name)</div></div>
	</div>
	<div class="row">
	  	<div class="col-xs-4">@Html.LabelFor(x => x.Zone)</div>
		<div class="col-xs-4">@Html.LabelFor(x => x.CreditLimit)</div>
	  	<div class="col-xs-4">@Html.LabelFor(x => x.CreditDays)</div>
	</div>
	<div class="row">
	  	<div class="col-xs-4"><div class="ro-field">@Html.DisplayFor(x => x.Zone)</div></div>
		<div class="col-xs-4"><div class="ro-field">@Html.DisplayFor(x => x.CreditLimit)</div></div>
	  	<div class="col-xs-4"><div class="ro-field">@Html.DisplayFor(x => x.CreditDays)</div></div>
	</div>
	<div class="row">
	  	<div class="col-xs-12">@Html.LabelFor(x => x.Comment)</div>
	</div>
	<div class="row">
	  	<div class="col-xs-12"><div class="ro-field">@Html.DisplayFor(x => x.Comment)</div></div>
	</div>
</fieldset>
<div class='tabbable'>
    <ul class='nav nav-tabs'>
        <li class='active'><a href='#tab-1' data-toggle='tab'>@Resources.Addresses</a></li>
        <li><a href='#tab-2' data-toggle='tab'>@Resources.Contacts</a></li>
        <li><a href='#tab-3' data-toggle='tab'>@Resources.DisplayName_BankAccounts</a></li>
        <li><a href='#tab-4' data-toggle='tab'>@Resources.DisplayName_SupplierAgreements</a></li>
    </ul>
    <div class="tab-content">
	    <div id='tab-1' class='tab-pane active'>
	    @if(AllowCreateAddresses) {
	        <p>@Html.ActionLink(Resources.CreateNew, "CreateSupplierAddress", "Addresses", new { id = Model.Id }, new { @class = "button icon add open-modal", data_modal_id = "address-modal" })</p>
	    }
	        <div id='addresses' data-url='@Url.Action("Addresses", new { id = Model.Id })'>@Html.Partial("../Addresses/_Index", Model.Addresses)</div>
	    </div>
	    <div id='tab-2' class='tab-pane'>
	    @if(AllowCreateContacts) {
	        <p>@Html.ActionLink(Resources.CreateNew, "CreateSupplierContact", "Contacts", new { id = Model.Id }, new { @class = "button icon add open-modal", data_modal_id = "contact-modal" })</p>
	    }
	        <div id='contacts' data-url='@Url.Action("Contacts", new { id = Model.Id })'>@Html.Partial("../Contacts/_Index", Model.Contacts)</div>
	    </div>
	    <div id='tab-3' class='tab-pane'>
	    @if(AllowCreateBankAccounts) {
	        <p>@Html.ActionLink(Resources.CreateNew, "CreateForSupplier", "BankAccounts", new { id = Model.Id }, new { @class = "button icon add open-modal", data_modal_id = "bankAccount-modal" })</p>
	    }
            <div id="bankAccounts" data-url="@Url.Action("BankAccounts", new { id = Model.Id })"> @Html.Partial("../BankAccounts/_Index", Model.BanksAccounts)</div>
	        
	    </div>
	    <div id='tab-4' class='tab-pane'>
	    @if(AllowCreateAgreements) {
	        <p>@Html.ActionLink(Resources.CreateNew, "CreateForSupplier", "SupplierAgreements", new { id = Model.Id }, new { @class = "button icon add open-modal", data_modal_id = "supplierAgreement-modal" })</p>
	    }
            <div id="supplierAgreements" data-url="@Url.Action("SupplierAgreements", new {id = Model.Id})">@Html.Partial("../SupplierAgreements/_Index", Model.Agreements)</div>
	        
	    </div>
	</div>
</div>
<div class="row vspaced">
    @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })
@if (ViewBag.Privilege.AllowUpdate) {
	@Html.ActionLink(Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "button icon edit pull-right open-modal",  data_modal_id = "supplier-modal" })
}
</div>
<script type="text/javascript">
    bindModal('.open-modal');
</script>
