@using Business.Essentials
@using Business.Essentials.Model
@using Business.Essentials.WebApp.Helpers
@using Business.Essentials.WebApp.Models
@model MasterDetails<AccountsPayableSummary, AccountsPayableEntry>

@{
    ViewBag.Title = Resources.Statements;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.AccountsPayable);
}

<h2>@Resources.DisplayName_AccountsPayable</h2>

<fieldset>
    <legend>@Resources.DisplayName_DataSupplier</legend>
        <div class="display-label">
            @Html.LabelFor(x => x.Master.Supplier) :
            @Html.DisplayFor(x => x.Master.Supplier.Name)
        </div>
        <div class="display-label">
            @Html.LabelFor(x => x.Master.Supplier.CreditLimit) :
            @Html.DisplayFor(x => Model.Master.Supplier.CreditLimit)
        </div>
        <div class="display-label">
            @Html.LabelFor(x => x.Master.AvailableCredit) :
            @Html.DisplayFor(x => x.Master.AvailableCredit)
        </div>
        <div class="display-label">
            @Html.LabelFor(x => x.Master.Supplier.CreditDays) :
            @Html.DisplayFor(x => x.Master.Supplier.CreditDays)
        </div>

</fieldset>

@*<div>
    @Html.Partial("Dates", new AccountsPayableEntry { StartDate = DateTime.Now.AddDays(-30), EndDate = DateTime.Now })
</div>*@

<table>
    <tr>
        <th>@Resources.Date</th>
        <th>@Resources.Movement</th>
        <th>@Resources.Description</th>
        <th>@Resources.Enum_Debit</th>
        <th>@Resources.Enum_Credit</th>
        <th>@Resources.Balance</th>
    </tr>
    @foreach(var item in Model.Details)
    {
    <tr>
        <td class="date">@Html.DisplayFor(x => item.Date)</td>
        <td class="number">@Html.DisplayFor(x => item.Number)</td>
        <td>@Html.DisplayFor(x => item.Description)</td>
        <td class="number">
            @if (item.Type == DebitCreditEnum.Debit)
            {
                @Html.DisplayFor(x => item.Amount)
            }
        </td>
        <td class="number">
            @if (item.Type == DebitCreditEnum.Credit)
            {
                @Html.DisplayFor(x => item.Amount)
            }
        </td>
        <td class="number">@Html.DisplayFor(x => item.Balance)</td>
    </tr>
    }
</table>
<p></p>
<div id="backTo">
    @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })
</div>
