@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model Search<Product>

@{
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.Products);
}

<p>@Html.ValidationMessageFor(x => x.Pattern)</p>

<table>
    <tr>
        <th></th>
        <th>
            @Html.LabelFor(x => new Product().Code)
        </th>
        <th>
            @Html.LabelFor(x => new Product().SKU)
        </th>
        <th>
            @Html.LabelFor(x => new Product().Name)
        </th>
        <th>
            @Html.LabelFor(x => new Product().UnitOfMeasurement)
        </th>
        <th>
            @Mictlanix.BE.Resources.Prices
        </th>
        <th>
            @Html.LabelFor(x => new Product().Category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Results)
{
    <tr>
        <td>
            @Html.ActionImage(Url.Content(item.Photo), "Details", new { id = item.Id },
                              new { alt = Resources.Details,
                                    title = Resources.Details,
                                    rel = Url.Action("Details", new { id = item.Id }),
                                    @class = "small tips"
                              })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SKU)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.UnitOfMeasurement)
        </td>
        <td>
            <table style="border:0;width:100%;text-align:right;">
                <tr>
                    <td title="@Resources.Price1" style="border:0;background:#F7F8E0 url('@Url.Content("~/Content/images/price1.png")') no-repeat left bottom;">
                        @Html.DisplayFor(modelItem => item.Price1)
                    </td>
                    <td title="@Resources.Price2" style="border:0;background:#E6F8E0 url('@Url.Content("~/Content/images/price2.png")') no-repeat left bottom;">
                        @Html.DisplayFor(modelItem => item.Price2)
                    </td>
                </tr>
                <tr>
                    <td title="@Resources.Price3" style="border:0;background:#E0F8F7 url('@Url.Content("~/Content/images/price3.png")') no-repeat left bottom;">
                        @Html.DisplayFor(modelItem => item.Price3)
                    </td>
                    <td title="@Resources.Price4" style="border:0;background:#F8E0F7 url('@Url.Content("~/Content/images/price4.png")') no-repeat left bottom;">
                        @Html.DisplayFor(modelItem => item.Price4)
                    </td>
                </tr>
            </table>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td class="actions">
        	@if(Privilege.AllowUpdate)
        	{
            	@Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "button icon edit icon-only", @title = Resources.Edit })
            }
        	@if(Privilege.AllowDelete)
        	{
            	@Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "button icon delete icon-only", @title = Resources.Delete })
            }
        </td>
    </tr>
}
</table>
<div class="buttons right">
	<label class="button left">@Model.ToString()</label>@if (Model.HasPrev) {<a class="button middle icon prev icon-only" title="@Resources.PrevPage" href="javascript:void(0)"></a>}@if (Model.HasNext) {<a class="button right icon next icon-only" title="@Resources.NextPage" href="javascript:void(0)"></a>}
</div>
@if (Model.HasPrev)
{
<script type="text/javascript">
    $(function () {
    	$('a.prev').click(function (e) {
    		e.preventDefault();
    		$("#activity-indicator").show();
    		$("#search-results").hide();
    		$.post("/Products/Index", { Pattern: "@Model.Pattern", Offset: "@(Model.Offset-Model.Limit)", Limit: "@Model.Limit" }, function(data) {
				$("#search-results").html(data);
				$("#search-results").show();
				$("#activity-indicator").hide();
			});
    	});
    });
</script>
}
@if (Model.HasNext)
{
<script type="text/javascript">
    $(function () {
    	$('a.next').click(function (e) {
    		e.preventDefault();
    		$("#activity-indicator").show();
    		$("#search-results").hide();
    		$.post("/Products/Index", { Pattern: "@Model.Pattern", Offset: "@(Model.Offset+Model.Limit)", Limit: "@Model.Limit" }, function(data) {
				$("#search-results").html(data);
				$("#search-results").show();
				$("#activity-indicator").hide();
			});
    	});
    });
</script>
}
<script type="text/javascript">
    $(function () {
        $('a.tips').cluetip({
            showTitle: false,
            width:600
        });
    });
</script>