@using Mictlanix.BE;
@model Mictlanix.BE.Model.Product

@{
    ViewBag.Title = Resources.CreateNew;
}

<h2>@Resources.New</h2>

@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Resources.Title_Product</legend>

        <div style="float:right">
            <div class="editor-label">
                @Html.LabelFor(x => x.Photo)
            </div>
            <div class="editor-input">
                <input type="file" name="file" id="file" />
            </div>
        </div>

     	<div class="editor-label">
            @Html.LabelFor(x => x.Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.Code)
            @Html.ValidationMessageFor(x => x.Code)
        </div>
        <div class="editor-label">
            @Html.LabelFor(x => x.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.Name)
            @Html.ValidationMessageFor(x => x.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(x => x.SKU)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.SKU)
            @Html.ValidationMessageFor(x => x.SKU)
        </div>

        <div class="editor-label">
            @Html.LabelFor(x => x.Model)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.Model)
            @Html.ValidationMessageFor(x => x.Model)
        </div>

        <div class="editor-label">
            @Html.LabelFor(x => x.Brand)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.Brand)
            @Html.ValidationMessageFor(x => x.Brand)
        </div>

        <div class="editor-label">
            @Html.LabelFor(x => x.Supplier)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.SupplierId)
            @Html.ValidationMessageFor(x => x.SupplierId)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(x => x.UnitOfMeasurement)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.UnitOfMeasurement)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(x => x.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.Location)
            @Html.ValidationMessageFor(x => x.Location)
        </div>

        <div class="editor-label">
            @Html.EditorFor(x => x.IsStockable)
        </div>
        <div class="editor-label">
            @Html.EditorFor(x => x.IsPerishable)
        </div>
        <div class="editor-label">
            @Html.EditorFor(x => x.IsSeriable)
        </div>
        <div class="editor-label">
            @Html.EditorFor(x => x.IsPurchasable)
        </div>
        <div class="editor-label">
            @Html.EditorFor(x => x.IsSalable)
        </div>
        <div class="editor-label">
            @Html.EditorFor(x => x.IsInvoiceable)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(x => x.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.Comment)
        </div>

        <p><button type="submit" class="icon save">@Resources.Create</button></p>
    </fieldset>
}

<div>
    @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button" })
</div>
