@using Mictlanix.BE;
@model Mictlanix.BE.Model.Product

@{
    ViewBag.Title = Resources.Delete;
}

<h2>@Resources.Delete</h2>

<h3>@Resources.Message_DeleteConfirmation</h3>
<fieldset>
    <legend>@Resources.Title_Product</legend>

        <div style="float:right">
            <div class="editor-label">
                @Html.LabelFor(model => model.Photo)
            </div>
            <div class="editor-input">
                <img src="@Url.Content(Model.Photo)" alt="@Model" class="medium" />
            </div>
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Code)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Code)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.SKU)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.SKU)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Brand)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Brand)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Model)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Model)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Location)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Location)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.UnitOfMeasurement)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.UnitOfMeasurement)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.IsPerishable)
        </div>
        <div class="display-checkbox">
            @Html.DisplayFor(model => model.IsPerishable)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.IsSeriable)
        </div>
        <div class="display-checkbox">
            @Html.DisplayFor(model => model.IsSeriable) 
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.IsInvoiceable)
        </div>
        <div class="display-checkbox">
            @Html.DisplayFor(model => model.IsInvoiceable)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Comment)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Supplier)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Supplier.Name)
        </div>

</fieldset>
@using (Html.BeginForm())
{
    <p>
        <button type="submit" class="icon delete">@Resources.Delete</button>
        @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button" })
    </p>
}
