@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model Product

@{
    ViewBag.Title = Resources.Edit;
}

<h2>@Resources.Edit</h2>

@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Resources.Title_Product</legend>

        @Html.HiddenFor(model => model.Id)

        <div style="float:right">
            <div class="editor-label">
                @Html.LabelFor(model => model.Photo)
            </div>
            <div class="editor-input">
                <img src="@Url.Content(Model.Photo)" alt="@Model" class="medium" />
                <br/>
            	@Html.HiddenFor(x => x.Photo)
                <input type="file" name="file" id="file" />
            </div>
        </div>

     	<div class="editor-label">
            @Html.LabelFor(x => x.Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.Code)
            @Html.ValidationMessageFor(x => x.Code)
        </div>
        <div class="editor-label">
            @Html.LabelFor(x => x.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.Name)
            @Html.ValidationMessageFor(x => x.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(x => x.SKU)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.SKU)
            @Html.ValidationMessageFor(x => x.SKU)
        </div>

        <div class="editor-label">
            @Html.LabelFor(x => x.Model)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.Model)
            @Html.ValidationMessageFor(x => x.Model)
        </div>

        <div class="editor-label">
            @Html.LabelFor(x => x.Brand)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.Brand)
            @Html.ValidationMessageFor(x => x.Brand)
        </div>

        <div class="editor-label">
            @Html.LabelFor(x => x.Supplier)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.SupplierId)
            @Html.ValidationMessageFor(x => x.SupplierId)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(x => x.UnitOfMeasurement)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.UnitOfMeasurement)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(x => x.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.Location)
            @Html.ValidationMessageFor(x => x.Location)
        </div>

        <div class="editor-label">
            @Html.EditorFor(x => x.IsStockable)
        </div>
        <div class="editor-label">
            @Html.EditorFor(x => x.IsPerishable)
        </div>
        <div class="editor-label">
            @Html.EditorFor(x => x.IsSeriable)
        </div>
        <div class="editor-label">
            @Html.EditorFor(x => x.IsPurchasable)
        </div>
        <div class="editor-label">
            @Html.EditorFor(x => x.IsSalable)
        </div>
        <div class="editor-label">
            @Html.EditorFor(x => x.IsInvoiceable)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(x => x.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.Comment)
        </div>

        <p><button type="submit" class="icon save">@Resources.Save</button></p>
    </fieldset>
}

<div>
    @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button" })
</div>

<script type="text/javascript">
$(function () {
    @if(Model.Supplier != null) {
        @:$("#SupplierId").tokenInput("add", { id: "@Model.Supplier.Id", name: "@Model.Supplier.Name" });
    }
});
</script>