@using Mictlanix.BE;
@using Mictlanix.BE.Model;
@using Mictlanix.BE.Web.Helpers;
@using Mictlanix.BE.Web.Models;
@model Search<Product>

@{
    ViewBag.Title = Resources.Title_Product;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.Products);
}


<script src="@Url.Content("~/Scripts/jquery.cluetip.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery.cluetip.css")" rel="stylesheet" type="text/css" />

<h2>@Resources.DisplayName_Products</h2>

<p>
@if(Privilege.AllowCreate)
{
    @Html.ActionLink(Resources.CreateNew, "Create", new { }, new { @class = "button icon add" })
}
</p>

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "search-results", LoadingElementId = "activity-indicator", OnBegin = "onSearchBegin" }))
{
    @Html.HiddenFor(x => x.Offset)
    @Html.HiddenFor(x => x.Limit)
    <div class="editor-label">
        @Html.LabelFor(x => x.Pattern)
    </div>
    <div class="search-box">
        <button type="submit" class="icon search">@Resources.Search</button>
        <div class="search-field">
            <input type="text" id="Pattern" name="Pattern" />
        </div>
    </div>
}
<div id="activity-indicator">
    <img alt="@Resources.Loading" src="@Url.Content("~/Content/images/loading-bar.gif")" />
</div>
<div id="search-results">
    @Html.Partial("_Index")
</div>
<script type="text/javascript">
    function onSearchBegin() {
        $("#search-results").html(null);
    }
</script>