@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model FiscalDocument

<tr id='id:@Model.Id'>
    <td class="number">@Html.DisplayFor(x => x.Id)</td>
    <td class="number center">@Html.DisplayFor(x => x.Issuer.Id)</td>
    <td class="number center">@Html.DisplayFor(x => x.Batch)</td>
    <td class="number">@Html.DisplayFor(x => x.Serial)</td>
    <td class="center"><small>@Html.DisplayFor(x => x.Issued)</small></td>
    <td class="center">@Html.DisplayFor(x => x.Customer.Code)</td>
    <td class="center">@Html.DisplayFor(x => x.Recipient)</td>
    <td>
        <small>@Html.DisplayFor(x => x.RecipientName)</small>
    </td>
    <td class="bool">
	@if (Model.IsCancelled) {
        <a href="@Model.ValidataionUrl()" target="_blank">
		    <span class="label label-danger" title="@Resources.Cancelled"><i class="glyphicon glyphicon-remove"></i></span>
        </a>
	} else if (Model.IsCompleted) {
        <a href="@Model.ValidataionUrl()" target="_blank">
		    <span class="label label-success" title="@Resources.Active"><i class="glyphicon glyphicon-ok"></i></span>
        </a>
	} else  {
		<span class="label label-default" title="@Resources.New"><i class="glyphicon glyphicon-pencil"></i></span>
	}
	</td>
    <td class="actions">
        @if (ViewBag.Privilege.AllowRead) {
            @Html.ActionLink(" ", "View", new { id = Model.Id }, new { @class = "button icon view icon-only", title = Resources.Details })
            @Html.ActionLink(" ", "Pdf", new { id = Model.Id }, new { @class = "button icon print icon-only", title = Resources.Print, target = "_blank" })
        }
        @if (ViewBag.Privilege.AllowUpdate && !Model.IsCompleted && !Model.IsCancelled) {
            @Html.ActionLink(" ", "Edit", new { id = Model.Id }, new { @class = "button icon edit icon-only", title = Resources.Edit })
        }
        @if (ViewBag.Privilege.AllowRead && Model.IsCompleted) {
            @Html.ActionLink(" ", "Download", new { id = Model.Id }, new { @class = "button icon download icon-only", title = Resources.Download })
            @Html.ActionLink(" ", "SendEmail", new { id = Model.Id }, new { @class = "button icon email icon-only open-modal", title = Resources.Send, data_modal_id = "fiscalDocument-modal" })
        }
    </td>
</tr>

