@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model FiscalDocument

@{
    ViewBag.Title = Resources.Edit;
}

<h2>@Resources.FiscalDocument</h2> 

<div id="master-section">
@Html.Partial("_MasterView")
</div>

<div id="details-section">
    <div id="items-container">
	@Html.Partial("_ItemsBlock", Model.Details)
    </div>
	<div id="tabs" class="tabs-bottom">
	    <ul>
	        <li><a href="#tabs-1">@Resources.Product</a></li>
	        <li><a href="#tabs-2">@Resources.SalesOrder</a></li>
	    </ul>
	    <div id="tabs-1">
	        <input type="text" id="product-search" name="product-search" />
	    </div>
	    <div id="tabs-2">
	        <input type="text" id="order-search" name="order-search" />
	    </div>
    </div>
</div>
<div id="totals-section" class="right floating" style="width:300px">
    @Html.Partial("_Totals")
</div>
<div id="back-to-list" style="clear:both">
    @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })
</div>
<div id="confirm-dlg" class="dialog" title="@Resources.Delete">
	<p>
        <span class="ui-icon ui-icon-circle-close" style="float:left; margin:3px 7px 20px 0;"></span>
        @Resources.Message_DeleteConfirmation
    </p>
</div>
<div id="notification-dlg" class="dialog" title="@Resources.Delete">
	<p>@Resources.Message_NoInvoiceableItems</p>
</div>
<script type="text/javascript">
function updateTotals(){
	$.get('@Url.Action("GetTotals")', { "id": @Model.Id }, function (data) {
		$("#totals-section").html(data);
	});
}
$(function () {
	$("#tabs").tabs();
	$(".tabs-bottom .ui-tabs-nav, .tabs-bottom .ui-tabs-nav > *")
		.removeClass( "ui-corner-all ui-corner-top" )
		.addClass( "ui-corner-bottom" );
	
    $("#product-search").tokenInput("@Url.Action("GetSuggestions", "FiscalDocuments", new { id = Model.Id })", {
        hintText: "@Resources.HIntText",
        noResultsText: "@Resources.NoResultsText",
        searchingText: "@Resources.SearchingText",          
        resultsFormatter: function(item){return ProductFormatter(item);},
        queryParam: "pattern",minChars: 3,tokenLimit: 1,
        onAdd: function (item) {
            $.post('@Url.Action("AddDetail")', { "id": @Model.Id, "product": "" + item.id }, function (detail) {
                $.get('@Url.Action("GetDetail")/' + detail.id, function (data) {
                    $("#items").append(data);
                    

                    $("#product-search").tokenInput("clear");
                    updateTotals();
                });

            }, "json");
        }
    });
    
    $("#order-search").tokenInput("@Url.Action("GetOrders", "FiscalDocuments", new { id = Model.Id })", {
        hintText: "@Resources.HIntText",
        noResultsText: "@Resources.NoResultsText",
        searchingText: "@Resources.SearchingText",          
        queryParam: "pattern",minChars: 3,tokenLimit: 1,
        onAdd: function (item) {
            $.post('@Url.Action("AddOrder")', { "id": @Model.Id, "order": "" + item.id }, function (data) {
            	if(data.result == 0) {
            		$("#notification-dlg").dialog({
			            width:400,resizable:false,modal:true,
			            buttons: {
							Ok: function() {
								$(this).dialog("close");
							}
						}
			        });
            		$("#order-search").tokenInput("clear");
            		return;
            	}
                $.get('@Url.Action("GetDetails")/@Model.Id', function (data) {
                    $("#items-container").html(data);
                    $("#order-search").tokenInput("clear");
                    updateTotals();
                });
            }, "json");
        }
    });
});
</script>
<style type="text/css">
ul.token-input-list {
  width:100%;
}
div.token-input-dropdown {
  width:650px;
}
.ui-widget-content { border:0; }
.tabs-bottom { position: relative; } 
.tabs-bottom .ui-tabs-panel { padding: 0 2px 0 0; height: 72px; overflow: auto; } 
.tabs-bottom .ui-tabs-nav { position: absolute !important; left: 0; bottom: 0; right:0; padding: 0 0.2em 0.2em 0; } 
.tabs-bottom .ui-tabs-nav li { float:right; margin-top: -2px !important; margin-bottom: 1px !important; border-top: none; border-bottom-width: 1px; }
.ui-tabs-selected { margin-top: -3px !important; }
</style>