@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model Search<FiscalDocument>

@{
    ViewBag.Title = Resources.FiscalDocuments;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = CurrentUser.GetPrivilege (SystemObjects.FiscalDocuments);
    var PrivilegePR = CurrentUser.GetPrivilege (SystemObjects.PaymentReceipt);
}

<div class="page-header">
    <div class="pull-right col-xs-6">
    @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "search-results", LoadingElementId = "activity-indicator", OnBegin = "onSearchBegin" })) {
	    @Html.HiddenFor(x => x.Offset)
	    @Html.HiddenFor(x => x.Limit)
		<div class="row">
	        <div class="col-xs-4 text-right">
            @if (Privilege.AllowCreate) {
                <div class="btn-group">
                    <a class="btn btn-primary open-modal" href="/FiscalDocuments/New/Invoice" data-modal-id="fiscalDocument-modal">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="open-modal" href="/FiscalDocuments/New/CreditNote" data-modal-id="fiscalDocument-modal">@Resources.CreditNote</a></li>
                        <li><a class="open-modal" href="/FiscalDocuments/New/AdvancePaymentsApplied" data-modal-id="fiscalDocument-modal">@Resources.AdvancePaymentsApplied</a></li>
                        <li><a class="open-modal" href="/FiscalDocuments/New/SalesSummaryInvoice" data-modal-id="fiscalDocument-modal">@Resources.SalesSummaryInvoice</a></li>
                    @if (PrivilegePR.AllowCreate) {
                        <li><a class="open-modal" href="/FiscalDocuments/New/PaymentReceipt" data-modal-id="fiscalDocument-modal">@Resources.PaymentReceipt</a></li>
                    }
                    </ul>
                </div>
	        }
	        </div>
	        <div class="col-xs-8 input-group">
				<input id="Pattern" name="Pattern" type="text" class="form-control" placeholder="@Resources.SearchFor">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
	        </div>
	    </div>
	}
	</div>
    <h1>@Resources.FiscalDocuments</h1>
</div>
<div id="activity-indicator">
    <img alt="@Resources.Loading" src="@Url.Content("~/Content/images/loading-bar.gif")" />
</div>
<div id="search-results">
    @Html.Partial("_Index")
</div>