@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Models
@using Mictlanix.BE.Web.Helpers
@model FiscalDocument

@{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    ViewBag.Title = Resources.FiscalDocument;
    ViewBag.Store = Model.Store;
    ViewBag.TaxpayerName = Model.IssuedFrom.TaxpayerName;
    ViewBag.Taxpayer = Model.IssuedFrom.TaxpayerId;
    ViewBag.Address = Model.IssuedFrom;
}

<div class="display-label right floating">
	<h3>@Html.DisplayFor(x => x.Batch) @Html.DisplayFor(x => x.Serial)</h3>
</div>
<div class="display-label right floating">
    @Html.LabelFor(x => x.Issued)<br/>
    @Html.DisplayFor(x => x.Issued)<br/>
    @Html.LabelFor(x => x.IssuedLocation)<br/>
    @Html.DisplayFor(x => x.IssuedLocation)
</div>

<div class="display-label">
    <h3>@Html.LabelFor(x => x.BillTo)</h3>
</div>
<div class="display-field">
    @Html.DisplayFor(x => x.BillTo.TaxpayerName)<br/>
    @Html.LabelFor(x => x.BillTo.TaxpayerId)
    @Html.DisplayFor(x => x.BillTo.TaxpayerId)<br/>
    @Html.DisplayFor(x => x.BillTo.Street)
    @Html.DisplayFor(x => x.BillTo.ExteriorNumber)
    @Html.DisplayFor(x => x.BillTo.InteriorNumber)<br/>
    @Html.DisplayFor(x => x.BillTo.Neighborhood),
    @Html.DisplayFor(x => x.BillTo.Borough)<br/>
    @Html.DisplayFor(x => x.BillTo.State),
    @Html.DisplayFor(x => x.BillTo.Country),
    @Html.DisplayFor(x => x.BillTo.ZipCode)
</div>

<table>
    <tr>
        <th class="line nowrap"></th>
        <th class="line nowrap">@Resources.UnitOfMeasurement</th>
        <th class="line nowrap">@Resources.ProductCode</th>
        <th class="line">@Resources.ProductName</th>
        <th class="line nowrap">@Resources.Price</th>
        <th class="line nowrap">@Resources.VAT</th>
        <th class="line nowrap">@Resources.Amount</th>
    </tr>
	@foreach (var item in Model.Details) {
    <tr>
        <td class="number line">@Html.DisplayFor(x => item.Quantity)</td>
        <td class="center line">@Html.DisplayFor(x => item.UnitOfMeasurement)</td>
        <td class="center line">@Html.DisplayFor(x => item.ProductCode)</td>
        <td class="line">@Html.DisplayFor(x => item.ProductName)</td>
        <td class="number line">@Html.DisplayFor(x => item.Price)</td>
        <td class="number line">@Html.DisplayFor(x => item.TaxRate)</td>
        <td class="number line">@Html.DisplayFor(x => item.Subtotal)</td>
    </tr>
	}
</table>

<table>
    <tr>
        <td rowspan="3" class="center">@Html.ToMXN(Model.Total)</td>
        <td class="number">@Html.LabelFor(x => x.Subtotal)</td>
        <td class="number">@Html.DisplayFor(x => x.Subtotal)</td>
    </tr>
    <tr>
        <td class="number">@Html.LabelFor(x => x.Taxes)</td>
        <td class="number">@Html.DisplayFor(x => x.Taxes)</td>
    </tr>
    <tr>
        <td class="number">@Html.LabelFor(x => x.Total)</td>
        <td class="number">@Html.DisplayFor(x => x.Total)</td>
    </tr>
</table>
<p class="right">@Resources.SinglePayment</p>

<div id="digital-signature">
	@Html.LabelFor(x => x.DigitalSeal)<br/>
	@Html.DisplayFor(x => x.DigitalSeal)<br/>
	@Html.LabelFor(x => x.OriginalString)<br/>
	@Html.DisplayFor(x => x.OriginalString)<br/>
	@Html.LabelFor(x => x.CertificateNumber)
	@Html.DisplayFor(x => x.CertificateNumber)
	@Html.LabelFor(x => x.ApprovalNumber)
	@Html.DisplayFor(x => x.ApprovalNumber)
	@Html.LabelFor(x => x.ApprovalYear)
	@Html.DisplayFor(x => x.ApprovalYear)
</div>
<div class="right">@Resources.FiscalDocumentLegend</div>
<script type="text/javascript">
	$(function() {
        window.print();
	});
</script>