@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model TaxpayerRecipient
<tr id='id:@Model.Id'>
    <td class="center stretch">@Html.DisplayFor(x => x.Id)</td>
    <td>@Html.DisplayFor(x => x.Name)</td>
    <td class="center">@Html.DisplayFor(x => x.Email)</td>
    <td>@Html.DisplayFor(x => x.Address, "String")</td>
    <td class='actions'>
    	@if(ViewBag.Privilege.AllowRead){
    	    @Html.ActionLink(" ", "Details", "TaxpayerRecipients", new { id = Model.Id }, new { @class = "button icon view icon-only open-modal", title = Resources.Details, data_modal_id = "taxpayer-modal" })
        }
    	@if(ViewBag.Privilege.AllowUpdate){
        	@Html.ActionLink(" ", "Edit", "TaxpayerRecipients", new { id = Model.Id }, new { @class = "button icon edit icon-only open-modal", title = Resources.Edit, data_modal_id = "taxpayer-modal" })
        }
    	@if(ViewBag.Privilege.AllowDelete){
        	@Html.ActionLink(" ", "Delete", "TaxpayerRecipients", new { id = Model.Id }, new { @class = "button icon delete icon-only open-modal", @title = Resources.Delete, data_modal_id = "taxpayer-modal" })
        }
    </td>
</tr>