@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model User

@{
    ViewBag.Title = Resources.Details;
    var CurrentUser = Html.CurrentUser() ?? new User();
}

<h2>@Resources.Details</h2>

<fieldset>
    <legend>@Resources.User</legend>

    <div class="display-label">@Html.LabelFor(x => x.UserName)</div>
    <div class="display-field">
        @Html.DisplayFor(x => x.UserName)
    </div>

    <div class="display-label">@Html.LabelFor(x => x.Employee.Name)</div>
    <div class="display-field">
        @Html.DisplayFor(x => x.Employee.Name)
    </div>

    <div class="display-label">@Html.LabelFor(x => x.Email)</div>
    <div class="display-field">
        @Html.DisplayFor(x => x.Email)
    </div>

    <div class="display-label">
        @Html.DisplayFor(x => x.IsAdministrator)
        @Html.LabelFor(x => x.IsAdministrator)
    </div>
</fieldset>
<p>
@if(CurrentUser.IsAdministrator)
{
	@Html.ActionLink(Resources.Edit, "Edit", new { id = Model.UserName }, new { @class = "button icon edit" })
}
    @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })
</p>
