@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model Search<PurchaseOrder>

@{
    var CurrentUser = Html.CurrentUser () ?? new User ();
    var Privilege = Html.GetPrivilege (CurrentUser, SystemObjects.PurchasesOrders);
}

<table>
    <tr>
        <th>@Html.LabelFor(x => new PurchaseOrder().Id)</th>
        <th>@Html.LabelFor(x => new PurchaseOrder().CreationTime)</th>
        <th>@Html.LabelFor(x => new PurchaseOrder().Supplier)</th>
        <th>@Html.LabelFor(x => new PurchaseOrder().IsCompleted)</th>
        <th>@Html.LabelFor(x => new PurchaseOrder().IsCancelled)</th>
        <th></th>
    </tr>
@foreach (var item in Model.Results) {
    <tr>
        <td class="number">@Html.DisplayFor(x => item.Id)</td>
        <td class="date">@Html.DisplayFor(x => item.CreationTime)</td>
        <td>@Html.DisplayFor(x => item.Supplier.Name)</td>
        <td class="bool">@Html.DisplayFor(x => item.IsCompleted)</td>
        <td class="bool">@Html.DisplayFor(x => item.IsCancelled)</td>
        <td class="actions">
            @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "button icon view icon-only", @title = Resources.Details })
        	@if(Privilege.AllowUpdate && !item.IsCompleted && !item.IsCancelled) {
            	@Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "button icon edit icon-only", @title = Resources.Edit })
            }
        </td>
    </tr>
}
</table>
<div class="buttons right">
	<label class="button left">@Model.ToString()</label>@if (Model.HasPrev) {<a class="button middle icon prev icon-only" title="@Resources.PrevPage" href="javascript:void(0)"></a>}@if (Model.HasNext) {<a class="button right icon next icon-only" title="@Resources.NextPage" href="javascript:void(0)"></a>}
</div>
<script type="text/javascript">
$('a.paging').click(function (e) {
	var offset=@Model.Offset;
	
	if($(this).hasClass('next')) {
		offset+=@Model.Limit;
	} else {
		offset-=@Model.Limit;
	}
	
	e.preventDefault();
	$('#activity-indicator').show();
	$('#search-results').hide();
	
	$.post('@Url.Action("Index")', { Pattern: '@Model.Pattern', Offset: offset, Limit: @Model.Limit }, function(data) {
		$('#search-results').html(data);
		$('#search-results').show();
		$('#activity-indicator').hide();
	});
});
</script>