@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model PurchaseOrder
<fieldset>
    <legend>@Resources.Totals</legend>

    <div class="display-label left floating">
        @Html.LabelFor(x => x.Subtotal)
    </div>
    <div class="display-field right floating">
        @Html.DisplayFor(x => x.Subtotal)
    </div>

    <div class="display-label left floating">
        @Html.LabelFor(x => x.Taxes)
    </div>
    <div class="display-field right floating">
        @Html.DisplayFor(x => x.Taxes)
    </div>
    
    <div class="display-label left floating">
        @Html.LabelFor(x => x.Total)
    </div>
    <div class="display-field right floating">
        @Html.DisplayFor(x => x.Total)
    </div>
</fieldset>