@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model Search<CustomerRefund>
@{
    ViewBag.Title = Resources.CustomerRefunds;
    var CurrentUser = Html.CurrentUser () ?? new User ();
    var Privilege = Html.GetPrivilege (CurrentUser, SystemObjects.CustomerRefunds);
}
<div class="page-header">
    <div class="pull-right col-xs-6">
    @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "search-results", LoadingElementId = "activity-indicator", OnBegin = "onSearchBegin" })) {
	    @Html.HiddenFor(x => x.Offset)
	    @Html.HiddenFor(x => x.Limit)
		<div class="row">
	        <div class="col-xs-4 text-right">
	        @if(Privilege.AllowCreate) {
				<a id='new' class='btn btn-primary' data-url='@Url.Action("CreateFromSalesOrder")' title='@Resources.SalesOrderId'
				   data-type='text' data-placement='left' data-pk='0' data-value='' data-display='false'
				   data-emptytext='' data-emptyclass='' data-highlight='false'>
					<span class="glyphicon glyphicon-plus"></span>
				</a>
	        }
	        </div>
	        <div class="col-xs-8 input-group">
				<input id="Pattern" name="Pattern" type="text" class="form-control" placeholder="@Resources.SearchFor">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
	        </div>
	    </div>
	}
	</div>
    <h1>@Resources.CustomerRefunds</h1>
</div>
<div id='activity-indicator'>
    <img alt='@Resources.Loading' src='@Url.Content("~/Content/images/loading-bar.gif")' />
</div>
<div id='search-results'>
    @Html.Partial("_Index")
</div>
<script type='text/javascript'>
$(function () {
    $('#new').editable({
		success: function(response, newValue) {
        	window.location.replace(response.url);
            setTimeout(function(){$('#add-items').editable('setValue', '');},500);
	    }
	}).removeClass('editable-click');
});
</script>