<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.15.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EditorHookup.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>Business Essentials</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink(Business.Essentials.Resources.Title_Home, "Index", "Home")</li>
                    <li>@Html.ActionLink(Business.Essentials.Resources.Title_Category, "Index", "Categories")</li>
                    <li>@Html.ActionLink(Business.Essentials.Resources.Title_Product,"Index","Products")</li>
                    <li>@Html.ActionLink(Business.Essentials.Resources.Title_Warehouse, "Index", "Warehouses")</li>
                    <li>@Html.ActionLink(Business.Essentials.Resources.Title_Supplier,"Index","Suppliers")</li>
                    <li>@Html.ActionLink(Business.Essentials.Resources.Title_Customer,"Index","Customers")</li>
                    <li>@Html.ActionLink(Business.Essentials.Resources.Title_PriceList,"Index","PriceLists")</li>
                    <li>@Html.ActionLink(Business.Essentials.Resources.Title_SupplierAgreement,"Index","SupplierAgreements")</li>
                    <li>@Html.ActionLink(Business.Essentials.Resources.Title_About, "About", "Home")</li>   
                  
                     
                   
                                        
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
