@using Business.Essentials
@using Business.Essentials.Model
@using Business.Essentials.WebApp.Helpers

@{
    var CurrentUser = Html.CurrentUser() ?? new User();
}

<div id="gb">
    <div id="gbz">
        <ol class="gbtc">
            <li class="gbt">
                <a class="gbzt @Html.GetMenuClass("Home", "Index")" href="@Url.Action("Index", "Home")">
                    <span class="gbtb2"></span>
                    <span class="gbts">@Resources.Menu_Home</span>
                </a>
            </li>
            @if (Html.GetPrivilege(CurrentUser, SystemObjects.Products).AllowRead)
            {
            <li class="gbt">
                <a class="gbzt @Html.GetMenuClass("Products")" href="@Url.Action("Index", "Products")">
                    <span class="gbtb2"></span>
                    <span class="gbts">@Resources.Title_Product</span>
                </a>
            </li>
            }
            @if (Html.GetPrivilege(CurrentUser, SystemObjects.Categories).AllowRead)
            {
            <li class="gbt">
                <a class="gbzt @Html.GetMenuClass("Categories")" href="@Url.Action("Index", "Categories")">
                    <span class="gbtb2"></span>
                    <span class="gbts">@Resources.Title_Category</span>
                </a>
            </li>
            }
            @if (Html.GetPrivilege(CurrentUser, SystemObjects.Customers).AllowRead)
            {
            <li class="gbt">
                <a class="gbzt @Html.GetMenuClass("Customers")" href="@Url.Action("Index", "Customers")">
                    <span class="gbtb2"></span>
                    <span class="gbts">@Resources.Title_Customer</span>
                </a>
            </li>
            }
            @if (Html.GetPrivilege(CurrentUser, SystemObjects.Suppliers).AllowRead)
            {
            <li class="gbt">
                <a class="gbzt @Html.GetMenuClass("Suppliers")" href="@Url.Action("Index", "Suppliers")">
                    <span class="gbtb2"></span>
                    <span class="gbts">@Resources.Title_Supplier</span>
                </a>
            </li>
            }
            @if (Html.GetPrivilege(CurrentUser, SystemObjects.Employees).AllowRead)
            {
            <li class="gbt">
                <a class="gbzt @Html.GetMenuClass("Employees")" href="@Url.Action("Index", "Employees")">
                    <span class="gbtb2"></span>
                    <span class="gbts">@Resources.Title_Employee</span>
                </a>
            </li>
            }
            @if (Html.GetPrivilege(CurrentUser, SystemObjects.Warehouses).AllowRead)
            {
            <li class="gbt">
                <a class="gbzt @Html.GetMenuClass("Warehouses")" href="@Url.Action("Index", "Warehouses")">
                    <span class="gbtb2"></span>
                    <span class="gbts">@Resources.Title_Warehouse</span>
                </a>
            </li>
            }
            @if (Html.GetPrivilege(CurrentUser, SystemObjects.PriceLists).AllowRead)
            {
            <li class="gbt">
                <a class="gbzt @Html.GetMenuClass("PriceLists")" href="@Url.Action("Index", "PriceLists")">
                    <span class="gbtb2"></span>
                    <span class="gbts">@Resources.Title_PriceList</span>
                </a>
            </li>
            }
            @if (Html.GetPrivilege(CurrentUser, SystemObjects.PointsOfSale).AllowRead)
            {
            <li class="gbt">
                <a class="gbzt @Html.GetMenuClass("PointsOfSale")" href="@Url.Action("Index", "PointsOfSale")">
                    <span class="gbtb2"></span>
                    <span class="gbts">@Resources.Title_PointOfSale</span>
                </a>
            </li>
            }
            @if (Html.GetPrivilege(CurrentUser, SystemObjects.CashDrawers).AllowRead)
            {
            <li class="gbt">
                <a class="gbzt @Html.GetMenuClass("CashDrawers")" href="@Url.Action("Index", "CashDrawers")">
                    <span class="gbtb2"></span>
                    <span class="gbts">@Resources.Title_CashDrawer</span>
                </a>
            </li>
            }
            @if (Html.GetPrivilege(CurrentUser, SystemObjects.SalesOrders).AllowRead)
            {
            <li class="gbt">
                <a class="gbzt @Html.GetMenuClass("Sales")" href="@Url.Action("Index", "Sales")">
                    <span class="gbtb2"></span>
                    <span class="gbts">@Resources.Title_SalesOrder</span>
                </a>
            </li>
            }
            @if (Html.GetPrivilege(CurrentUser, SystemObjects.CustomerPayments).AllowRead)
            {
            <li class="gbt">
                <a class="gbzt @Html.GetMenuClass("Payments")" href="@Url.Action("Index", "Payments")">
                    <span class="gbtb2"></span>
                    <span class="gbts">@Resources.Title_CustomerPayment</span>
                </a>
            </li>
            }
            <li class="gbt">
                <a class="gbzt @Html.GetMenuClass("Home", "About")" href="@Url.Action("About", "Home")">
                    <span class="gbtb2"></span>
                    <span class="gbts">@Resources.Title_About</span>
                </a>
            </li>
        </ol>
    </div>
    @Html.Partial("_LogOnPartial", CurrentUser)
    <div id="gbx3"></div>
    <div id="gbx4"></div>
</div>