@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model Search<SalesOrder>

@{
    ViewBag.Title = Resources.SalesOrderShipments;
}

<h2>@Resources.SalesOrderShipments</h2>

<div id='master-section'>
@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "search-results", LoadingElementId = "activity-indicator", OnBegin = "onSearchBegin" })) {
    @Html.HiddenFor(x => x.Offset)
    @Html.HiddenFor(x => x.Limit)
	<div class="input-append row-fluid">
	  <input class='span11' type="text" id='Pattern' name='Pattern'>
	  <button type='submit' class="btn">@Resources.Search</button>
	</div>
}
</div>
<div id='activity-indicator'>
    <img alt='@Resources.Loading' src='@Url.Content("~/Content/images/loading-bar.gif")' />
</div>
<div id='search-results'>
    @Html.Partial("_Index")
</div>
