@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model SalesOrder

@{
    Layout = WebConfig.PrintLayout;
    ViewBag.Title = Html.PrintFileName(Resources.SalesOrderShipment, Model.Id);
    ViewBag.Store = Model.Store;
    ViewBag.TaxpayerName = null;
    ViewBag.Taxpayer = null;
    ViewBag.Address = Model.Store.Address;
}

<div class="row">
	<div class="col-xs-6 text-left">
		<div class="row">
			<div class="col-xs-12 uppercase">
				<h2>@Resources.Customer</h2>
			</div>
		 	<div class="col-xs-12">
		 		<p><span class="mylabel">@Resources.Name</span></p>
	 		</div>
	 		<div class="col-xs-12">
	 			<p>@Html.DisplayFor(x => x.Customer.Name)</p>
 			</div>
		@if(Model.Contact != null) {
		 	<div class="col-xs-12">
		 		<p><span class="mylabel">@Resources.Contact</span></p>
	 		</div>
	 		<div class="col-xs-12">
	 			<p>@Html.DisplayFor(x => x.Contact.Name)</p>
 			</div>
		}

		 	<div class="col-xs-12">
		 		<p><span class="mylabel">@Resources.ShipTo</span></p>
	 		</div>
	 		<div class="col-xs-12">
	 			<p>
				    @Html.DisplayFor(x => x.ShipTo.Street)
				    @Html.DisplayFor(x => x.ShipTo.ExteriorNumber)
				    @Html.DisplayFor(x => x.ShipTo.InteriorNumber)<br>
				    @Html.DisplayFor(x => x.ShipTo.Neighborhood),
				    @Html.DisplayFor(x => x.ShipTo.Borough)<br>
				    @Html.DisplayFor(x => x.ShipTo.State),
				    @Html.DisplayFor(x => x.ShipTo.Country),
				    @Html.DisplayFor(x => x.ShipTo.PostalCode)
                    @if (!string.IsNullOrWhiteSpace(Model.ShipTo.Comment)) {
                       <br> @Html.DisplayFor(x => x.ShipTo.Comment)
                    }
			    </p>
	 		</div>
 		</div>
	</div>
	<div class="col-xs-6 text-right">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="text-right uppercase">@Resources.SalesOrderShipment @Html.DisplayFor(x => x.Id)</h2>
			</div>
			<div class="col-xs-12">
				<p><span class="mylabel">@Resources.SalesPerson</span></p>
			</div>
	 		<div class="col-xs-12">
				<p>@Html.DisplayFor(x => x.SalesPerson.Name)</p>
	 		</div>
			<div class="col-xs-12">
				<p><span class="mylabel">@Resources.DateTime</span></p>
			</div>
	 		<div class="col-xs-12">
				<p>@Html.DisplayFor(x => x.Date)</p>
	 		</div>
			<div class="col-xs-12">
				<p><span class="mylabel">@Resources.PromiseDate</span></p>
			</div>
	 		<div class="col-xs-12">
				<p>@Html.DisplayFor(x => x.PromiseDate)</p>
	 		</div>
		</div>
	</div>
</div>

<div style="min-height: 2.2mm; border-top: #333 solid 1px; border-bottom: #333 solid 3px"></div>

<table  style="border-spacing:0 4px;border-collapse: separate;">
    <thead>
        <tr>
            <th class="col-xs-1 text-center">@Resources.QuantityShort</th>
            <th class="col-xs-1 text-center">@Resources.UnitOfMeasurementShort</th>
            <th class="col-xs-2 text-center">@Resources.ProductCode</th>
            <th class="col-xs-8 text-center">@Resources.ProductName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Details) {
            <tr class="alt">
                <td class="nowrap text-right">@Html.DisplayFor(x => item.Quantity)</td>
                <td class="nowrap text-center">@Html.DisplayFor(x => item.Product.UnitOfMeasurement)</td>
                <td class="text-center">@Html.DisplayFor(x => item.ProductCode)</td>
                <td class="text-center">@Html.DisplayFor(x => item.ProductName)</td>
            </tr>
        }
    </tbody>
</table>

<div style="min-height: 2.2mm; border-top: #333 solid 3px; border-bottom: #333 solid 1px"></div>

<div class="row" style="margin-top:20mm">
    <div class="col-xs-4 col-xs-offset-1 text-center" style="border-top: #333 solid 1px">
        @Resources.DeliveryPerson<br />
        @Resources.NameAndSignature
    </div>
    <div class="col-xs-4 col-xs-offset-2 text-center" style="border-top: #333 solid 1px">
        @Resources.PersonReceipt<br />
        @Resources.NameAndSignature
    </div>
</div>
