@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model DeliveryOrder

@{
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.DeliveryOrders);
}

<fieldset>
	<div class='row-fluid'>
		<div class='span8'>
	  		<dl class=''>
				<dt>@Resources.Customer</dt>
				<dd>@Html.DisplayFor(x => x.Customer.Name)</dd>
				<dt>@Resources.ShipTo</dt>
				<dd>@Html.DisplayFor(x => x.ShipTo, "String")</dd>
			</dl>
		</div>
	  	<div class='span4'>
	  		<dl class='dl-horizontal'>
				<dt>@Resources.Id</dt>
				<dd>
					<span>@Html.DisplayFor(x => x.Id)</span>
					<i id="Id" class='icon-exclamation-sign' data-toggle='tooltip' title='@Resources.Serial @Html.DisplayFor(x => x.Serial)'></i>
				</dd>
				<dt>@Resources.Date</dt>
				<dd>@Html.DisplayFor(x => x.Date)</dd>
			</dl>
  		</div>
	</div>
@if(Privilege.AllowDelete && !Model.IsCancelled) {
	<div class='row-fluid'>
  		<div class='span12'>
	    @using (Html.BeginForm("Cancel", "DeliveryOrders", new { id =  Model.Id }, FormMethod.Post, new { @class = "modal-form pull-right" })) {
			<button type="submit" class="icon cancel">@Resources.Cancel</button>
	    }
  		</div>
	</div>
}
</fieldset>