@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model DeliveryOrder

@{
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.DeliveryOrders);
}

<fieldset>
	<div class='row'>
		<div class='col-xs-8'>
	  		<dl class=''>
				<dt>@Resources.Customer</dt>
				<dd>
			        <a id='customer' data-type='select2' data-placement='right' data-pk='@Model.Id' 
			        	data-value='@Model.Customer.Id' data-url='@Url.Action("SetCustomer", new { id = Model.Id })'
			        	data-inputclass='input-xxlarge' data-emptytext='@Resources.Empty'>
			        	@Html.DisplayFor(x => x.Customer.Name)
			        </a>
			    </dd>
				<dt>@Resources.ShipTo</dt>
				<dd>
			        <a id='address' class='editable' data-type='select' data-placement='right' data-pk='@Model.Id'
			        	data-value='@(Model.ShipTo == null ? "" : Model.ShipTo.Id.ToString ())'
			        	data-source='@Url.Action("Addresses", new { id = Model.Id })' data-source-cache='false'
			        	data-url='@Url.Action("SetShipTo", new { id = Model.Id })'
			        	data-inputclass='input-xxlarge' data-emptytext='@Resources.Empty'>
			        @if (Model.ShipTo != null) {
			        	@Html.DisplayFor(x => x.ShipTo, "String")
		        	}
			        </a>
				</dd>
                <dt>@Resources.Comment</dt>
                <dd>
                    <a class='editable' data-type="textarea" data-placement='right' data-pk='@Model.Id'
                       data-url='@Url.Action("SetComment", new { id = Model.Id })'
                       data-inputclass='input-xxlarge' data-emptytext='@Resources.Empty'>@Model.Comment</a>
                </dd>
			</dl>
		</div>
	  	<div class='col-xs-4'>
	  		<dl class='dl-horizontal'>
				<dt>@Resources.Id</dt>
				<dd>
					<span>@Html.DisplayFor(x => x.Id)</span>
					<a href="javascript:void(0)" data-toggle="tooltip" title="@Resources.Serial @Html.DisplayFor(x => x.Serial)">
						<span class="glyphicon glyphicon-exclamation-sign"></span>
					</a>
				</dd>
				<dt>@Resources.Date</dt>
				<dd>
					<a id='date' data-type='date' data-placement='left' data-pk='@Model.Id'
						data-value='@Html.DisplayFor(x => x.Date)' data-url='@Url.Action("SetDate", new { id = Model.Id })'
						data-emptytext='@Resources.Empty'>
						@Html.DisplayFor(x => x.Date)
					</a>
				</dd>
			</dl>
  		</div>
	</div>
@if(Privilege.AllowDelete && !Model.IsCancelled) {
	<div class='row'>
  		<div class='col-xs-12'>
	    @using (Html.BeginForm("Cancel", "DeliveryOrders", new { id =  Model.Id }, FormMethod.Post, new { @class = "modal-form pull-right" })) {
			<button type="submit" class="icon cancel">@Resources.Cancel</button>
	    }
  		</div>
	</div>
}
</fieldset>
<script type='text/javascript'>
	$('[data-toggle="tooltip"]').tooltip();
	$('#customer').editable({
		select2: {
			minimumInputLength: 3,
			ajax: {
				url: '@Url.Action("GetSuggestions", "Customers")',
	        dataType: 'json',
	        type: 'POST',
	        data: function(term,page,context) {
	        	return { pattern:term };
	        },
	        results: function(data,page) {
	            return { results:data };
	        }
	    },
	    initSelection: function(element, callback) {
	        var data = {
	        	id: $('#customer').data('value'),
	        	name: $('#customer').text()
        	};
	        callback(data);
	    },
	    formatResult: function(result) {
	        return result.name + " (" + result.code + ")";
	    },
	    formatSelection: function(selection) {
	        return selection.name;
	    }
	},
	success: function(response, newValue) {
	    $('#address').text('').editable('setValue', '');
        $('#items-container').text()
    },
    display: function(value, response) {
    	if (typeof response !== 'undefined') {
			$(this).html(response.value);
		}
    }
	});

	$('#date').editable({
		datepicker: {
			language: '@WebConfig.Language'
		}
	});


$('a.editable').editable({
    display: function(value, response) {
		if (typeof response === 'undefined')
        	return;

        if (Array.isArray(response)) {
          	var arr = $.grep(response, function(o){
  				return o.value == value;
			});
			if (arr.length != 0) {
          		$(this).html(arr[0].text);
          	}
        } else {
          	$(this).html(response.value);
        }
    }
});
</script>