@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model DeliveryOrder

@{
    Layout = WebConfig.PrintLayout;
    ViewBag.Title = Html.PrintFileName(Resources.DeliveryOrder, Model.Id);
    ViewBag.Store = Model.Store;
    ViewBag.TaxpayerName = Model.Store.Taxpayer.Name;
    ViewBag.Taxpayer = Model.Store.Taxpayer.Id;
    ViewBag.Address = Model.Store.Address;
}

<div class="row">
	<div class="col-xs-6 text-left">
		<div class="row">
			<div class="col-xs-12 uppercase">
				<h2>@Resources.Customer</h2>
			</div>
		 	<div class="col-xs-12">
		 		<p><span class="mylabel">@Resources.Name</span></p>
	 		</div>
	 		<div class="col-xs-12">
	 			<p>@Html.DisplayFor(x => x.Customer.Name)</p>
 			</div>
		 	<div class="col-xs-12">
		 		<p><span class="mylabel">@Resources.ShipTo</span></p>
	 		</div>
	 		<div class="col-xs-12">
	 			<p>
				    @Html.DisplayFor(x => x.ShipTo.Street)
				    @Html.DisplayFor(x => x.ShipTo.ExteriorNumber)
				    @Html.DisplayFor(x => x.ShipTo.InteriorNumber)<br>
				    @Html.DisplayFor(x => x.ShipTo.Neighborhood),
				    @Html.DisplayFor(x => x.ShipTo.Borough)<br>
				    @Html.DisplayFor(x => x.ShipTo.State),
				    @Html.DisplayFor(x => x.ShipTo.Country),
				    @Html.DisplayFor(x => x.ShipTo.PostalCode)
			    </p>
	 		</div>
 		</div>
	</div>
	<div class="col-xs-6 text-right">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="text-right uppercase">@Resources.DeliveryOrder @Html.DisplayFor(x => x.Id)</h2>
			</div>
			<div class="col-xs-12">
				<p><span class="mylabel">@Resources.Serial</span></p>
			</div>
	 		<div class="col-xs-12">
				<p>@Html.DisplayFor(x => x.Serial)</p>
	 		</div>
			<div class="col-xs-12">
				<p><span class="mylabel">@Resources.DateTime</span></p>
			</div>
	 		<div class="col-xs-12">
				<p>@Html.DisplayFor(x => x.Date)</p>
	 		</div>
		</div>
	</div>
</div>

<div style="min-height: 2.2mm; border-top: #333 solid 1px; border-bottom: #333 solid 3px"></div>

<table  style="border-spacing:0 4px;border-collapse: separate;">
    <thead>
        <tr>
            <th class="col-xs-1 text-center">@Resources.QuantityShort</th>
            <th class="col-xs-1 text-center">@Resources.UnitOfMeasurementShort</th>
            <th class="col-xs-2 text-center">@Resources.ProductCode</th>
            <th class="col-xs-2 text-center">@Resources.ProductName</th>
            <th class="col-xs-6 text-center">@Resources.SalesOrderId</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Details.Where(x => x.Quantity > 0)) {
            <tr class="alt">
                <td class="nowrap text-right">@Html.DisplayFor(x => item.Quantity)</td>
                <td class="nowrap text-center">@Html.DisplayFor(x => item.Product.UnitOfMeasurement)</td>
                <td class="text-center">@Html.DisplayFor(x => item.ProductCode)</td>
                <td class="text-center">@Html.DisplayFor(x => item.ProductName)</td>
                <td class="text-center">@Html.DisplayFor(x => item.OrderDetail.SalesOrder.Id)</td>
            </tr>
        }
    </tbody>
</table>

<div style="min-height: 2.2mm; border-top: #333 solid 3px; border-bottom: #333 solid 1px"></div>
