@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model AccountsPayableEntry
           
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
    <p></p>
        <div class="right floating">
            @Html.LabelFor(model => model.EndDate)
            @Html.EditorFor(model => model.EndDate)
        </div>
        <div class="left floating">
            @Html.LabelFor(model => model.StartDate)
            @Html.EditorFor(model => model.StartDate)
        </div>
    </fieldset>
}
