@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Models
@using Mictlanix.BE.Web.Helpers;
@model IEnumerable<AccountsPayableSummary>

@{
    ViewBag.Title = Resources.Title_AccountsPayable;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.AccountsPayable);
}

<h2>@Resources.DisplayName_AccountsPayable</h2>

<table>
    <tr>
        <th>
            @Html.LabelFor(x => new Supplier().Name)            
        </th>
        <th class="nowrap">
            @Html.LabelFor(x => new AccountsPayableSummary().PurchasesSummary)
        </th>
        <th class="nowrap">
            @Html.LabelFor(x => new AccountsPayableSummary().PaymentsSummary)
        </th>
        <th class="nowrap">
            @Html.LabelFor(x => new AccountsPayableSummary().ReturnsSummary)
        </th>
        <th>
            @Html.LabelFor(x => new AccountsPayableSummary().Balance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(x => item.Supplier.Name)
        </td>
        <td class="number">
            @Html.DisplayFor(x => item.PurchasesSummary)
        </td>
        <td class="number">
            @Html.DisplayFor(x => item.PaymentsSummary)
        </td>
        <td class="number">
            @Html.DisplayFor(x => item.ReturnsSummary)
        </td>
        <td class="number">
            @Html.DisplayFor(x => item.Balance)
        </td>
        <td class="actions">
        @if (Privilege.AllowRead)
        {
            	@Html.ActionLink(" ", "AccountStatement", new { id = item.Supplier.Id }, new { @class = "button icon view icon-only", @title = Resources.Details })
        }
        </td>
    </tr>
}
</table>
