@model Business.Essentials.Model.Contact

@{
    ViewBag.Title = Business.Essentials.Resources.Delete;
}

<h2>@Business.Essentials.Resources.Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>@Business.Essentials.Resources.Title_Contact</legend>

        <div class="display-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.JobTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JobTitle)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.PhoneExt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneExt)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Mobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mobile)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Fax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fax)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Website)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Website)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Im)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Im)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Sip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sip)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Birthday)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Birthday)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.Hidden("OwnerId", (object)ViewBag.OwnerId)
    @Html.Hidden("OwnerType", (object)ViewBag.OwnerType)
    <p>
        <input type="submit" value= "@Business.Essentials.Resources.Delete" /> |
        @Html.ActionLink(Business.Essentials.Resources.BackToList, "Details", (string)ViewBag.OwnerType, new { id = ViewBag.OwnerId }, null)
    </p>
}
