@model Business.Essentials.Model.Contact

@{
    ViewBag.Title = Business.Essentials.Resources.Details;
}

<h2>@Business.Essentials.Resources.Details</h2>

<fieldset>
    <legend>@Business.Essentials.Resources.Title_Contact</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.JobTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JobTitle)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.PhoneExt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneExt)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Mobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mobile)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Fax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fax)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Website)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Website)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Im)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Im)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Sip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sip)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Birthday)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Birthday)
    </div>

   <div class="display-label">
        @Html.LabelFor(model => model.Comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>

</fieldset>
<p>
    @Html.ActionLink(Business.Essentials.Resources.Edit, "Edit", new { id=Model.Id }) |
    @Html.ActionLink(Business.Essentials.Resources.BackToList, "Index")
</p>
