@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model IEnumerable<Kardex>

@{
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.Kardex);
}

<table>
    <tr>
        <th>
            @Html.LabelFor(x => new Kardex().Date)
        </th>
        <th>
            @Html.LabelFor(x => new Kardex().Product)
        </th>
        <th>
            @Html.LabelFor(x => new Kardex().Source)
        </th>
        <th>
            @Html.LabelFor(x => new Kardex().Quantity)
        </th>
        
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(x => item.Date)
        </td>
        <td>
            @Html.DisplayFor(x => item.Product.Name)
        </td>
        <td>
            @item.Source.GetDisplayName()
        </td>
        <td class="number">
            @Html.DisplayFor(x => item.Quantity)
        </td>
    </tr> 
}
    <tr>
        <td></td>
        <td></td>
        <td class="right">@Resources.Total</td>
        <td class="number">@Model.Sum(x => x.Quantity).ToString("0.####")</td>
    </tr>
</table>