@model Business.Essentials.Model.BankAccount

@{
    ViewBag.Title = Business.Essentials.Resources.Details;
}

<h2>@Business.Essentials.Resources.Details</h2>

<fieldset>
    <legend>@Business.Essentials.Resources.Title_BankAccount</legend>

        <div class="display-label">
            @Html.LabelFor(model => model.BankName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.BankName)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.AccountNumber)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AccountNumber)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.Reference)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Reference)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.RoutingNumber)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RoutingNumber)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Comment)
        </div>

        @Html.Hidden("OwnerId", (object)ViewBag.OwnerId)
        @Html.Hidden("OwnerType", (object)ViewBag.OwnerType)

</fieldset>
<p>
    @Html.ActionLink(Business.Essentials.Resources.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Business.Essentials.Resources.BackToList, "Details", (string)ViewBag.OwnerType, new { id = ViewBag.OwnerId }, null)

</p>