@using Business.Essentials
@using Business.Essentials.WebApp.Helpers;
@using Business.Essentials.Model;
@model Business.Essentials.Model.SalesOrder

@{
    ViewBag.Title = Resources.Details;
    var CurrentUser = Html.CurrentUser() ?? new User();
}

<h2>@Resources.Details</h2>

<fieldset>
    <legend>@Resources.Title_Sale</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.Id) @Html.Label(":")
        @Html.DisplayFor(model => model.Id)
    </div>
    
    <div class="display-label">
        @Html.LabelFor(model => model.Serial) @Html.Label(":")
        @Html.DisplayFor(model => model.Serial)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Date) @Html.Label(":")
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Customer) @Html.Label(":")
        @Html.DisplayFor(model => model.Customer.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.DueDate) @Html.Label(":")
        @Html.DisplayFor(model => model.DueDate)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.SalesPerson) @Html.Label(":")
        @Html.DisplayFor(model => model.SalesPerson.FirstName)
        @Html.DisplayFor(model => model.SalesPerson.LastName)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.PointOfSale) @Html.Label(":")
        @Html.DisplayFor(model => model.PointOfSale.Name)
    </div>

</fieldset>

<fieldset>
    <legend>@Business.Essentials.Resources.DisplayName_SalesOrderDetails</legend>
    @Html.Partial("_SalesOrderDetails", Model.Details)
</fieldset>

