@model Business.Essentials.Model.SalesOrder

<fieldset>
    <legend>Sales Information</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Customer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Customer.PriceList)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.PriceList.Name)
    </div>

    @if (Model.IsCredit)
    {
        <div class="display-label">
            @Html.LabelFor(model => model.DueDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DueDate)
        </div>
    }
    
    <div style="float:right">
        @using (Html.BeginForm("CancelOrder", "Sales"))
            {
                @Html.Hidden("id", Model.Id)
                <p>
                    <input type="submit" value="Cancel Order" />
                </p>
            }
    </div>
    
    <div id="edit-sales-order" style="@(Model.Details.Count > 0 ? "display:none" : "")" >
        @Ajax.ActionLink(Business.Essentials.Resources.Edit, "Edit", new { id = Model.Id }, new AjaxOptions { UpdateTargetId = "sales-order" })
    </div>
    
</fieldset>
<script type="text/javascript">
    var SalesOrder = { Id: @Model.Id };
</script>