@using Business.Essentials
@using Business.Essentials.WebApp.Helpers
@model Business.Essentials.Model.SalesOrder
<fieldset>
    <legend>@Resources.SalesTotals</legend>

    <div class="display-label left floating">
        @Html.LabelFor(x => x.Total)
    </div>
    <div class="display-field right floating">
        @Html.DisplayFor(x => x.Total)
    </div>

    <div class="display-label left floating">
        @Html.LabelFor(x => x.Taxes)
    </div>
    <div class="display-field right floating">
        @Html.DisplayFor(x => x.Taxes)
    </div>

    <div class="display-label left floating">
        @Html.LabelFor(x => x.Subtotal)
    </div>
    <div class="display-field right floating">
        @Html.DisplayFor(x => x.Subtotal)
    </div>
    <div class="right floating">
    <p>
        @if (!Model.IsCredit || (CustomerHelpers.CalcDebt(Model.Customer.Id) + Model.Total) <= Model.Customer.CreditLimit)
        {
            if (Model.Total > 0)
            {
                using (Html.BeginForm("ConfirmOrder", "Sales", new { id = Model.Id }))
                {
                <button type="button" class="icon print">@Resources.Print</button>
                <button id="complete" type="submit">@Resources.CompleteSale</button>            
                }
            }
        }
        else
        {
            var difference = CustomerHelpers.CalcDebt(Model.Customer.Id) + Model.Total - Model.Customer.CreditLimit;

            @Resources.CreditLimitExceeded
            <br />
            @difference.ToString("c")
        }
        
    </p>
    </div>
</fieldset>
<script type="text/javascript">
    $(function() {
        $(".print").printPage({
            url: "@Url.Action("PrintOrder", "Sales", new { id = Model.Id })"
        });
    });

</script>
