@model Business.Essentials.Model.SalesOrder
<fieldset>
    <legend>@Business.Essentials.Resources.SalesTotals</legend>

    <div class="display-label">
        @Html.LabelFor(x => x.Total)
    </div>
    <div class="display-field">
        @Html.DisplayFor(x => x.Total)
    </div>

    <div class="display-label">
        @Html.LabelFor(x => x.Taxes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(x => x.Taxes)
    </div>

    <div class="display-label">
        @Html.LabelFor(x => x.Subtotal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(x => x.Subtotal)
    </div>
    @if (Model.Total > 0)
    {
        using (Html.BeginForm("ConfirmOrder", "Sales"))
        {
            @Html.Hidden("id", Model.Id)
            <p>
                <input type="submit" value="@Business.Essentials.Resources.CompleteSale" />
            </p>
        }
    }

</fieldset>
