@model Business.Essentials.Model.SalesOrder
<fieldset>
    <legend>@Business.Essentials.Resources.SalesTotals</legend>

    <div class="display-label">
        @Html.LabelFor(x => x.Total)
    </div>
    <div class="display-field">
        @Html.DisplayFor(x => x.Total)
    </div>

    <div class="display-label">
        @Html.LabelFor(x => x.Paid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(x => x.Paid)
    </div>

    <div class="display-label">
        @Html.LabelFor(x => x.Balance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(x => x.Balance)
    </div>

</fieldset>
<script type="text/javascript">
@if (Model.Balance >= 0)
{
    @:$("#form").hide("slow");
}
else
{
    @:$("#Amount").val("@((-Model.Balance).ToString("0.00"))");
    @:$("#form").show("slow");
}
</script>