@using Business.Essentials
@using Business.Essentials.WebApp.Helpers;
@using Business.Essentials.Model;
@model Business.Essentials.Model.SalesOrder

@{
    ViewBag.Title = Resources.Details;
}

<h2>@Resources.Details</h2>

<fieldset>
    <legend>@Resources.Title_SalesOrder</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Customer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.DueDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DueDate)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.SalesPerson)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SalesPerson.FirstName)
        @Html.DisplayFor(model => model.SalesPerson.LastName)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.PointOfSale)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PointOfSale.Name)
    </div>

</fieldset>

<fieldset>
    <legend>@Business.Essentials.Resources.DisplayName_SalesOrderDetails</legend>
    @Html.Partial("_SalesOrderDetails", Model.Details)
</fieldset>

<p>
    @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })
</p>