@using Business.Essentials.Model
@model IEnumerable<Business.Essentials.Model.SalesOrderDetail>


<table style="width:100%">
    <tr>
        <th>
            @Html.LabelFor(x => new SalesOrderDetail().ProductCode)
        </th>

        <th>
            @Html.LabelFor(x => new SalesOrderDetail().ProductName)
        </th>

        <th>
            @Html.LabelFor(x => new SalesOrderDetail().Quantity)
        </th>

        <th>
            @Html.LabelFor(x => new SalesOrderDetail().Price)
        </th>
        
        <th>
            @Html.LabelFor(x => new SalesOrderDetail().Discount)
        </th>

        <th>
            @Html.LabelFor(x => new SalesOrderDetail().TaxRate)
        </th>
        
        <th>
            @Html.LabelFor(x => new SalesOrderDetail().Total)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.ProductCode)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>

        <td class="number">
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>

        <td class="number">
            @Html.DisplayFor(modelItem => item.Price)
        </td>

        <td class="number">
            @Html.DisplayFor(modelItem => item.Discount)
        </td>

        <td class="number">
            @Html.DisplayFor(modelItem => item.Taxes)
        </td>
        
        <td class="number">
            @Html.DisplayFor(modelItem => item.Total)
        </td>
    </tr>
}

</table>
