@using Business.Essentials
@using Business.Essentials.Model
@model IEnumerable<Business.Essentials.Model.SalesOrder>

@{
    ViewBag.Title = Resources.Title_SalesOrder;
}

<h2>@Business.Essentials.Resources.DisplayName_SalesOrders</h2>

<p>
    @Html.ActionLink(Resources.NewSale, "New", new { }, new { @class = "button icon add" })
</p>
<table>
    <tr>
        <th>
            @Html.LabelFor(x => new SalesOrder().Id)
        </th>

        <th>
            @Html.LabelFor(x => new SalesOrder().Date)
        </th>

        <th>
            @Html.LabelFor(x => new SalesOrder().Customer)
        </th>

        <th>
            @Html.LabelFor(x => new SalesOrder().DueDate)
        </th>

         <th>
            @Html.LabelFor(x => new SalesOrder().SalesPerson)
        </th>

        <th>
            @Html.LabelFor(x => new SalesOrder().PointOfSale)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="number">
            @Html.DisplayFor(modelItem => item.Id)
        </td>
       
        <td class="center">
            @Html.DisplayFor(modelItem => item.Date)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>

        <td class="center">
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SalesPerson.FirstName)
            @Html.DisplayFor(modelItem => item.SalesPerson.LastName)
        </td>
        <td class="center">
            @Html.DisplayFor(modelItem => item.PointOfSale.Name)
        </td>
        <td class="actions">
            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "button icon edit icon-only", @title = Resources.Edit })
            @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "button icon view icon-only", @title = Resources.Details })
        </td>
    </tr>
}

</table>
