@using Business.Essentials.Model
@using Business.Essentials.WebApp.Models
@model SalesOrder

@{
    ViewBag.Title = Business.Essentials.Resources.Title_NewSale;
}

<h2>@Business.Essentials.Resources.DisplayName_NewSale</h2> 

<div id="sales-order">
    <fieldset>
        <legend>@Business.Essentials.Resources.DisplayName_SalesInformation</legend>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                
                <div class="editor-label">
                    @Html.LabelFor(model => model.Customer)
                    @Html.EditorFor(model => model.CustomerId)
                    @Html.ValidationMessageFor(model => model.CustomerId)
                </div>
                
     	        <div class="editor-label">
                    @Html.EditorFor(model => model.IsCredit)
                    @Html.LabelFor(model => model.IsCredit)
                    @Html.ValidationMessageFor(model => model.IsCredit)
                </div>

                <p class="right">
                    <input type="submit" value="@Business.Essentials.Resources.Save" />
                </p>
            }
    </fieldset>
</div>

<div id="back">
    @Html.ActionLink(Business.Essentials.Resources.BackToList, "Index")
</div>
<style type="text/css">
ul.token-input-list {
  width:100%;
}
</style>
<script type="text/javascript">
    $(function () {
        $("#CustomerId").tokenInput("add", { id: "@Model.Customer.Id", name: "@Model.Customer.Name" });
    });
</script>