@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model InventoryReceipt

@{
    ViewBag.Title = Resources.Edit;
}

<h2>@Resources.InventoryReceipt</h2> 

<div id='master-section'>
@Html.Partial("Receipts/_MasterView")
</div>
<div id='details-section'>
    <div id='items-container'>
        <ul id='items' class='list-items'>
        @foreach (var item in Model.Details) {
            @Html.Partial("Receipts/_DetailEditView", item) 
        }
        </ul>
    </div>
    <div class='search-box'>
        <input type='text' id='product-search' name='product-search' />
    </div>
</div>
<div id='back-to-list' class='pull-left'>
    @Html.ActionLink(Resources.BackToList, "Receipts", new { }, new { @class = "button icon back" })
</div>
<div id='confirm-button' class='pull-right' @if (Model.Details.Count == 0) {<text>style='display:none'</text>}>
@using (Html.BeginForm("ConfirmReceipt", "Inventory", new { id = Model.Id })) {
    <button id='complete' type='submit' class='icon lock'>@Resources.Complete</button>
}
</div>
<div class='clearfix'></div>
<script type="text/javascript">
$(function () {
    $('#product-search').tokenInput('@Url.Action("GetSuggestions", "Products")', {
        hintText:'@Resources.HIntText',
        noResultsText:'@Resources.NoResultsText',
        searchingText:'@Resources.SearchingText',          
        resultsFormatter:function(item){return ProductFormatter(item);},
        queryParam:'pattern',minChars:3,tokenLimit:1,
        onAdd:function (item) {
            $.post('@Url.Action("AddReceiptDetail")', { 'movement': @Model.Id, 'product': '' + item.id }, function (detail) {
                $.get('@Url.Action("GetReceiptItem")/' + detail.id, function (data) {
                    $('#items').append(data);
                    $('#product-search').tokenInput('clear');
                    $('#confirm-button').show('slow');
                });
            }, 'json');
        }
    });

    $('form').submit(function(){
        $('button.lock').prop('disabled', true);
	    $('button.lock').html('@Resources.PleaseWait');
	});
});
</script>
<style type='text/css'>
ul.token-input-list {width:100%;}
div.token-input-dropdown {width:650px;}
</style>