@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Models
@model InventoryReceipt

@{
    ViewBag.Title = Resources.Title_NewInventoryReceipt;
}

<h2>@Resources.DisplayName_NewInventoryReceipt</h2> 

<div id="master-section">
    <fieldset>
        <legend>@Resources.DisplayName_InventoryInformation</legend>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                
                <div class="editor-label">
                    @Html.LabelFor(model => model.Warehouse)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WarehouseId)
                    @Html.ValidationMessageFor(model => model.WarehouseId)
                </div>
                
     	        <div class="editor-label">
                    @Html.LabelFor(model => model.Comment)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Comment)
                </div>
                
	            <div class="action-buttons">
	                <button type="submit" class="icon save">@Resources.Save</button>
	            </div>
            }
    </fieldset>
</div>
<div id="back">
    @Html.ActionLink(Resources.BackToList, "Receipts", new { }, new { @class = "button icon back" })
</div>
<style type="text/css">
ul.token-input-list {
  width:100%;
}
</style>
<script type="text/javascript">
    $(function () {
        $('form').submit(function(){
            $("button.save").attr("disabled", "disabled");
		    $("button.save").html("@Resources.PleaseWait");
		});
    });
</script>