@using Business.Essentials
@using Business.Essentials.WebApp.Helpers
@model Business.Essentials.Model.Supplier

@{
    ViewBag.Title = Resources.Details;
}

<h2>@Resources.Details</h2>

<fieldset>
    <legend>@Resources.Title_Supplier</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Zone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zone)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.CreditLimit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreditLimit)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.CreditDays)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreditDays)
    </div>

</fieldset>
<p>
    @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "button icon edit" })
    @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })
</p>

<fieldset>
    <legend>@Resources.DisplayName_Addresses</legend>
    <p>
        @Html.ActionLink(Resources.CreateNew, "CreateForSupplier", "Addresses", new { id = Model.Id }, new { @class = "button icon add" })
    </p>
    @Html.Partial("../Addresses/_Index", Model.Addresses)
</fieldset>

<fieldset>
    <legend>@Resources.DisplayName_Contacts</legend>
    <p>
        @Html.ActionLink(Resources.CreateNew, "CreateForSupplier", "Contacts", new { id = Model.Id }, new { @class = "button icon add" })
    </p>
    @Html.Partial("../Contacts/_Index", Model.Contacts)
</fieldset>

<fieldset>
    <legend>@Resources.DisplayName_BankAccounts</legend>
    <p>
        @Html.ActionLink(Resources.CreateNew, "CreateForSupplier", "BankAccounts", new { id = Model.Id }, new { @class = "button icon add" })
    </p>
    @Html.Partial("../BankAccounts/_Index", Model.BanksAccounts)
</fieldset>

<fieldset>
    <legend>@Resources.DisplayName_SupplierAgreements</legend>
    <p>
        @Html.ActionLink(Resources.CreateNew, "CreateForSupplier", "SupplierAgreements", new { id = Model.Id }, new { @class = "button icon add" })
    </p>
    @Html.Partial("../SupplierAgreements/_Index", Model.Agreements)
</fieldset>