@using Business.Essentials.Model
@model IEnumerable<Business.Essentials.Model.Supplier>

@{
    ViewBag.Title = Business.Essentials.Resources.Title_Supplier;
}

<h2>@Business.Essentials.Resources.DisplayName_Suppliers</h2>

<p>
    @Html.ActionLink(Business.Essentials.Resources.CreateNew, "Create")
    @*@Html.ActionLink(Business.Essentials.Resources.CreateNew, "Create", "Suppliers", null, new { @class = "openDialog", data_dialog_id = "supplier_dlg", data_dialog_title = "New Supplier" })*@
</p>
<table>
    <tr>
        <th>
            @Html.LabelFor(x => new Supplier().Code)
        </th>

        <th>
            @Html.LabelFor(x => new Supplier().Name)
        </th>

        <th>
            @Html.LabelFor(x => new Supplier().Zone)
        </th>
           
        <th>
            @Html.LabelFor(x => new Supplier().CreditLimit)
        </th>

        <th>
             @Html.LabelFor(x => new Supplier().CreditDays)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Zone)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CreditLimit)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CreditDays)
        </td>
        <td class="actions">
            @Html.ActionLink(Business.Essentials.Resources.Edit, "Edit", new { id=item.Id }) |
            @Html.ActionLink(Business.Essentials.Resources.Details, "Details", new { id=item.Id }) |
            @Html.ActionLink(Business.Essentials.Resources.Delete, "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
