@using Business.Essentials
@using Business.Essentials.Model
@model IEnumerable<Business.Essentials.Model.Supplier>

@{
    ViewBag.Title = Resources.Title_Supplier;
}

<h2>@Resources.DisplayName_Suppliers</h2>

<p>
    @Html.ActionLink(Resources.CreateNew, "Create", new { }, new { @class = "button icon add" })
    @*@Html.ActionLink(Resources.CreateNew, "Create", "Suppliers", null, new { @class = "openDialog button icon add", data_dialog_id = "supplier_dlg", data_dialog_title = "New Supplier" })*@
</p>
<table>
    <tr>
        <th>
            @Html.LabelFor(x => new Supplier().Code)
        </th>

        <th>
            @Html.LabelFor(x => new Supplier().Name)
        </th>

        <th>
            @Html.LabelFor(x => new Supplier().Zone)
        </th>
           
        <th>
            @Html.LabelFor(x => new Supplier().CreditLimit)
        </th>

        <th>
             @Html.LabelFor(x => new Supplier().CreditDays)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Zone)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CreditLimit)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CreditDays)
        </td>
        <td class="actions">
            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "button icon edit icon-only", @title = Resources.Edit })
            @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "button icon view icon-only", @title = Resources.Details })
            @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "button icon delete icon-only", @title = Resources.Delete })
        </td>
    </tr>
}

</table>
