@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model Search<CustomerRefund>

@{
    ViewBag.Title = Resources.CustomerRefunds;
    var CurrentUser = Html.CurrentUser () ?? new User ();
    var Privilege = Html.GetPrivilege (CurrentUser, SystemObjects.CustomerRefunds);
}

<h2>@Resources.CustomerRefunds</h2>

@if(Privilege.AllowCreate) {
<div class='control-group'>
	<a id='new' class='button icon add' data-url='@Url.Action("CreateFromSalesOrder")' title='@Resources.SalesOrderId'
	   data-type='text' data-placement='right' data-pk='0' data-value='' data-display='false'
	   data-emptytext='' data-emptyclass='' data-highlight='false'>@Resources.New</a>
</div>
}

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "search-results", LoadingElementId = "activity-indicator", OnBegin = "onSearchBegin" })) {
        @Html.HiddenFor(x => x.Offset)
        @Html.HiddenFor(x => x.Limit)
        <div class='editor-label'>
            @Html.LabelFor(x => x.Pattern)
        </div>
        <div class='search-box'>
            <button type='submit' class='icon search'>@Resources.Search</button>
            <div class='search-field'>
                <input type='text' id='Pattern' name='Pattern' />
            </div>
        </div>
}
<div id='activity-indicator'>
    <img alt='@Resources.Loading' src='@Url.Content("~/Content/images/loading-bar.gif")' />
</div>
<div id='search-results'>
    @Html.Partial("_Index")
</div>
<script type='text/javascript'>
$(function () {
    $('#new').editable({
		success: function(response, newValue) {
        	window.location.replace(response.url);
            setTimeout(function(){$('#add-items').editable('setValue', '');},500);
	    }
	}).removeClass('editable-click');
});
</script>