@using Mictlanix.BE
@using Mictlanix.BE.Model
@model Address

<div style='overflow:hidden'>
	<div class="row">
	  	<div class="span4 field-required">@Html.LabelFor(x => x.Street)</div>
		<div class="span2 field-required">@Html.LabelFor(x => x.ExteriorNumber)</div>
	  	<div class="span2">@Html.LabelFor(x => x.InteriorNumber)</div>
	</div>
	<div class="row">
	  	<div class="span4">@Html.EditorFor(x => x.Street) @Html.ValidationMessageFor(x => x.Street)</div>
		<div class="span2">@Html.EditorFor(x => x.ExteriorNumber) @Html.ValidationMessageFor(x => x.ExteriorNumber)</div>
	  	<div class="span2">@Html.EditorFor(x => x.InteriorNumber) @Html.ValidationMessageFor(x => x.InteriorNumber)</div>
	</div>
	<div class="row">
	  	<div class="span2 field-required">@Html.LabelFor(x => x.PostalCode)</div>
	  	<div class="span3 field-required">@Html.LabelFor(x => x.Neighborhood)</div>
		<div class="span3">@Html.LabelFor(x => x.Locality)</div>
	</div>
	<div class="row">
	  	<div class="span2">@Html.EditorFor(x => x.PostalCode) @Html.ValidationMessageFor(x => x.PostalCode)</div>
	  	<div class="span3">@Html.EditorFor(x => x.Neighborhood) @Html.ValidationMessageFor(x => x.Neighborhood)</div>
		<div class="span3">@Html.EditorFor(x => x.Locality) @Html.ValidationMessageFor(x => x.Locality)</div>
	</div>
	<div class="row">
	  	<div class="span4 field-required">@Html.LabelFor(x => x.Borough)</div>
	  	<div class="span4 field-required">@Html.LabelFor(x => x.State)</div>
	</div>
	<div class="row">
	  	<div class="span4">@Html.EditorFor(x => x.Borough) @Html.ValidationMessageFor(x => x.Borough)</div>
	  	<div class="span4">@Html.EditorFor(x => x.State) @Html.ValidationMessageFor(x => x.State)</div>
	</div>
	<div class="row">
	  	<div class="span4">@Html.LabelFor(x => x.City)</div>
		<div class="span4 field-required">@Html.LabelFor(x => x.Country)</div>
	</div>
	<div class="row">
	  	<div class="span4">@Html.EditorFor(x => x.City) @Html.ValidationMessageFor(x => x.City)</div>
		<div class="span4">@Html.EditorFor(x => x.Country) @Html.ValidationMessageFor(x => x.Country)</div>
	</div>
	<div class="row">
	  	<div class="span8">@Html.LabelFor(x => x.Comment)</div>
	</div>
	<div class="row">
	  	<div class="span8">@Html.EditorFor(x => x.Comment) @Html.ValidationMessageFor(x => x.Comment)</div>
	</div>
</div>