@using Mictlanix.BE
@using Mictlanix.BE.Model
@model Contact

<div class="form-group">
  	<div class="col-xs-8 field-required">@Html.LabelFor(x => x.Name) @Html.EditorFor(x => x.Name) @Html.ValidationMessageFor(x => x.Name)</div>
	<div class="col-xs-4">@Html.LabelFor(x => x.JobTitle) @Html.EditorFor(x => x.JobTitle) @Html.ValidationMessageFor(x => x.JobTitle)</div>
</div>
<div class="form-group">
  	<div class="col-xs-6 field-required">@Html.LabelFor(x => x.Email) @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control" } }) @Html.ValidationMessageFor(x => x.Email)</div>
  	<div class="col-xs-4">@Html.LabelFor(x => x.Phone) @Html.EditorFor(x => x.Phone) @Html.ValidationMessageFor(x => x.Phone)</div>
  	<div class="col-xs-2">@Html.LabelFor(x => x.PhoneExt) @Html.EditorFor(x => x.PhoneExt) @Html.ValidationMessageFor(x => x.PhoneExt)</div>
</div>
<div class="form-group">
  	<div class="col-xs-4 field-required">@Html.LabelFor(x => x.Mobile) @Html.EditorFor(x => x.Mobile) @Html.ValidationMessageFor(x => x.Mobile)</div>
	<div class="col-xs-4">@Html.LabelFor(x => x.Fax) @Html.EditorFor(x => x.Fax) @Html.ValidationMessageFor(x => x.Fax)</div>
	<div class="col-xs-4">@Html.LabelFor(x => x.Birthday) @Html.EditorFor(x => x.Birthday) @Html.ValidationMessageFor(x => x.Birthday)</div>
</div>
<div class="form-group">
  	<div class="col-xs-6">@Html.LabelFor(x => x.Im) @Html.EditorFor(x => x.Im) @Html.ValidationMessageFor(x => x.Im)</div>
	<div class="col-xs-6">@Html.LabelFor(x => x.Sip) @Html.EditorFor(x => x.Sip) @Html.ValidationMessageFor(x => x.Sip)</div>
</div>
<div class="form-group">
  	<div class="col-xs-12">@Html.LabelFor(x => x.Website) @Html.EditorFor(x => x.Website, new { htmlAttributes = new { @class = "form-control" } }) @Html.ValidationMessageFor(x => x.Website)</div>
</div>
<div class="form-group">
  	<div class="col-xs-12">@Html.LabelFor(x => x.Comment) @Html.EditorFor(x => x.Comment) @Html.ValidationMessageFor(x => x.Comment)</div>
</div>