@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model ExchangeRate

<div class="form-group">
    <div class="col-xs-6 field-required">@Html.LabelFor(x => x.Date) @Html.EditorFor(x => x.Date) @Html.ValidationMessageFor(x => x.Date)</div>
    <div class="col-xs-6 field-required">
    	@Html.LabelFor(x => x.Base)
    	<select id="target-list" name="Base" class="form-control">
            @foreach (var item in Enum.GetValues (typeof (CurrencyCode))) {
                if(WebConfig.DefaultCurrency == (CurrencyCode) item) {
                    <option value="@((int)item)" selected>@item.ToString()</option>
                } else {
                    <option value="@((int)item)">@item.ToString()</option>
                }
            }
        </select>
        @Html.ValidationMessageFor(x => x.Base)
    </div>
</div>
<div class="form-group">
    <div class="col-xs-6 field-required">@Html.LabelFor(x => x.Rate) @Html.EditorFor(x => x.Rate) @Html.ValidationMessageFor(x => x.Rate)</div>
    <div class="col-xs-6">@Html.LabelFor(x => x.Target) <p class="form-control-static">@Html.HiddenFor(x => x.Target) @Html.DisplayFor(x => x.Target)</p></div>
</div>
