@using Mictlanix.BE
@using Mictlanix.BE.Model
@model FiscalDocument

<div class="form-group">
    <div class="col-xs-12 field-required">@Html.LabelFor(x => x.Issuer) @Html.EditorFor(x => x.IssuerId) @Html.ValidationMessageFor(x => x.IssuerId)</div>
</div>
<div class="form-group">
    <div class="col-xs-12 field-required">@Html.LabelFor(x => x.Customer) @Html.EditorFor(x => x.CustomerId) @Html.ValidationMessageFor(x => x.CustomerId)</div>
</div>
<div class="form-group">
    <div class="col-xs-12">@Html.LabelFor(x => x.Recipient) @Html.EditorFor(x => x.Recipient) @Html.ValidationMessageFor(x => x.Recipient)</div>
</div>