@using Mictlanix.BE
@using Mictlanix.BE.Model
@model FiscalDocument

<div class='control-group'>
    <div class='row'>
        <div class="span8 field-required">@Html.LabelFor(x => x.Issuer)</div>
    </div>
    <div class='row'>
        <div class="span8">@Html.EditorFor(x => x.IssuerId) @Html.ValidationMessageFor(x => x.IssuerId)</div>
    </div>
    <div class='row'>
        <div class="span8 field-required">@Html.LabelFor(x => x.Customer)</div>
    </div>
    <div class='row'>
        <div class="span8">@Html.EditorFor(x => x.CustomerId) @Html.ValidationMessageFor(x => x.CustomerId)</div>
    </div>
    <div class='row'>
        <div class="span8">@Html.LabelFor(x => x.Recipient)</div>
    </div>
    <div class='row'>
        <div class="span8">@Html.EditorFor(x => x.Recipient) @Html.ValidationMessageFor(x => x.Recipient)</div>
    </div>
</div>

