@using Mictlanix.BE
@using Mictlanix.BE.Model
@model InventoryReceipt

<div class="form-group">
    <div class="col-xs-12 field-required">@Html.LabelFor(x => x.Warehouse) @Html.EditorFor(x => x.WarehouseId) @Html.ValidationMessageFor(x => x.WarehouseId)</div>
</div>
<div class="form-group">
    <div class="col-xs-12">@Html.LabelFor(x => x.Comment) @Html.EditorFor(x => x.Comment)</div>
</div>