@using Mictlanix.BE
@using Mictlanix.BE.Model
@model PriceList

<div class="form-group">
    <div class="col-xs-12 field-required">@Html.LabelFor(model => model.Name) @Html.EditorFor(model => model.Name) @Html.ValidationMessageFor(model => model.Name)</div>
</div>
<div class="form-group">
    <div class="col-xs-6 field-required">@Html.LabelFor(model => model.LowProfitMargin) @Html.EditorFor(model => model.LowProfitMargin) @Html.ValidationMessageFor(model => model.LowProfitMargin)</div>
    <div class="col-xs-6 field-required">@Html.LabelFor(model => model.HighProfitMargin) @Html.EditorFor(model => model.HighProfitMargin) @Html.ValidationMessageFor(model => model.HighProfitMargin)</div>
</div>