@using Mictlanix.BE
@using Mictlanix.BE.Model
@model PurchaseOrder

<div class="form-group">
    <div class="col-xs-12 field-required">@Html.LabelFor(x => x.Supplier) @Html.EditorFor(x => x.SupplierId) @Html.ValidationMessageFor(x => x.SupplierId)</div>
</div>
<div class="form-group">
    <div class="col-xs-12">@Html.LabelFor(x => x.Comment) @Html.EditorFor(x => x.Comment)</div>
</div>