@using Mictlanix.BE
@using Mictlanix.BE.Model
@model Supplier


<div class="row">
    <div class="span2 field-required">@Html.LabelFor(x => x.Code)</div>
    <div class="span6 field-required">@Html.LabelFor(x => x.Name)</div>
</div>
<div class="row">
    <div class="span2">@Html.EditorFor(x => x.Code) @Html.ValidationMessageFor(x => x.Code)</div>
    <div class="span6">@Html.EditorFor(x => x.Name) @Html.ValidationMessageFor(x => x.Name)</div>
</div>
<div class="row">
    <div class="span4 field-required">@Html.LabelFor(x => x.Zone)</div>
    <div class="span2">@Html.LabelFor(x => x.CreditLimit)</div>
    <div class="span2">@Html.LabelFor(x => x.CreditDays)</div>
</div>
<div class="row">
    <div class="span4">@Html.EditorFor(x => x.Zone) @Html.ValidationMessageFor(x => x.Zone)</div>
    <div class="span2">@Html.EditorFor(x => x.CreditLimit)</div>
    <div class="span2">@Html.EditorFor(x => x.CreditDays)</div>
</div>
<div class="row">
    <div class="span8">@Html.LabelFor(x => x.Comment)</div>
</div>
<div class="row">
    <div class="span8">@Html.EditorFor(x => x.Comment)</div>
</div>