@using Mictlanix.BE
@using Mictlanix.BE.Model
@model Taxpayer

<div class="row">
  	<div class="span2 field-required">@Html.LabelFor(x => x.Id)</div>
	<div class="span6">@Html.LabelFor(x => x.Name)</div>
</div>
<div class="row">
  	<div class="span2">@Html.EditorFor(x => x.Id) @Html.ValidationMessageFor(x => x.Id)</div>
	<div class="span6">@Html.EditorFor(x => x.Name) @Html.ValidationMessageFor(x => x.Name)</div>
</div>
<div class="row">
  	<div class="span8 field-required">@Html.LabelFor(x => x.Regime)</div>
</div>
<div class="row">
  	<div class="span8">@Html.EditorFor(x => x.Regime) @Html.ValidationMessageFor(x => x.Regime)</div>
</div>
<div class="row">
  	<div class="span4 field-required">@Html.LabelFor(x => x.Scheme)</div>
  	<div class="span4 field-required">@Html.LabelFor(x => x.Provider)</div>
</div>
<div class="row">
  	<div class="span4">@Html.EditorFor(x => x.Scheme) @Html.ValidationMessageFor(x => x.Scheme)</div>
  	<div class="span4">@Html.EditorFor(x => x.Provider) @Html.ValidationMessageFor(x => x.Provider)</div>
</div>
<div class="row">
  	<div class="span8">@Html.EditorFor(x => x.HasAddress)</div>
</div>
<div id='address-container' @if(Model == null || !Model.HasAddress) {<text>style='display:none'</text>}>
	@Html.EditorFor(x => x.Address)
</div>
<script type="text/javascript">
$("#Id").css('text-transform', 'uppercase');
$("#HasAddress").change(function() {
    var show = $(this).is(':checked');
    
    if (show) {
        $("#address-container").show("fast");
    } else {
        $("#address-container").hide("fast");
    }
});
</script>