@using Mictlanix.BE
@using Mictlanix.BE.Model
@model TaxpayerRecipient

<div class="form-group">
  	<div class="col-xs-4 field-required">@Html.LabelFor(x => x.Id) @Html.EditorFor(x => x.Id) @Html.ValidationMessageFor(x => x.Id)</div>
	<div class="col-xs-8">@Html.LabelFor(x => x.Name) @Html.EditorFor(x => x.Name) @Html.ValidationMessageFor(x => x.Name)</div>
</div>
<div class="form-group">
  	<div class="col-xs-12 field-required">@Html.LabelFor(x => x.Email) @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control" } }) @Html.ValidationMessageFor(x => x.Email)</div>
</div>
<script type="text/javascript">
$("#Id").css('text-transform', 'uppercase');
</script>