@using Mictlanix.BE
@using Mictlanix.BE.Model
@model TechnicalServiceReport
<div class="form-group">
  	<div class="col-xs-4 field-required">@Html.LabelFor(x => x.Date) @Html.EditorFor(x => x.Date) @Html.ValidationMessageFor(x => x.Date)</div>
	<div class="col-xs-4 field-required">@Html.LabelFor(x => x.Location) @Html.EditorFor(x => x.Location) @Html.ValidationMessageFor(x => x.Location)</div>
	<div class="col-xs-4 field-required">@Html.LabelFor(x => x.Type) @Html.EditorFor(x => x.Type) @Html.ValidationMessageFor(x => x.Type)</div>
</div>
<div class="form-group">
  	<div class="col-xs-4 field-required">@Html.LabelFor(x => x.Equipment) @Html.EditorFor(x => x.Equipment) @Html.ValidationMessageFor(x => x.Equipment)</div>
  	<div class="col-xs-4 field-required">@Html.LabelFor(x => x.Brand) @Html.EditorFor(x => x.Brand) @Html.ValidationMessageFor(x => x.Brand)</div>
  	<div class="col-xs-4 field-required">@Html.LabelFor(x => x.Model) @Html.EditorFor(x => x.Model) @Html.ValidationMessageFor(x => x.Model)</div>
</div>
<div class="form-group">
  	<div class="col-xs-8">@Html.LabelFor(x => x.SerialNumber) @Html.EditorFor(x => x.SerialNumber) @Html.ValidationMessageFor(x => x.SerialNumber)</div>
  	<div class="col-xs-4 field-required">@Html.LabelFor(x => x.Cost) @Html.EditorFor(x => x.Cost) @Html.ValidationMessageFor(x => x.Cost)</div>
</div>
<div class="form-group">
  	<div class="col-xs-12">@Html.LabelFor(x => x.User) @Html.EditorFor(x => x.User) @Html.ValidationMessageFor(x => x.User)</div>
</div>
<div class="form-group">
  	<div class="col-xs-12">@Html.LabelFor(x => x.Technician) @Html.EditorFor(x => x.Technician) @Html.ValidationMessageFor(x => x.Technician)</div>
</div>
<div class="form-group">
  	<div class="col-xs-12">@Html.LabelFor(x => x.UserReport) @Html.EditorFor(x => x.UserReport)</div>
</div>
<div class="form-group">
  	<div class="col-xs-12">@Html.LabelFor(x => x.Description) @Html.EditorFor(x => x.Description)</div>
</div>
<div class="form-group">
  	<div class="col-xs-12">@Html.LabelFor(x => x.Comment) @Html.EditorFor(x => x.Comment)</div>
</div>