@using Mictlanix.BE
@using Mictlanix.BE.Model
@model TechnicalServiceRequest
<div class="form-group">
	<div class="col-xs-12 field-required">@Html.LabelFor(x => x.Type) @Html.EditorFor(x => x.Type) @Html.ValidationMessageFor(x => x.Type)</div>
</div>
<div class="form-group">
  	<div class="col-xs-3 field-required">@Html.LabelFor(x => x.Brand) @Html.EditorFor(x => x.Brand) @Html.ValidationMessageFor(x => x.Brand)</div>
  	<div class="col-xs-3 field-required">@Html.LabelFor(x => x.Equipment) @Html.EditorFor(x => x.Equipment) @Html.ValidationMessageFor(x => x.Equipment)</div>
  	<div class="col-xs-3 field-required">@Html.LabelFor(x => x.Model) @Html.EditorFor(x => x.Model) @Html.ValidationMessageFor(x => x.Model)</div>
  	<div class="col-xs-3">@Html.LabelFor(x => x.SerialNumber) @Html.EditorFor(x => x.SerialNumber) @Html.ValidationMessageFor(x => x.SerialNumber)</div>
</div>
<div class="form-group">
  	<div class="col-xs-4 field-required">@Html.LabelFor(x => x.Date) @Html.EditorFor(x => x.Date) @Html.ValidationMessageFor(x => x.Date)</div>
	<div class="col-xs-4 field-required">@Html.LabelFor(x => x.Location) @Html.EditorFor(x => x.Location) @Html.ValidationMessageFor(x => x.Location)</div>
  	<div class="col-xs-4">@Html.LabelFor(x => x.EndDate) @Html.EditorFor(x => x.EndDate) @Html.ValidationMessageFor(x => x.EndDate)</div>
</div>
<div class="form-group">
  	<div class="col-xs-12 field-required">@Html.LabelFor(x => x.Customer) @Html.EditorFor(x => x.CustomerId) @Html.ValidationMessageFor(x => x.CustomerId)</div>
</div>
<div class="form-group">
  	<div class="col-xs-12 field-required">@Html.LabelFor(x => x.ResponsiblePerson) @Html.EditorFor(x => x.ResponsiblePerson) @Html.ValidationMessageFor(x => x.ResponsiblePerson)</div>
</div>
<div class="form-group">
  	<div class="col-xs-12">@Html.LabelFor(x => x.Comment) @Html.EditorFor(x => x.Comment)</div>
</div>
<div class="form-group">
  	<div class="col-xs-8">@Html.LabelFor(x => x.ContactName) @Html.EditorFor(x => x.ContactName) @Html.ValidationMessageFor(x => x.ContactName)</div>
  	<div class="col-xs-4">@Html.LabelFor(x => x.ContactPhoneNumber) @Html.EditorFor(x => x.ContactPhoneNumber) @Html.ValidationMessageFor(x => x.ContactPhoneNumber)</div>
</div>
<div class="form-group">
	<div class="col-xs-6">@Html.LabelFor(x => x.PaymentStatus) @Html.EditorFor(x => x.PaymentStatus) @Html.ValidationMessageFor(x => x.PaymentStatus)</div>
  	<div class="col-xs-6">@Html.LabelFor(x => x.ShippingMethod) @Html.EditorFor(x => x.ShippingMethod) @Html.ValidationMessageFor(x => x.ShippingMethod)</div>
</div>
<div class="form-group">
  	<div class="col-xs-12">@Html.LabelFor(x => x.Address) @Html.EditorFor(x => x.Address) @Html.ValidationMessageFor(x => x.Address)</div>
</div>
<div class="form-group">
  	<div class="col-xs-12">@Html.LabelFor(x => x.Remarks) @Html.EditorFor(x => x.Remarks) @Html.ValidationMessageFor(x => x.Remarks)</div>
</div>
<style type="text/css">
ul.token-input-list { width:100%; }
div.token-input-dropdown {width:650px;}
</style>
<script type='text/javascript'>
@if (Model != null && Model.Customer != null) {
<text>$("#CustomerId").tokenInput("add", { id: "@Model.Customer.Id", name: "@Model.Customer.ToString()"});</text>
}
</script>