@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model string
@{
    var values = SatUnitOfMeasurement.Queryable.ToList ();
}
<select id='@ViewData.TemplateInfo.GetFullHtmlFieldId("")' name='@ViewData.TemplateInfo.GetFullHtmlFieldName("")' class="form-control">
    @foreach (var item in values) {
        <option value="@item.Id" @(item.Id == Model ? "selected" : string.Empty)>@item</option>
    }
</select>
<script type="text/javascript">
    $(function () {
        $("#@ViewData.TemplateInfo.GetFullHtmlFieldId("")").select2();
    });
</script>