@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model string

@{
    var values = Enum.GetValues(typeof(UnitOfMeasurement)).Cast<UnitOfMeasurement>();
}
<select id='@ViewData.TemplateInfo.GetFullHtmlFieldId("")' name='@ViewData.TemplateInfo.GetFullHtmlFieldName("")'>
    @foreach (var item in values) {
    	var str = item.GetDisplayName();
        <option value="@str" @(str == Model ? "selected" : string.Empty)>@str</option>
    }
</select>