@using Mictlanix.BE
@using Mictlanix.BE.Model
@model Warehouse

<div class="row">
    <div class="span2 field-required">@Html.LabelFor(x => x.Code)</div>
    <div class="span6 field-required">@Html.LabelFor(x => x.Name)</div>
</div>
<div class="row">
    <div class="span2">@Html.EditorFor(x => x.Code) @Html.ValidationMessageFor(x => x.Code)</div>
    <div class="span6">@Html.EditorFor(x => x.Name) @Html.ValidationMessageFor(x => x.Name)</div>
</div>
<div class="row">
    <div class="span7 field-required">@Html.LabelFor(x => x.Store)</div>
</div>
<div class="row">
    <div class="span8">@Html.EditorFor(x => x.StoreId) @Html.ValidationMessageFor(x => x.StoreId)</div>
</div>
<div class="row">
    <div class="span7">@Html.LabelFor(x => x.Comment)</div>
</div>
<div class="row">
    <div class="span8">@Html.EditorFor(x => x.Comment)</div>
</div>
<style type="text/css">
    ul.token-input-list {
        width: 100%;
    }

    div.token-input-dropdown {
        width: 650px;
    }
</style>
@if (Model != null && Model.Store != null) {
<script type='text/javascript'>
$("#StoreId").tokenInput("add", { id: "@Model.Store.Id", name: "@Model.Store.Name"});
</script>
}
