@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model IEnumerable<PurchaseOrder>

<table>
    <tr>
        <th>
            @Html.LabelFor(x => new PurchaseOrder().Id)
        </th>

        <th>
            @Html.LabelFor(x => new PurchaseOrder().ModificationTime)
        </th>

        <th>
            @Html.LabelFor(x => new PurchaseOrder().Supplier)
        </th>

        <th>
            @Html.LabelFor(x => new PurchaseOrder().Updater)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td class="number">
            @Html.DisplayFor(x => item.Id)
        </td>
        <td class="date">
            @Html.DisplayFor(x => item.ModificationTime)
        </td>
        <td>
            @Html.DisplayFor(x => item.Supplier.Name)
        </td>
        <td class="date">
            @Html.DisplayFor(x => item.Updater.Name)
        </td>
        
        <td class="actions">
        @using (Html.BeginForm("CreateFromPurchaseOrder", "SupplierReturns", new { id = item.Id }))
        {
            <button type="submit" class="icon save">@Resources.Return</button>
        }
        </td>
    </tr>
}
</table>