@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model SupplierReturn

@{
    ViewBag.Title = Resources.SupplierReturn;
}

<script src="@Url.Content("~/Scripts/jquery.jeditable.mini.js")" type="text/javascript"></script>

<h2>@Resources.DisplayName_SupplierReturns</h2> 

<div id="master-section">
@Html.Partial("_PurchaseInfoReturn")
</div>
@*<div class="editor-label">
    @Html.LabelFor(model => model.Comment)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Comment)
</div>*@
<div id="details-section">
    <div id="items-container">
        <ul id="items" class="list-items">
        @foreach (var item in Model.Details)
        {
            @Html.Partial("_ReturnItem", item) 
        }
        </ul>
    </div>
    @if (Model.Total == 0)
    {
        <div id="items-null">
            @Html.Partial("_DeleteReturn")
        </div>
    }
</div>
<div id="returns-totals">
    @Html.Partial("_Totals")
</div>
<div id="backTo" class="floating">
    @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })
</div>
<div id="confirm-dlg" class="dialog" title="@Resources.Delete">
	<p>
        <span class="ui-icon ui-icon-circle-close" style="float:left; margin:3px 7px 20px 0;"></span>
        @Resources.Message_DeleteConfirmation
    </p>
</div>
<script type="text/javascript">
    function updateTotals(){
        $.get('@Url.Action("GetTotals")/' + SupplierReturn.Id, function (data) {
            $("#returns-totals").html(data);
        });
    }

    function editQuantity(id, value) {
        var result = "Error";

        $.ajaxSetup({ async: false });
        $.post('@Url.Action("EditDetailQuantity")', { "id": id, "quantity": value }, function (data) {
            var element = $("#item" + id + " div.quantity");
            element.html(data.quantity);
            element.siblings(".total").html(data.total);
            element.addClass('succesful').switchClass('succesful', '', 3000);
            result = data.quantity;
        }, "json");
        $.ajaxSetup({ async: true });

        updateTotals();

        return result;
    }

//    
//    function editWarehouse(id, value) {
//        var result = "Error";

//        $.ajaxSetup({ async: false });
//        $.post('@Url.Action("EditDetailWarehouse")', { "id": id, "warehouse": value }, function (data) {
//            var element = $("#item" + id + " div.warehouse");
//            element.html(data.warehouse);
//            element.addClass('succesful').switchClass('succesful', '', 3000);
//            result = data.warehouse;
//        }, "json");
//        $.ajaxSetup({ async: true });

//        return result;
//    }

    function removeItem(id) {
        $("#confirm-dlg").dialog({
            resizable: true,
            height: 178,
            modal: true,
            buttons: {
                @Resources.Delete: function () {
                    $.post('@Url.Action("RemoveDetail")', { "id": id }, function (data) {
                        if(data.result) {
                            $("#item" + id).remove();
                            updateTotals();
                        }
                    }, "json");
                    $(this).dialog("close");
                },
                @Resources.Close: function () {
                    $(this).dialog("close");
                }
            }
        });
    }

    $(function () {
        
    @foreach (var item in Model.Details)
    {
        @:$("#item@(item.Id) div.quantity").editable(function(value,settings){return editQuantity(@item.Id, value);});
//        @:$("#item@(item.Id) div.warehouse").editable(function(value,settings){return editWarehouse(@item.Id, value);}, { loadurl: "@Url.Action("List", "Warehouses")", type: "select", submit: "OK", style: "inherit"});        
    }

    });
</script>
