@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model DateRange
@{
    ViewBag.Title = Resources.Title_SupplierReturnHistoric;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.SupplierReturnHistoric);
}

<h2>@Resources.DisplayName_SupplierReturnHistoric</h2>

<div id='master-section'>
@using (Ajax.BeginForm("Historic", "SupplierReturns", new AjaxOptions { UpdateTargetId = "search-results", LoadingElementId = "activity-indicator", OnBegin = "onSearchBegin" })) {
	<div class="row">
		<div class="col-sm-2">
			@Html.LabelFor(x => x.StartDate)
			@Html.EditorFor(x => x.StartDate)
		</div>
		<div class="col-sm-2">
			@Html.LabelFor(x => x.EndDate)
			@Html.EditorFor(x => x.EndDate)
		</div>
		<div class="col-sm-1 col-sm-offset-7">
			<label>&nbsp;</label>
			<button class="btn btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-refresh"></span>
			</button>
		</div>
	</div>
}
</div>
<div id="activity-indicator">
    <img alt="@Resources.Loading" src="@Url.Content("~/Content/images/loading-bar.gif")" />
</div>
<div id="search-results">
</div>