@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model IEnumerable<SupplierReturn>


@{
    ViewBag.Title = Resources.Title_SupplierReturn;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.SupplierReturns);
}

<h2>@Resources.DisplayName_SupplierReturns</h2>
<div id="tabs">
    <ul>
        <li><a href="#search-container">@Resources.DisplayName_PurchaseSearch</a></li>
        <li><a href="#returns-container">@Resources.DisplayName_ReturnIncomplete</a></li>
    </ul>
    <div id="search-container">
    @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "search-results", LoadingElementId = "activity-indicator", OnBegin = "onSearchBegin" }))
    {
        <label>@Resources.PurchaseOrder</label>
        <div class="search-box">
            <button type="submit" class="icon search">@Resources.Search</button>
            <div class="search-field">
                <input type="text" id="id" name="id" />
            </div>
        </div>
    }
    <div id="details-section">
        <div id="activity-indicator">
            <img alt="@Resources.Loading" src="@Url.Content("~/Content/images/loading-bar.gif")" />
        </div>
        <div id="search-results">
        </div>
    </div>
    </div>

    <div id="returns-container">
        <table>
            <tr>
                <th>@Html.LabelFor(x => new SupplierReturn().Id)</th>
                <th>@Html.LabelFor(x => new SupplierReturn().CreationTime)</th>
                <th>@Html.LabelFor(x => new SupplierReturn().PurchaseOrder.Supplier)</th>
                <th>@Html.LabelFor(x => new SupplierReturn().Creator)</th>
                <th>@Html.LabelFor(x => new SupplierReturn().PurchaseOrder.Id)</th>
                <th>@Html.LabelFor(x => new SupplierReturn().IsCompleted)</th>
                <th>@Html.LabelFor(x => new SupplierReturn().IsCancelled)</th>
            </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="number">@Html.DisplayFor(x => item.Id)</td>
                <td class="date">@Html.DisplayFor(x => item.CreationTime)</td>
                <td>@Html.DisplayFor(x => item.PurchaseOrder.Supplier.Name)</td>
                <td>@Html.DisplayFor(x => item.Creator.Name)</td>
                <td class="number">@Html.DisplayFor(x => item.PurchaseOrder.Id)</td>
                <td class="bool">@Html.DisplayFor(x => item.IsCompleted)</td>
                <td class="bool">@Html.DisplayFor(x => item.IsCancelled)</td>
                <td class="actions">
        	        @if (Privilege.AllowUpdate && !item.IsCompleted && !item.IsCancelled)
                 {
            	        @Html.ActionLink(" ", "EditSupplierReturn", new { id = item.Id }, new { @class = "button icon edit icon-only", @title = Resources.Edit })
                 }
                </td>
            </tr>
        }
        </table>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
    });
</script>