@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model InventoryIssue

@{
    Layout = WebConfig.PrintLayout;
    ViewBag.Title = Resources.Title_InventoryIssue;
    ViewBag.Store = Model.Warehouse.Store;
    ViewBag.TaxpayerName = null;
    ViewBag.Taxpayer = null;
    ViewBag.Address = Model.Warehouse.Store.Address;
}

<div class="row">
	<div class="col-xs-6 text-left">
		<div class="row">
		 	<div class="col-xs-12">
		 		<p><span class="mylabel">@Resources.Warehouse</span></p>
	 		</div>
	 		<div class="col-xs-12">
	 			<p>@Html.DisplayFor(x => x.Warehouse.Name)</p>
 			</div>
		@if(!string.IsNullOrWhiteSpace (Model.Comment)) {
		 	<div class="col-xs-12">
		 		<p><span class="mylabel">@Resources.Comment</span></p>
	 		</div>
	 		<div class="col-xs-12">
	 			@Html.DisplayFor(x => x.Comment)
 			</div>
		}
 		</div>
	</div>
	<div class="col-xs-6 text-right">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="text-right">@Resources.InventoryIssue @Html.DisplayFor(x => x.Id)</h2>
			</div>
			<div class="col-xs-12">
				<p><span class="mylabel">@Resources.CreatedBy</span></p>
			</div>
	 		<div class="col-xs-12">
				<p>@Html.DisplayFor(x => x.Creator.Name)</p>
	 		</div>
			<div class="col-xs-12">
				<p><span class="mylabel">@Resources.DateTime</span></p>
			</div>
	 		<div class="col-xs-12">
				<p>@Html.DisplayFor(x => x.CreationTime)</p>
	 		</div>
		</div>
	</div>
</div>

<div style="min-height: 2.2mm; border-top: #333 solid 1px; border-bottom: #333 solid 3px"></div>

<table  style="border-spacing:0 4px;border-collapse: separate;">
    <thead>
        <tr>
            <th class="col-xs-1 text-center">@Resources.Quantity</th>
            <th class="col-xs-2 text-center">@Resources.UnitOfMeasurementShort</th>
            <th class="col-xs-3 text-center">@Resources.ProductCode</th>
            <th class="col-xs-6 text-center">@Resources.ProductName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Details) {
            <tr class="alt">
                <td class="nowrap text-right">@Html.DisplayFor(x => item.Quantity)</td>
                <td class="text-center">@Html.DisplayFor(x => item.Product.UnitOfMeasurement)</td>
                <td class="text-center">@Html.DisplayFor(x => item.ProductCode)</td>
                <td class="text-center">@Html.DisplayFor(x => item.ProductName)</td>
            </tr>
        }
    </tbody>
</table>

<div style="min-height: 2.2mm; border-top: #333 solid 3px; border-bottom: #333 solid 1px"></div>

<div class="row" style="margin-top:20mm">
	<div class="col-xs-4 col-xs-offset-1 text-center" style="border-top: #333 solid 1px">
        @Resources.DeliveryPerson<br/>
        @Resources.NameAndSignature
	</div>
	<div class="col-xs-4 col-xs-offset-2 text-center" style="border-top: #333 solid 1px">
	    @Resources.PersonReceipt<br/>
	    @Resources.NameAndSignature
	</div>
</div>
