@using Mictlanix.BE
@using Mictlanix.BE.Model;
@using Mictlanix.BE.Web.Helpers;
@model InventoryIssue

@{
    ViewBag.Title = Resources.Title_InventoryIssue;
}

<h2>@Resources.DisplayName_InventoryIssues</h2>

<fieldset>
    <legend>@Resources.DisplayName_InventoryInformation</legend>
    <div class="display-label right floating">
        <label>@Resources.Id</label>
		<span>@Html.DisplayFor(x => x.Id)</span>
		<a href="javascript:void(0)" data-toggle="tooltip" title="@Resources.Serial @Html.DisplayFor(x => x.Serial)">
			<span class="glyphicon glyphicon-exclamation-sign"></span>
		</a>
    </div>
    <div class="display-label right floating">
        @Html.LabelFor(model => model.CreationTime):
        @Html.DisplayFor(model => model.CreationTime)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Warehouse)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Warehouse.Name)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Comment)
        @Html.DisplayFor(model => model.Comment)
    </div>
</fieldset>
<div>
    <table>
        <tr>
            <th>
                @Html.LabelFor(x => new InventoryIssueDetail().Quantity)
            </th>
            <th>
                @Html.LabelFor(x => new InventoryIssueDetail().ProductCode)
            </th>
            <th>
                @Html.LabelFor(x => new InventoryIssueDetail().ProductName)
            </th>
        </tr>
    @foreach (var item in Model.Details) {
        <tr>
            <td class="number">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td class="center">
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
        </tr>
    }
        <tr>
            <td colspan="3"><b>@Resources.TotalQuantityIssue: @String.Format("{0:0}", Model.Details.Sum(q => q.Quantity))</b></td>
        </tr>
    </table>
    <p></p>
</div>

<div class="right floating">
	@Html.ActionLink(Resources.Print, "PrintIssue", new { id = Model.Id }, new { @class = "button icon print", title = Resources.Print, target = "_blank" })
</div>
<div id="back-to-list">
    @Html.ActionLink(Resources.BackToList, "Issues", new { }, new { @class = "button icon back" })
</div>
<script type='text/javascript'>
$(function () {
	$('[data-toggle="tooltip"]').tooltip();
});
</script>