@using Mictlanix.BE
@using Mictlanix.BE.Model
@model SalesOrder

@{
    Layout = Configuration.ReceiptLayout;
    ViewBag.Title = Resources.Title_SalesNote;
    ViewBag.Store = Model.Store;
    ViewBag.SkipAddress = true;
}

<div class="display-label right floating">
    @Html.LabelFor(x => x.Date)<br/>
    @Html.DisplayFor(x => x.Date)
</div>
<div class="display-label">
    @Html.LabelFor(x => x.Serial)<br/>
    @Html.DisplayFor(x => x.Serial)
</div>
<fieldset>
    <div class="display-label left floating">
        @Html.LabelFor(x => x.Total)
    </div>
    <div class="display-field number">
        @Html.DisplayFor(x => x.Total)
    </div>

    <div class="display-label left floating">
        @Html.LabelFor(x => x.Taxes)
    </div>
    <div class="display-field number">
        @Html.DisplayFor(x => x.Taxes)
    </div>

    <div class="display-label left floating">
        @Html.LabelFor(x => x.Subtotal)
    </div>
    <div class="display-field number">
        @Html.DisplayFor(x => x.Subtotal)
    </div>
</fieldset>

@section Footer {
	<img src="@Url.Action("Code128", "Barcodes", new { id = string.Format("{0}", Html.DisplayFor(x => x.Id)) })" alt="@Html.DisplayFor(x => x.Id)" title="@Html.DisplayFor(x => x.Id)">
	<p>@Html.LabelFor(x => x.Id): @Html.DisplayFor(x => x.Id)</p>
}