@using Mictlanix.BE
@using Mictlanix.BE.Model;
@using Mictlanix.BE.Web.Helpers;
@model SalesOrder

@{
    ViewBag.Title = Resources.Edit;
}

<script src="@Url.Content("~/Scripts/jquery.jeditable.mini.js")" type="text/javascript"></script>

<h2>@Resources.DisplayName_EditSale</h2> 

<div id="master-section" style="margin-right:300px">
@Html.Partial("_MasterView")
</div>
 
<div id="details-section" style="margin-right:300px">
    <div id="items-container">
        <ul id="items" class="list-items">
        @foreach (var item in Model.Details)
        {
            @Html.Partial("_DetailEditView", item) 
        }
        </ul>
    </div>
    <div class="search-box">
        <input type="text" id="product-search" name="product-search" />
    </div>
</div>
<div id="back-to-list">
    @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })
</div>
<div id="sales-totals">
    @Html.Partial("_Totals")
</div>
<div id="confirm-dlg" class="dialog" title="@Resources.Delete">
	<p>
        <span class="ui-icon ui-icon-circle-close" style="float:left; margin:3px 7px 20px 0;"></span>
        @Resources.Message_DeleteConfirmation
    </p>
</div>
<script type="text/javascript">
    function updateTotals(){
        $.get('@Url.Action("GetTotals")/' + @Model.Id, function (data) {
            $("#sales-totals").html(data);
            if($("#items").children().length === 0){
                $("#edit-button").show("slow");            
            }
        });
    }

    function editQuantity(id, value) {
        var result = "Error";

        $.ajaxSetup({ async: false });
        $.post('@Url.Action("EditDetailQuantity")', { "id": id, "quantity": value }, function (data) {
            var element = $("#item" + id + " div.quantity");
            element.html(data.quantity);
            element.siblings(".total").html(data.total);
            element.addClass('succesful').switchClass('succesful', '', 3000);
            result = data.quantity;
        }, "json");
        $.ajaxSetup({ async: true });

        updateTotals();

        return result;
    }

    function editDiscount(id, value) {
        var result = "Error";

        $.ajaxSetup({ async: false });
        $.post('@Url.Action("EditDetailDiscount")', { "id": id, "value": value }, function (data) {
            var element = $("#item" + id + " div.discount");
            element.html(data.discount);
            element.siblings(".total").html(data.total);
            element.addClass('succesful').switchClass('succesful', '', 3000);
            result = data.discount;
        }, "json");
        $.ajaxSetup({ async: true });
        
        updateTotals();

        return result;
    }

    function removeItem(id) {
        $("#confirm-dlg").dialog({
            resizable: true,
            height: 178,
            modal: true,
            buttons: {
                @Resources.Delete: function () {
                    $.post('@Url.Action("RemoveDetail")', { "id": id }, function (data) {
                        if(data.result) {
                            $("#item" + id).remove();
                            updateTotals();
                        }
                    }, "json");
                    $(this).dialog("close");
                },
                @Resources.Close: function () {
                    $(this).dialog("close");
                }
            }
        });
    }

    $(function () {
        $("#product-search").tokenInput('@Url.Action("GetSuggestions", "POS", new { order = Model.Id })', {
            hintText: "@Resources.HIntText",
            noResultsText: "@Resources.NoResultsText",
            searchingText: "@Resources.SearchingText",          
            resultsFormatter: function(item){return ProductFormatter(item);},
            queryParam: "pattern",minChars: 3,tokenLimit: 1,
            onAdd: function (item) {
                $.post('@Url.Action("AddDetail")', { "order": @Model.Id, "product": "" + item.id }, function (detail) {
                    $.get('@Url.Action("GetDetail")/' + detail.id, function (data) {
                        $("#items").append(data);
                        $("#item" + detail.id + " div.quantity").editable(function (value, settings) {
                            return editQuantity(detail.id, value);
                        }, { cssclass : "number" });
                        $("#item" + detail.id + " div.discount").editable(function (value, settings) {
                            return editDiscount(detail.id, value);
                        }, { cssclass : "number" });

                        $("#product-search").tokenInput("clear");
                        updateTotals();

                        $("#edit-button").hide("slow");
                    });

                }, "json");
            }
        });

        $(window).scroll(function() {
            var y = 98 + $("div.page").offset().top - $(this).scrollTop();
            $('#sales-totals').animate({ top: (y > 0 ? y : 10) + "px" }, 
                { queue: false, duration: 500, easing: 'easeInOutSine' });
        });

        $(window).scroll();
    @foreach (var item in Model.Details)
    {
    	<text>
        $("#item@(item.Id) div.quantity").editable(function(value,settings){return editQuantity(@item.Id, value);});
        $("#item@(item.Id) div.discount").editable(function(value, settings){return editDiscount(@item.Id, value);});
        </text>
    }
    });
</script>
<style type="text/css">
ul.token-input-list {width:100%;}
div.token-input-dropdown {width:650px;}
</style>