@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Models
@using Mictlanix.BE.Web.Helpers
@model SalesOrder

@{
	Layout = WebConfig.ReceiptLayout;
	ViewBag.Title = Resources.SalesReceipt;
	ViewBag.Store = Model.Store;
	ViewBag.Address = Model.Store.Address;
}

<div class="display-label text-left">
	@Html.LabelFor(model => model.Serial)
	@Html.DisplayFor(model => model.Serial)
	&emsp;
	@Html.LabelFor(model => model.Date)
	@Html.DisplayFor(model => model.Date)
</div>
<div class="display-label text-left">
	@Html.LabelFor(model => model.SalesPerson)
	@Html.DisplayFor(model => model.SalesPerson.Name)
</div>
<div class="display-label">
	@Html.LabelFor(model => model.Customer)
	@Html.DisplayFor(model => model.Customer.Name)
	&emsp;
	@if (Model.Customer.Id == WebConfig.DefaultCustomer && !string.IsNullOrWhiteSpace(Model.CustomerName))
	{
		@Html.DisplayFor(model => model.CustomerName)
	}
</div>

@if (Model.IsCredit) {
	<div class="display-label date">
		@Html.LabelFor(model => model.DueDate)<br/>
		@Html.DisplayFor(model => model.DueDate)
	</div>
}

<table>
	@foreach (var item in Model.Details) {
		<tr>
			<td colspan="2">
				@Html.DisplayFor(x => item.Quantity)
				@Html.Encode("✕") @Html.DisplayFor(x => item.Price)
				@if (item.DiscountRate > 0)
				{
					<text>- @Html.DisplayFor(x => item.DiscountRate)</text>
				}
				<span>@Html.DisplayFor(x => item.ProductCode)</span>
			</td>
		</tr>
		<tr>
			<td class="line">
				@Html.DisplayFor(x => item.ProductName)
			</td>
			<td class="line number">
				@Html.DisplayFor(x => item.Total)
			</td>
		</tr>
	}
	<tr>
		<td class="total text-right">@Resources.Total</td>
		<td class="total number">@Html.DisplayFor(x => x.Total)</td>
	</tr>
	@foreach (var item in Model.Payments) {
		<tr>
			<td class="text-right">@item.Payment.Method.GetDisplayName()</td>
			<td class="number">@Html.DisplayFor(x => item.Payment.Amount)</td>
		</tr>
	}
	<tr>
		<td class="text-right">@Resources.Change</td>
		<td class="number">@Html.DisplayFor(x => Model.Change)</td>
	</tr>
	<tr>
		<td class="text-right">@Html.LabelFor(model => model.Taxes)</td>
		<td class="number"> @Html.DisplayFor(model => model.Taxes)</td>
	</tr>
</table>

@if (Model.Discount > 0) {
	<div class="display-field text-center">
		<text>@string.Format(Resources.SavingsOnSalesOrder, Model.Discount)</text>
	</div>
}

@if (Model.IsCredit) {
	<div class="legend">
		@string.Format(WebConfig.PromissoryNoteContent, Model.Customer.Name, Model.Total, Model.DueDate, Model.Store.Taxpayer.Name)
	</div>
	<div class="signature">
		@Model.Customer.Name<br/>
		@Resources.Accept
	</div>
}

@if (!string.IsNullOrEmpty(Model.Store.ReceiptMessage)) {
	<div class="legend">
		<p class="text-center">@Model.Store.ReceiptMessage</p>
	</div>
}

@section Footer {
	<img src='@Url.Action("Code128", "Barcodes", new { id = string.Format("{0}", Html.DisplayFor(x => x.Id)) })' alt='@Html.DisplayFor(x => x.Id)' title='@Html.DisplayFor(x => x.Id)'>
	<p>@Html.DisplayFor(x => x.Id)</p>
}