@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model CustomerTaxpayer

<div class='modal-header'>
	<button type='button' class='close' data-dismiss='modal'>&times;</button>
	<h3>@Resources.CustomerTaxpayers</h3>
</div>
<div class='modal-body'>
@using (Ajax.BeginForm(null, null, new { customerId = Html.ViewContext.Controller.ValueProvider.GetValue("customerId").RawValue }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "taxpayer-modal" }, new { @class = "modal-form" })) {
    @Html.ValidationSummary(true)
	<div style='overflow:hidden'>
	@Html.EditorForModel()
	</div>
}
</div>
<div class='modal-footer'>
	<button type='button' class='btn' data-dismiss='modal'>@Resources.Discard</button>
	<button type='submit' class='btn btn-primary' onclick='$("#taxpayer-modal form").submit();'>@Resources.Create</button>
</div>