@using Mictlanix.BE
@using Mictlanix.BE.Web.Helpers
<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/select2")
	@Styles.Render("~/Content/bootstrap")
	@Styles.Render("~/Content/main")
	@Scripts.Render("~/Scripts/jquery")
	@Scripts.Render("~/Scripts/select2")
    @Scripts.Render("~/Scripts/bootstrap")
    @Scripts.Render("~/Scripts/app")

</head>
<body>
    <div id='wrapper'>
        @Html.Partial("_Menu")
        <div id='container'>
            <header>
                <div id='logo'>
                    <img src='@Url.Content("~/Content/images/logo.png")' alt='Logo' title='@WebConfig.LogoTitle' />
                </div>
                <div id='title'>
                    <h1>@WebConfig.ApplicationTitle</h1>
                </div>
            </header>
            <div class='page'>
                <section id='main'>
                    @RenderBody()
                </section>
            </div>
        </div>
    </div>
</body>
</html>