@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers

@{
    var CurrentUser = Html.CurrentUser() ?? new User();
    var ShowMasterDataMenu = Html.GetPrivilege(CurrentUser, SystemObjects.Products).AllowRead ||
                             Html.GetPrivilege(CurrentUser, SystemObjects.Labels).AllowRead ||
                        	 Html.GetPrivilege(CurrentUser, SystemObjects.PriceLists).AllowRead ||
                             Html.GetPrivilege(CurrentUser, SystemObjects.Customers).AllowRead ||
                             Html.GetPrivilege(CurrentUser, SystemObjects.Suppliers).AllowRead ||
                             Html.GetPrivilege(CurrentUser, SystemObjects.Employees).AllowRead ||
                             Html.GetPrivilege(CurrentUser, SystemObjects.Warehouses).AllowRead ||
                             Html.GetPrivilege(CurrentUser, SystemObjects.PointsOfSale).AllowRead ||
                             Html.GetPrivilege(CurrentUser, SystemObjects.CashDrawers).AllowRead ||
                             Html.GetPrivilege(CurrentUser, SystemObjects.Stores).AllowRead ||
                             Html.GetPrivilege(CurrentUser, SystemObjects.ExchangeRates).AllowRead;
                             
    var ShowSalesMenu = Html.GetPrivilege(CurrentUser, SystemObjects.SalesOrders).AllowRead ||
                        Html.GetPrivilege(CurrentUser, SystemObjects.POS).AllowRead ||
                        Html.GetPrivilege(CurrentUser, SystemObjects.CustomerPayments).AllowRead ||
                        Html.GetPrivilege(CurrentUser, SystemObjects.CustomerRefunds).AllowRead ||
                        Html.GetPrivilege(CurrentUser, SystemObjects.SalesQuotes).AllowRead;
                        
    var ShowInventoryMenu = Html.GetPrivilege(CurrentUser, SystemObjects.InventoryReceipts).AllowRead ||
                            Html.GetPrivilege(CurrentUser, SystemObjects.InventoryIssues).AllowRead ||
                            Html.GetPrivilege(CurrentUser, SystemObjects.InventoryTransfers).AllowRead ||
                            Html.GetPrivilege(CurrentUser, SystemObjects.LotSerialNumbers).AllowRead;
                            
    var ShowPurchasesMenu = Html.GetPrivilege(CurrentUser, SystemObjects.PurchasesOrders).AllowRead ||
                            Html.GetPrivilege(CurrentUser, SystemObjects.SupplierPayment).AllowRead ||
                            Html.GetPrivilege(CurrentUser, SystemObjects.SupplierReturns).AllowRead;
                            
    var ShowAdministrationMenu = Html.GetPrivilege(CurrentUser, SystemObjects.AccountsReceivable).AllowRead ||
                            	 Html.GetPrivilege(CurrentUser, SystemObjects.AccountsPayable).AllowRead;
                            	 
    var ShowFiscalDocumentsMenu = Html.GetPrivilege(CurrentUser, SystemObjects.FiscalDocuments).AllowRead ||
                            	  Html.GetPrivilege(CurrentUser, SystemObjects.FiscalReports).AllowRead ||
                            	  Html.GetPrivilege(CurrentUser, SystemObjects.Taxpayers).AllowRead;
                            	  
    var ShowReportsMenu = Html.GetPrivilege(CurrentUser, SystemObjects.Kardex).AllowRead ||
                          Html.GetPrivilege(CurrentUser, SystemObjects.SerialNumbersReport).AllowRead ||
                          Html.GetPrivilege(CurrentUser, SystemObjects.SalesOrdersHistoric).AllowRead ||
                          Html.GetPrivilege(CurrentUser, SystemObjects.CustomerRefundsHistoric).AllowRead ||
                          Html.GetPrivilege(CurrentUser, SystemObjects.SupplierReturnHistoric).AllowRead ||
                          Html.GetPrivilege(CurrentUser, SystemObjects.ReceivedPayments).AllowRead ||
                          Html.GetPrivilege(CurrentUser, SystemObjects.SalesByCustomer).AllowRead ||
                          Html.GetPrivilege(CurrentUser, SystemObjects.SalesBySalesPerson).AllowRead ||
                          Html.GetPrivilege(CurrentUser, SystemObjects.SalesByProduct).AllowRead ||
                          Html.GetPrivilege(CurrentUser, SystemObjects.GrossProfitsByCustomer).AllowRead ||
                          Html.GetPrivilege(CurrentUser, SystemObjects.GrossProfitsBySalesPerson).AllowRead ||
                          Html.GetPrivilege(CurrentUser, SystemObjects.GrossProfitsByProduct).AllowRead ||
                          Html.GetPrivilege(CurrentUser, SystemObjects.BestSellingProductsByCustomer).AllowRead ||
                          Html.GetPrivilege(CurrentUser, SystemObjects.BestSellingProductsBySalesPerson).AllowRead;
}

<div id="gb">
    <div id="gbz">
        <ol class="gbtc">
            <li class="gbt">
                <a class="gbzt @(Html.IsMenuSelected("Index", "Home") ? "gbz0l" : "")"
                   href="@Url.Action("Index", "Home")">
                    <span class="gbtb2"></span>
                    <span class="gbts">@Resources.Menu_Home</span>
                </a>
            </li>
            @if (ShowMasterDataMenu)
            {
            <li class="gbt">
                <a id="master-data-menu" class="gbgt" href="javascript:void(0)">
                    <span class="gbtb2"></span>
                    <span class="gbts gbtsa">
                        <span>@Resources.MasterData</span>
                        <span class="gbma"></span>
                    </span>
                </a>
                <div id="master-data-menu-items" class="gbm" style="left:0px;top:32px;visibility:hidden;">
                    <div class="gbmc">
                        <ol class="gbmcc">
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.Labels).AllowRead) {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "Labels") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "Labels")">@Resources.Labels</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.Products).AllowRead) {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "Products") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "Products")">@Resources.Title_Product</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.PriceLists).AllowRead) {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "PriceLists") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "PriceLists")">@Resources.Title_PriceList</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.Customers).AllowRead) {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "Customers") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "Customers")">@Resources.Title_Customer</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.Suppliers).AllowRead) {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "Suppliers") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "Suppliers")">@Resources.Title_Supplier</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.Employees).AllowRead) {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "Employees") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "Employees")">@Resources.Title_Employee</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.Warehouses).AllowRead) {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "Warehouses") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "Warehouses")">@Resources.Title_Warehouse</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.Stores).AllowRead) {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "Stores") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "Stores")">@Resources.DisplayName_Stores</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.PointsOfSale).AllowRead) {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "PointsOfSale") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "PointsOfSale")">@Resources.Title_PointOfSale</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.CashDrawers).AllowRead) {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "CashDrawers") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "CashDrawers")">@Resources.Title_CashDrawer</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.ExchangeRates).AllowRead) {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "ExchangeRates") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "ExchangeRates")">@Resources.ExchangeRates</a>
                            </li>
                            }
                        </ol>
                    </div>
                </div>
            </li>
            }
            @if (ShowSalesMenu)
            {
            <li class="gbt">
                <a id="sales-menu" class="gbgt" href="javascript:void(0)">
                    <span class="gbtb2"></span>
                    <span class="gbts gbtsa">
                        <span>@Resources.Sales</span>
                        <span class="gbma"></span>
                    </span>
                </a>
                <div id="sales-menu-items" class="gbm" style="left:0px;top:32px;visibility:hidden;">
                    <div class="gbmc">
                        <ol class="gbmcc">
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.PriceLists).AllowRead) {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "Pricing") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "Pricing")">@Resources.Pricing</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.SalesQuotes).AllowRead) {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "Quotations") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "Quotations")">@Resources.SalesQuotes</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.POS).AllowRead)
                            {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "POS") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "POS")">@Resources.PointOfSale</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.SalesOrders).AllowRead) {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "SalesOrders") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "SalesOrders")">@Resources.SalesOrders</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.CustomerPayments).AllowRead) {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "Payments") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "Payments")">@Resources.Title_CustomerPayment</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.SalesOrders).AllowRead) {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "DeliveryOrders") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "DeliveryOrders")">@Resources.Deliveries</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.CustomerRefunds).AllowRead) {
                            <li class='gbmtc'>
                                <a class='gbmt @(Html.IsMenuSelected("Index", "CustomerRefunds") ? "gbm0l" : "")'
                                   href='@Url.Action("Index", "CustomerRefunds")'>@Resources.CustomerRefunds</a>
                            </li>
                            }
                        </ol>
                    </div>
                </div>
            </li>
            }
            @if (ShowInventoryMenu)
            {
            <li class="gbt">
                <a id="inventory-menu" class="gbgt" href="javascript:void(0)">
                    <span class="gbtb2"></span>
                    <span class="gbts gbtsa">
                        <span>@Resources.Inventory</span>
                        <span class="gbma"></span>
                    </span>
                </a>
                <div id="inventory-menu-items" class="gbm" style="left:0px;top:32px;visibility:hidden;">
                    <div class="gbmc">
                        <ol class="gbmcc">
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.InventoryReceipts).AllowRead)
                            {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Receipts", "Inventory") ? "gbm0l" : "")"
                                   href="@Url.Action("Receipts", "Inventory")">@Resources.Title_InventoryReceipt</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.InventoryIssues).AllowRead)
                            {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Issues", "Inventory") ? "gbm0l" : "")"
                                   href="@Url.Action("Issues", "Inventory")">@Resources.Title_InventoryIssue</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.InventoryTransfers).AllowRead)
                            {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Transfers", "Inventory") ? "gbm0l" : "")"
                                   href="@Url.Action("Transfers", "Inventory")">@Resources.Title_InventoryTransfer</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.LotSerialNumbers).AllowRead)
                            {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("LotSerialNumbers", "Inventory") ? "gbm0l" : "")"
                                   href="@Url.Action("LotSerialNumbers", "Inventory")">@Resources.LotSerialNumbers</a>
                            </li>
                            }
                            
                        </ol>
                    </div>
                </div>
            </li>
            }
            @if (ShowPurchasesMenu)
            {
            <li class="gbt">
                <a id="purchases-menu" class="gbgt" href="javascript:void(0)">
                    <span class="gbtb2"></span>
                    <span class="gbts gbtsa">
                        <span>@Resources.Purchases</span>
                        <span class="gbma"></span>
                    </span>
                </a>
                <div id="purchases-menu-items" class="gbm" style="left:0px;top:32px;visibility:hidden;">
                    <div class="gbmc">
                        <ol class="gbmcc">
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.PurchasesOrders).AllowRead) {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "Purchases") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "Purchases")">@Resources.Title_PurchaseOrder</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.SupplierPayment).AllowRead) {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "SupplierPayments") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "SupplierPayments")">@Resources.Title_SuppliersPayments</a>
                            </li>
                            }
                            @*@if (Html.GetPrivilege(CurrentUser, SystemObjects.SupplierReturns).AllowRead) {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "SupplierReturns") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "SupplierReturns")">@Resources.Title_SupplierReturn</a>
                            </li>
                            }*@
                        </ol>
                    </div>
                </div>
            </li>
            }
            @if (ShowAdministrationMenu)
            {
            <li class="gbt">
                <a id="mgmt-menu" class="gbgt" href="javascript:void(0)">
                    <span class="gbtb2"></span>
                    <span class="gbts gbtsa">
                        <span>@Resources.Administration</span>
                        <span class="gbma"></span>
                    </span>
                </a>
                <div id="mgmt-menu-items" class="gbm" style="left:0px;top:32px;visibility:hidden;">
                    <div class="gbmc">
                        <ol class="gbmcc">
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.AccountsReceivable).AllowRead)
                            {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "AccountsReceivables") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "AccountsReceivables")">@Resources.Title_AccountsReceivable</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.AccountsPayable).AllowRead)
                            {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "AccountsPayables") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "AccountsPayables")">@Resources.Title_AccountsPayable</a>
                            </li>
                            }
                        </ol>
                    </div>
                </div>
            </li>
            }
            @if (ShowFiscalDocumentsMenu)
            {
            <li class="gbt">
                <a id="cfd-menu" class="gbgt" href="javascript:void(0)">
                    <span class="gbtb2"></span>
                    <span class="gbts gbtsa">
                        <span>@Resources.FiscalDocuments</span>
                        <span class="gbma"></span>
                    </span>
                </a>
                <div id="cfd-menu-items" class="gbm" style="left:0px;top:32px;visibility:hidden;">
                    <div class="gbmc">
                        <ol class="gbmcc">
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.Taxpayers).AllowRead)
                            {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "Taxpayers") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "Taxpayers")">@Resources.Title_Taxpayer</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.FiscalDocuments).AllowRead)
                            {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Index", "FiscalDocuments") ? "gbm0l" : "")"
                                   href="@Url.Action("Index", "FiscalDocuments")">@Resources.FiscalDocuments</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.FiscalReports).AllowRead)
                            {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Reports", "FiscalDocuments") ? "gbm0l" : "")"
                                   href="@Url.Action("Reports", "FiscalDocuments")">@Resources.FiscalReports</a>
                            </li>
                            }
                        </ol>
                    </div>
                </div>
            </li>
            }
            @if (ShowReportsMenu)
            {
            <li class="gbt">
                <a id="reports-menu" class="gbgt" href="javascript:void(0)">
                    <span class="gbtb2"></span>
                    <span class="gbts gbtsa">
                        <span>@Resources.Reports</span>
                        <span class="gbma"></span>
                    </span>
                </a>
                <div id="reports-menu-items" class="gbm" style="left:0px;top:32px;visibility:hidden;">
                    <div class="gbmc">
                        <ol class="gbmcc">
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.ReceivedPayments).AllowRead) {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("ReceivedPayments", "Reports") ? "gbm0l" : "")"
                                   href="@Url.Action("ReceivedPayments", "Reports")">@Resources.ReceivedPayments</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.Kardex).AllowRead) {
                            <li class="gbmtc">
                                <a class='gbmt @(Html.IsMenuSelected("Kardex", "Reports") ? "gbm0l" : "")'
                                   href='@Url.Action("Kardex", "Reports")'>@Resources.Title_Kardex</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.SerialNumbersReport).AllowRead) {
                            <li class="gbmtc">
                                <a class='gbmt @(Html.IsMenuSelected("SerialNumbers", "Reports") ? "gbm0l" : "")'
                                   href='@Url.Action("SerialNumbers", "Reports")'>@Resources.SerialNumbers</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.SalesOrdersHistoric).AllowRead) {
                            <li class="gbmtc">
                                <a class='gbmt @(Html.IsMenuSelected("SalesOrdersHistoric", "Reports") ? "gbm0l" : "")'
                                   href='@Url.Action("SalesOrdersHistoric", "Reports")'>@Resources.SalesOrdersHistoric</a>
                            </li>
                            }
                            @*@if (Html.GetPrivilege(CurrentUser, SystemObjects.CustomerRefundsHistoric).AllowRead) {
                            <li class='gbmtc'>
                                <a class='gbmt @(Html.IsMenuSelected("Historic", "CustomerRefunds") ? "gbm0l" : "")'
                                   href='@Url.Action("Historic", "CustomerRefunds")'>@Resources.CustomerRefundsHistoric</a>
                            </li>
                            }*@
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.SupplierReturnHistoric).AllowRead)
                            {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("Historic", "SupplierReturns") ? "gbm0l" : "")"
                                   href="@Url.Action("Historic", "SupplierReturns")">@Resources.Title_SupplierReturnHistoric</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.SalesByCustomer).AllowRead)
                            {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("SalesByCustomer", "Reports") ? "gbm0l" : "")"
                                   href="@Url.Action("SalesByCustomer", "Reports")">@Resources.SalesByCustomer</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.SalesBySalesPerson).AllowRead)
                            {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("SalesBySalesPerson", "Reports") ? "gbm0l" : "")"
                                   href="@Url.Action("SalesBySalesPerson", "Reports")">@Resources.SalesBySalesPerson</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.SalesByProduct).AllowRead)
                            {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("SalesByProduct", "Reports") ? "gbm0l" : "")"
                                   href="@Url.Action("SalesByProduct", "Reports")">@Resources.SalesByProduct</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.GrossProfitsByCustomer).AllowRead)
                            {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("GrossProfitsByCustomer", "Reports") ? "gbm0l" : "")"
                                   href="@Url.Action("GrossProfitsByCustomer", "Reports")">@Resources.GrossProfitsByCustomer</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.GrossProfitsBySalesPerson).AllowRead)
                            {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("GrossProfitsBySalesPerson", "Reports") ? "gbm0l" : "")"
                                   href="@Url.Action("GrossProfitsBySalesPerson", "Reports")">@Resources.GrossProfitsBySalesPerson</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.GrossProfitsByProduct).AllowRead)
                            {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("GrossProfitsByProduct", "Reports") ? "gbm0l" : "")"
                                   href="@Url.Action("GrossProfitsByProduct", "Reports")">@Resources.GrossProfitsByProduct</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.BestSellingProductsByCustomer).AllowRead)
                            {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("BestSellingProductsByCustomer", "Reports") ? "gbm0l" : "")"
                                   href="@Url.Action("BestSellingProductsByCustomer", "Reports")">@Resources.BestSellingProductsByCustomer</a>
                            </li>
                            }
                            @if (Html.GetPrivilege(CurrentUser, SystemObjects.BestSellingProductsBySalesPerson).AllowRead)
                            {
                            <li class="gbmtc">
                                <a class="gbmt @(Html.IsMenuSelected("BestSellingProductsBySalesPerson", "Reports") ? "gbm0l" : "")"
                                   href="@Url.Action("BestSellingProductsBySalesPerson", "Reports")">@Resources.BestSellingProductsBySalesPerson</a>
                            </li>
                            }
                        </ol>
                    </div>
                </div>
            </li>
            }
            @if (CurrentUser.IsAdministrator)
            {
            <li class="gbt">
                <a class="gbzt @(Html.IsMenuSelected("Index", "Users") ? "gbz0l" : "")"
                   href="@Url.Action("Index", "Users")">
                    <span class="gbtb2"></span>
                    <span class="gbts">@Resources.Title_Users</span>
                </a>
            </li>
            }
            <li class="gbt">
                <a class="gbzt @(Html.IsMenuSelected("About", "Home") ? "gbz0l" : "")"
                   href="@Url.Action("About", "Home")">
                    <span class="gbtb2"></span>
                    <span class="gbts">@Resources.Title_About</span>
                </a>
            </li>
        </ol>
    </div>
    @Html.Partial("_LogOnPartial", CurrentUser)
    <div id="gbx3"></div>
    <div id="gbx4"></div>
</div>