@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Models
@using Mictlanix.BE.Web.Helpers
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
@if (!string.IsNullOrEmpty (ViewBag.WindowTitle)) {
	<title>@ViewBag.WindowTitle</title>
} else {
	<title>@ViewBag.Title</title>
}
	@Scripts.Render("~/Scripts/jquery-alone")
	@Styles.Render("~/Content/print")
</head>
<body>
    <header>
		<div id="logo">
		@if(!string.IsNullOrEmpty(ViewBag.Store.Logo)) {
            <img src="@Url.Content(ViewBag.Store.Logo)" alt="Logo" />
        }
		</div>
        <h1 class="uppercase">
            @if (!string.IsNullOrEmpty (ViewBag.TaxpayerName)) {
        		@ViewBag.TaxpayerName<br/>
        	}
        	@if (!string.IsNullOrEmpty (ViewBag.Taxpayer)) {
        		@ViewBag.Taxpayer
        	}
        </h1>
        <h3>
        	@ViewBag.Address.StreetAndNumber<br/>
        	@ViewBag.Address.Neighborhood,
    	@if (!string.IsNullOrEmpty (ViewBag.Address.Locality)) {
        	<text>@ViewBag.Address.Locality,</text>
    	}
        	@ViewBag.Address.PostalCode<br/>
        	@ViewBag.Address.Borough,
        	@ViewBag.Address.State
    	</h3>
    </header>

    @RenderBody()

	<script type="text/javascript">
	$(function() {
		$('body, select, input, textarea, button, submit, form').prop('disabled', true);
        window.print();
		setTimeout(function() {
		    $('body').bind('mousemove click keypress', function () {
		        window.close();
		    });
		}, 500);
	});
	</script>
</body>
</html>
