@using Business.Essentials.Model
@model IEnumerable<Business.Essentials.Model.Customer>

@{
    ViewBag.Title = Business.Essentials.Resources.Title_Customer;
}

<h2>@Business.Essentials.Resources.DisplayName_Customers</h2>

<p>
    @Html.ActionLink(Business.Essentials.Resources.CreateNew, "Create")
</p>
<table>
    <tr>
        <th>
            @Html.LabelFor(x => new Customer().Name)
        </th>

        <th>
            @Html.LabelFor(x => new Customer().Zone)
        </th>

        <th>
            @Html.LabelFor(x => new Customer().PriceList)
        </th>

        <th>
            @Html.LabelFor(x => new Customer().CreditLimit)
        </th>

        <th>
            @Html.LabelFor(x => new Customer().CreditDays)
        </th>

         <th>
            @Html.LabelFor(x => new Customer().Comment)
        </th>

        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Zone)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.PriceList.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CreditLimit)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CreditDays)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
       
        <td>
            @Html.ActionLink(Business.Essentials.Resources.Edit, "Edit", new { id=item.Id }) |
            @Html.ActionLink(Business.Essentials.Resources.Details, "Details", new { id=item.Id }) |
            @Html.ActionLink(Business.Essentials.Resources.Delete, "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
