@using Business.Essentials
@using Business.Essentials.Model
@using Business.Essentials.WebApp.Helpers
@model SalesInvoice

@{
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.SalesInvoices);
}

<fieldset>
    <legend>@Resources.DisplayName_InvoiceInformation</legend>

    <div class="display-label right floating">
        @Html.LabelFor(model => model.Id):
        @Html.DisplayFor(model => model.Id)
    </div>
    
    <div class="display-label right floating">
        @Html.LabelFor(model => model.Batch):
        @Html.DisplayFor(model => model.Batch)
    </div>
    
    <div class="display-label right floating">
        @Html.LabelFor(model => model.Serial):
        @Html.DisplayFor(model => model.Serial)
    </div>

    <div class="display-label right floating">
        @Html.LabelFor(model => model.Issued):
        @Html.DisplayFor(model => model.Issued)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Issuer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Issuer.Id)<br/>
        @Html.DisplayFor(model => model.Issuer.Name)
    </div>
    
    <div class="display-label">
        @Html.LabelFor(model => model.Customer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.BillTo)
    </div>
    
    <div class="right floating">
        <p>
		@if(Privilege.AllowDelete)
		{
		    using (Html.BeginForm("CancelOrder", "Invoices", new { id =  Model.Id }))
		    {
		    	@Ajax.ActionLink(Resources.Edit, "Edit", new { id = Model.Id }, new AjaxOptions { UpdateTargetId = "master-section" }, new { @class = "button icon edit " + (Model.Details.Count > 0 ? "hidden" : "")})
		        <button type="submit" class="icon cancel">@Resources.Cancel</button>
		    }
		}
        </p>
    </div>
    
    <div class="display-field">
        @Html.DisplayFor(model => model.BillToTaxId)<br/>
        @Html.DisplayFor(model => model.BillToName)<br/>
        @Html.DisplayFor(model => model.Street)
        @Html.DisplayFor(model => model.ExteriorNumber)
        @Html.DisplayFor(model => model.InteriorNumber)<br/>
        @Html.DisplayFor(model => model.Neighborhood),
        @Html.DisplayFor(model => model.Borough)<br/>
        @Html.DisplayFor(model => model.State),
        @Html.DisplayFor(model => model.Country),
        @Html.DisplayFor(model => model.ZipCode)
    </div>
</fieldset>