@using Business.Essentials
@using Business.Essentials.Model
@using Business.Essentials.WebApp.Helpers
@model SalesInvoice

<fieldset>
    <legend>@Resources.SalesTotals</legend>

    <div class="display-label left floating">
        @Html.LabelFor(x => x.Subtotal)
    </div>
    <div class="display-field right floating">
        @Html.DisplayFor(x => x.Subtotal)
    </div>

    <div class="display-label left floating">
        @Html.LabelFor(x => x.Taxes)
    </div>
    <div class="display-field right floating">
        @Html.DisplayFor(x => x.Taxes)
    </div>
    
    <div class="display-label left floating">
        @Html.LabelFor(x => x.Total)
    </div>
    <div class="display-field right floating">
        @Html.DisplayFor(x => x.Total)
    </div>
</fieldset>

<div class="right floating">
    @if (Model.Total > 0)
    {
        using (Html.BeginForm("Confirm", "Invoice", new { id = Model.Id }))
        {
        <button id="complete" type="submit">@Resources.CompleteInvoice</button><br />
        }
    }
</div>