@using Business.Essentials
@using Business.Essentials.Model
@using Business.Essentials.WebApp.Models
@model PurchaseOrder

@{
    ViewBag.Title = Resources.Title_NewPurchase;
}

<h2>@Resources.DisplayName_NewPurchase</h2> 

<div id="master-container">
    <fieldset>
        <legend>@Resources.DisplayName_PurchaseInformation</legend>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                
                <div class="editor-label">
                    @Html.LabelFor(model => model.Supplier)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SupplierId)
                    @Html.ValidationMessageFor(model => model.SupplierId)
                </div>
                
     	        <div class="editor-label">
                    @Html.LabelFor(model => model.Comment)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Comment)
                </div>
                
                <p class="right">
                    <button type="submit" class="icon save">@Resources.Save</button>
                </p>
            }
    </fieldset>
</div>
<div id="back">
    @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })
</div>
<style type="text/css">
ul.token-input-list {
  width:100%;
}
</style>