@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model SalesOrderDetail

<li id='id:@Model.Id'>
    <div class='photo'>
        <img src='@Url.Content(Model.Product.Photo)' title='@Model.ProductName' />
    </div>
    <div class='action-link'>
        <a class='button icon-only icon delete' title='@Resources.Message_DeleteConfirmation'
		   data-type='checklist' data-placement='left' data-pk='@Model.Id' data-source='{}' data-value='@Model.Id' data-url='@Url.Action("RemoveDetail", new { id = Model.Id })' data-emptytext='' data-emptyclass=''></a>
    </div>
    <div class='info'>
        <span class='thick'>@Html.DisplayFor(x => x.ProductName)</span>
        <br/>
        <b>@Resources.Code: </b><span>@Html.DisplayFor(x => x.ProductCode)</span>
        <b>@Resources.Model: </b><span>@Html.DisplayFor(x => x.Product.Model)</span>
        @if(!string.IsNullOrEmpty(Model.Product.SKU)) {
        <b>@Resources.SKU: </b><span>@Html.DisplayFor(x => x.Product.SKU)</span>
        }
        <b>@Resources.ExchangeRate:</b>
        <span class='rate'>@Html.DisplayFor(x => x.ExchangeRate)</span>
        <br/>
        <b>@Resources.Price:</b>
        <a class='editable price' data-type='text' data-placement='right' data-pk='@Model.Id' data-url='@Url.Action("EditDetailPrice", new { id = Model.Id })'>@Html.DisplayFor(x => x.Price)</a>
        <a class='editable currency' data-type='select' data-placement='right' data-source='@Url.Action("Currencies", "ExchangeRates")' data-pk='@Model.Id' data-value='@((int)Model.Currency)' data-url='@Url.Action("EditDetailCurrency", new { id = Model.Id })'>@Html.DisplayFor(x => x.Currency)</a>
        <b>@Resources.Quantity:</b>
        <a class='editable quantity' data-type='text' data-placement='right' data-pk='@Model.Id' data-url='@Url.Action("EditDetailQuantity", new { id = Model.Id })'>@Html.DisplayFor(x => x.Quantity)</a>
        <b>@Resources.Discount:</b>
        <a class='editable discount' data-type='text' data-placement='right' data-pk='@Model.Id' data-url='@Url.Action("EditDetailDiscount", new { id = Model.Id })'>@Html.DisplayFor(x => x.Discount)</a>
        <b>@Resources.TaxRate:</b> @Html.DisplayFor(x => x.TaxRate)
        <b>@Resources.Amount:</b>
        <span class='total'>@Html.DisplayFor(x => x.Total)</span>
        <span>@Configuration.BaseCurrency</span>
    </div>
</li>
<script type='text/javascript'>
$('#id\\:@Model.Id a.editable').editable({
	success: function(response, newValue) {
        if ('rate' in response) {
          	$(this).siblings('.rate').html(response.rate);
        }
		$(this).siblings('.total').html(response.total);
        updateTotals();
    },
    display: function(value, response) {
        if (typeof response === 'undefined') {
        	$(this).html(value);
        } else if (Array.isArray(response)) {
          	arr = $.grep(response, function(o){
  				return o.value == value;
			});
          	$(this).html(arr[0].text);
        } else {
          	$(this).html(response.value);
        }
    }
});
$('#id\\:@Model.Id a.delete').editable({
	success: function(response, newValue) {
        $('#id\\:@Model.Id').remove();
        updateTotals();
    }
});
</script>