@using Mictlanix.BE
@using Mictlanix.BE.Web.Helpers
@model Mictlanix.BE.Model.SalesOrder
<fieldset>
    <legend>@Resources.Totals</legend>

    <div class="display-label left floating">
        @Html.LabelFor(x => x.Subtotal)
    </div>
    <div class="display-field right floating">
        @Html.DisplayFor(x => x.Subtotal)
    </div>

    <div class="display-label left floating">
        @Html.LabelFor(x => x.Taxes)
    </div>
    <div class="display-field right floating">
        @Html.DisplayFor(x => x.Taxes)
    </div>
    
    <div class="display-label left floating">
        @Html.LabelFor(x => x.Total)
    </div>
    <div class="display-field right floating">
        @Html.DisplayFor(x => x.Total)
    </div>

@if (!Model.IsCompleted) {
    <div class="action-buttons">
        @if (Model.IsCredit && (Model.Customer.Debt () + Model.Total) > Model.Customer.CreditLimit) {
            var difference = Model.Customer.Debt () + Model.Total - Model.Customer.CreditLimit;
            @Resources.CreditLimitExceeded<br />
            @difference.ToString("c")
        }
    </div>
}
</fieldset>