@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model IEnumerable<SalesOrder>

@{
    ViewBag.Title = Resources.SalesOrders;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.SalesOrders);
}

<h2>@Resources.SalesOrders</h2>

<p>
@if(Privilege.AllowCreate)
{
    @Html.ActionLink(Resources.NewSalesOrder, "New", new { }, new { @class = "button icon add" })
}
</p>
<table>
    <tr>
        <th>@Html.LabelFor(x => new SalesOrder().Id)</th>
        <th>@Html.LabelFor(x => new SalesOrder().Store)</th>
        <th>@Html.LabelFor(x => new SalesOrder().Serial)</th>
        <th>@Html.LabelFor(x => new SalesOrder().Date)</th>
        <th>@Html.LabelFor(x => new SalesOrder().Customer)</th>
        <th>@Html.LabelFor(x => new SalesOrder().SalesPerson)</th>
        <th>@Html.LabelFor(x => new SalesOrder().PointOfSale)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="number">@Html.DisplayFor(x => item.Id)</td>
        <td class="center">@Html.DisplayFor(x => item.Store.Name)</td>
        <td class="number">@Html.DisplayFor(x => item.Serial)</td>
        <td class="date">@Html.DisplayFor(x => item.Date)</td>
        <td>@Html.DisplayFor(x => item.Customer.Name)</td>
        <td class="center">
        	@Html.DisplayFor(x => item.SalesPerson.FirstName)
        	@Html.DisplayFor(x => item.SalesPerson.LastName)
        </td>
        <td class="center">@Html.DisplayFor(x => item.PointOfSale.Name)</td>
        <td class="actions">
        	@if(Privilege.AllowRead) {
            	@Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "button icon view icon-only", @title = Resources.Details })
            }
        	@if(Privilege.AllowUpdate) {
            	@Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "button icon edit icon-only", @title = Resources.Edit })
            }
        </td>
    </tr>
}

</table>
