@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model Search<Notarization>

@{
    ViewBag.Title = Resources.Notarizations;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = CurrentUser.GetPrivilege(SystemObjects.Notarizations);
}

<h2>@Resources.Notarizations</h2>

@if (Privilege.AllowCreate) {
    @Html.ActionLink(Resources.CreateNew, "Create", new { }, new { @class = "button icon add open-modal", data_modal_id = "notarization-modal" })
}

<div id='master-section'>
@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "search-results", LoadingElementId = "activity-indicator", OnBegin = "onSearchBegin" })) {
    @Html.HiddenFor(x => x.Offset)
    @Html.HiddenFor(x => x.Limit)
	<div class="row">
  		<div class="col-sm-4 col-sm-offset-8">
			<div class="input-group">
				<input id='Pattern' name='Pattern' type="text" class="form-control" placeholder="@Resources.SearchFor">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="submit">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div>
	</div>
}
</div>
<div id="activity-indicator">
    <img alt="@Resources.Loading" src="@Url.Content("~/Content/images/loading-bar.gif")" />
</div>
<div id='search-results'>
    @Html.Partial("_Index")
</div>