@using Business.Essentials.Model
@model IEnumerable<Business.Essentials.Model.SupplierAgreement>

<p>
</p>
<table>
    <tr>
        <th>
            @Html.LabelFor(x => new SupplierAgreement().Start)
        </th>

        <th>
            @Html.LabelFor(x => new SupplierAgreement().End)
        </th>
        <th>
            @Html.LabelFor(x => new SupplierAgreement().Comment)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td class="actions">
            @Html.ActionLink(Business.Essentials.Resources.Edit, "Edit", "SupplierAgreements", new { id=item.Id }, null) |
            @Html.ActionLink(Business.Essentials.Resources.Details, "Details", "SupplierAgreements", new { id = item.Id }, null) |
            @Html.ActionLink(Business.Essentials.Resources.Delete, "Delete", "SupplierAgreements", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>
