@model Business.Essentials.Model.SupplierAgreement

@{
    ViewBag.Title = Business.Essentials.Resources.Delete;
}

<h2>@Business.Essentials.Resources.Delete</h2>

<h3>@Business.Essentials.Resources.Message_DeleteConfirmation</h3>
<fieldset>
    <legend>@Business.Essentials.Resources.Title_SupplierAgreement</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.Supplier)
    </div>
    <div class="display-field">
        @Html.HiddenFor(model => model.Supplier.Id)
        @Html.DisplayFor(model => model.Supplier.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Start)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Start)
    </div>
    
    <div class="display-label">
        @Html.LabelFor(model => model.End)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.End)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value= "@Business.Essentials.Resources.Delete" /> |
        @Html.ActionLink(Business.Essentials.Resources.BackToList, "Details", "Suppliers", new { id = Model.SupplierId }, null)
    </p>
}