@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model SalesQuoteDetail

<li id="item@(Model.Id)">
    <div class="photo">
        <img src="@Url.Content(Model.Product.Photo)" title="@Model.ProductName"/>
    </div>
    <div class="info">
        <b>@Model.ProductName</b><br/>
        <b>@Resources.Code:</b> @Model.ProductCode
        <b>@Resources.Model:</b> @Model.Product.Model
        <b>@Resources.SKU:</b> @Model.Product.SKU <br/>
        <b>@Resources.Price:</b> @Html.DisplayFor(x => x.Price)
        <b>@Resources.Quantity:</b>
        <div class="value quantity">@Model.Quantity.ToString("0.####")</div>
        <b>@Resources.Discount:</b>
        <div class="value discount">@Model.Discount.ToString("p")</div>
        <b>@Resources.Amount:</b>
        <div class="value total">@Html.DisplayFor(x => x.Total)</div>
    </div>
</li>
