@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model SalesQuote

@{
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.SalesQuotes);
}

<fieldset>
    <legend>@Resources.MasterInformation</legend>

    <div class="display-label right floating">
        @Html.LabelFor(model => model.Id):
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label right floating">
        @Html.LabelFor(model => model.Serial):
        @Html.DisplayFor(model => model.Serial)
    </div>
    
    <div class="display-label right floating">
        @Html.LabelFor(model => model.Date):
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label right floating">
        @Html.LabelFor(model => model.DueDate)
        @Html.DisplayFor(model => model.DueDate)
    </div>
        
    <div class="display-label">
        @Html.LabelFor(model => model.Customer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Customer.PriceList)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.PriceList.Name)
    </div>

    <div class="action-buttons">
		@if(!Model.IsCompleted && !Model.IsCancelled) {
	        @Ajax.ActionLink(Resources.Edit, "Edit", new { id = Model.Id }, new AjaxOptions { UpdateTargetId = "master-section" }, new { id = "edit-button", @class = "button icon edit", style = (Model.Details.Count > 0 ? "display:none" : "") })
		}
		@if(Privilege.AllowDelete && !Model.IsCancelled) {
		    using (Html.BeginForm("Cancel", "Quotations", new { id =  Model.Id }, FormMethod.Post, new { style = "display:inline" })) {
				<button type="submit" class="icon cancel">@Resources.Cancel</button>
		    }
		}
    </div>
</fieldset>
