@using Mictlanix.BE
@using Mictlanix.BE.Model;
@using Mictlanix.BE.Web.Helpers;
@model SalesQuote

@{
    Layout = WebConfig.PrintLayout;
    ViewBag.Title = Html.PrintFileName(Resources.SalesQuote, Model.Id);
    ViewBag.Store = Model.Store;
    ViewBag.TaxpayerName = null;
    ViewBag.Taxpayer = null;
    ViewBag.Address = Model.Store.Address;
}

<div class="row">
	<div class="col-xs-6 text-left">
		<div class="row">
			<div class="col-xs-12 uppercase">
				<h2>@Resources.Customer</h2>
			</div>
		 	<div class="col-xs-12">
		 		<p><span class="mylabel">@Resources.Name</span></p>
	 		</div>
	 		<div class="col-xs-12">
	 			<p>@Html.DisplayFor(x => x.Customer.Name)</p>
 			</div>
            @if (Model.Contact != null) {
                <div class="col-xs-12">
                    <p><span class="mylabel">@Resources.Contact</span></p>
                </div>
                <div class="col-xs-12">
                    <p>@Html.DisplayFor(x => x.Contact.Name)</p>
                </div>
            }
             @if (Model.Comment != null) {
                <div class="col-xs-12">
                    <p><span class="mylabel">@Resources.Comment</span></p>
                </div>
                <div class="col-xs-12">
                    <p>@Html.DisplayFor(x => x.Comment)</p>
                </div>
            }
            @if (Model.ShipTo != null) {
                <div class="col-xs-12">
                    <p><span class="mylabel">@Resources.ShipTo</span></p>
                </div>
                <div class="col-xs-12">
                    <p>
                        @Html.DisplayFor(x => x.ShipTo.Street)
                        @Html.DisplayFor(x => x.ShipTo.ExteriorNumber)
                        @Html.DisplayFor(x => x.ShipTo.InteriorNumber)<br>
                        @Html.DisplayFor(x => x.ShipTo.Neighborhood),
                        @Html.DisplayFor(x => x.ShipTo.Borough)<br>
                        @Html.DisplayFor(x => x.ShipTo.State),
                        @Html.DisplayFor(x => x.ShipTo.Country),
                        @Html.DisplayFor(x => x.ShipTo.PostalCode)
                    </p>
                </div>
            }
 		</div>
	</div>
	<div class="col-xs-6 text-right">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="text-right uppercase">@Resources.SalesQuote @Html.DisplayFor(x => x.Id)</h2>
			</div>
			<div class="col-xs-12">
				<p><span class="mylabel">@Resources.DateTime</span></p>
			</div>
	 		<div class="col-xs-12">
				<p>@Html.DisplayFor(x => x.Date)</p>
	 		</div>
			<div class="col-xs-12">
				<p><span class="mylabel">@Resources.DueDate</span></p>
			</div>
	 		<div class="col-xs-12">
				<p>@Html.DisplayFor(x => x.DueDate)</p>
	 		</div>
		</div>
	</div>
</div>

<table  style="border-spacing:0 4px;border-collapse: separate;">
    <thead>
        <tr>
            <th class="col-xs-1 text-center">@Resources.Quantity</th>
            <th class="col-xs-3 text-center">@Resources.ProductCode</th>
            <th class="col-xs-6 text-center">@Resources.ProductName</th>
            <th class="col-xs-1 text-center">@Resources.Price</th>
            <th class="col-xs-1 text-center">@Resources.Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Details) {
            <tr class="alt">
                <td class="nowrap text-right">@Html.DisplayFor(x => item.Quantity)</td>
                <td class="text-center">@Html.DisplayFor(x => item.ProductCode)</td>
                <td class="text-center">
					@Html.DisplayFor(x => item.ProductName)
				@if (!string.IsNullOrEmpty (item.Comment)) {
					<br>
					@Html.DisplayFor(x => item.Comment)
				}
				</td>
                <td class="nowrap text-right">@Html.DisplayFor(x => item.NetPrice)</td>
                <td class="nowrap text-right">@Html.DisplayFor(x => item.Subtotal)</td>
            </tr>
        }
    </tbody>
</table>

<div style="min-height: 2.2mm; border-top: #333 solid 3px; border-bottom: #333 solid 1px"></div>

<table>
	<tfoot>
        <tr>
            <td rowspan="@(Model.Discount > 0m ? 4 : 3)" class="col-xs-10 text-center" style="vertical-align:middle">
                <div style="border-top: solid black 1px; border-bottom:solid black 1px; margin: 0 2cm 0 2cm;">
                    @Html.CurrencyToString(Model.Total, WebConfig.BaseCurrency)
                </div>
            </td>
            <td class="col-xs-1 nowrap text-right">@Resources.Subtotal</td>
            <td class="col-xs-1 nowrap text-right">@Html.DisplayFor(x => x.Subtotal)</td>
        </tr>
	@if (Model.Discount > 0m) {
        <tr>
            <th class="col-xs-1 nowrap text-right">@Resources.Discount</th>
            <td class="col-xs-1 nowrap text-right">@Html.DisplayFor(x => x.Discount)</td>
        </tr>
	}
        <tr>
            <td class="col-xs-1 nowrap text-right">@Resources.Taxes</td>
            <td class="col-xs-1 nowrap text-right">@Html.DisplayFor(x => x.Taxes)</td>
        </tr>
        <tr>
            <td class="col-xs-1 nowrap text-right">@Resources.Total</td>
            <td class="col-xs-1 nowrap text-right">@Html.DisplayFor(x => x.Total)</td>
        </tr>
	</tfoot>
</table>

<div class="row">
	<div class="text-center" style="margin-top:15mm">
		@Resources.CreatedBy,<br/>
		@Html.DisplayFor(x => Model.SalesPerson.Name)
	</div>
</div>
