@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model Customer

@{
    ViewBag.Title = Resources.Details;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.Customers);
    var AllowCreateAddresses = Html.GetPrivilege(CurrentUser, SystemObjects.Addresses).AllowCreate;
    var AllowCreateContacts = Html.GetPrivilege(CurrentUser, SystemObjects.Contacts).AllowCreate;
}

<h2>@Resources.Details</h2>

<fieldset>
    <legend>@Resources.Title_Customer</legend>

	<div class="row-fluid">
	  	<div class="span3">@Html.LabelFor(x => x.Code)</div>
		<div class="span9">@Html.LabelFor(x => x.Name)</div>
	</div>
	<div class="row-fluid">
	  	<div class="span3"><div class="ro-field">@Html.DisplayFor(x => x.Code)</div></div>
		<div class="span9"><div class="ro-field">@Html.DisplayFor(x => x.Name)</div></div>
	</div>
	<div class="row-fluid">
	  	<div class="span3">@Html.LabelFor(x => x.Zone)</div>
	  	<div class="span3">@Html.LabelFor(x => x.PriceList)</div>
		<div class="span3">@Html.LabelFor(x => x.CreditLimit)</div>
	  	<div class="span3">@Html.LabelFor(x => x.CreditDays)</div>
	</div>
	<div class="row-fluid">
	  	<div class="span3"><div class="ro-field">@Html.DisplayFor(x => x.Zone)</div></div>
	  	<div class="span3"><div class="ro-field">@Html.DisplayFor(x => x.PriceList.Name)</div></div>
		<div class="span3"><div class="ro-field">@Html.DisplayFor(x => x.CreditLimit)</div></div>
	  	<div class="span3"><div class="ro-field">@Html.DisplayFor(x => x.CreditDays)</div></div>
	</div>
	<div class="row-fluid">
	  	<div class="span12">@Html.LabelFor(x => x.Comment)</div>
	</div>
	<div class="row-fluid">
	  	<div class="span12"><div class="ro-field">@Html.DisplayFor(x => x.Comment)</div></div>
	</div>
</fieldset>
<div id='tabs'>
    <ul>
        <li><a href='#tab-1'>@Resources.CustomerTaxpayers</a></li>
        <li><a href='#tab-2'>@Resources.Addresses</a></li>
        <li><a href='#tab-3'>@Resources.Contacts</a></li>
    </ul>
    <div id='tab-1'>
    	@if(AllowCreateAddresses) {
        <p>@Html.ActionLink(Resources.CreateNew, "Create", "CustomerTaxpayers", new { owner = Model.Id }, new { @class = "button icon add openDialog", data_dialog_id = "taxpayerDlg", data_dialog_title = Resources.New })</p>
    	}
    	<div id='taxpayers' data-url='@Url.Action("Taxpayers", new { id = Model.Id })'>@Html.Partial("../CustomerTaxpayers/_Index", Model.Taxpayers)</div>
    </div>
    <div id='tab-2'>
    	@if(AllowCreateAddresses) {
        <p>@Html.ActionLink(Resources.CreateNew, "CreateCustomerAddress", "Addresses", new { id = Model.Id }, new { @class = "button icon add openDialog", data_dialog_id = "addressDlg", data_dialog_title = Resources.New })</p>
    	}
    	<div id='addresses' data-url='@Url.Action("Addresses", new { id = Model.Id })'>@Html.Partial("../Addresses/_Index", Model.Addresses)</div>
    </div>
    <div id='tab-3'>
    	@if(AllowCreateContacts) {
        <p>@Html.ActionLink(Resources.CreateNew, "CreateCustomerContact", "Contacts", new { id = Model.Id }, new { @class = "button icon add openDialog", data_dialog_id = "contactDlg", data_dialog_title = Resources.New })</p>
    	}
        <div id='contacts' data-url='@Url.Action("Contacts", new { id = Model.Id })'>@Html.Partial("../Contacts/_Index", Model.Contacts)</div>
    </div>
</div>
<div class="row-fluid vspaced">
    @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })
	@Html.ActionLink(Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "button icon edit pull-right" })
</div>
<script type='text/javascript'>
$('#tabs').tabs();
</script>