@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model Customer

@{
    ViewBag.Title = Resources.Details;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.Customers);
    var AllowCreateAddresses = Html.GetPrivilege(CurrentUser, SystemObjects.Addresses).AllowCreate;
    var AllowCreateContacts = Html.GetPrivilege(CurrentUser, SystemObjects.Contacts).AllowCreate;
    ViewBag.Privilege = Privilege;
}

<h2>@Resources.Details</h2>

<fieldset>
    <legend>@Resources.Title_Customer</legend>
@Html.DisplayForModel()
</fieldset>
<div class='tabbable'>
    <ul class='nav nav-tabs'>
        <li class='active'><a href='#tab-1' data-toggle='tab'>@Resources.CustomerTaxpayers</a></li>
        <li><a href='#tab-2' data-toggle='tab'>@Resources.Addresses</a></li>
        <li><a href='#tab-3' data-toggle='tab'>@Resources.Contacts</a></li>
        <li><a href='#tab-4' data-toggle='tab'>@Resources.Discounts</a></li>
    </ul>
    <div class='tab-content'>
	    <div id='tab-1' class='tab-pane active'>
    	@if(Privilege.AllowUpdate) {
	    	<div class='control-group text-right'>
				<a id='add-taxpayer' class='btn' data-url='@Url.Action("AddTaxpayer", new { id = Model.Id })'
				   data-type='text' data-placement='left' data-pk='@Model.Id' data-value=''
				   data-display='false' data-emptytext='' data-emptyclass='' data-highlight='false'>
					<i class='icon-plus'></i> @Resources.TaxpayerRecipient
				</a>
			</div>
    	}
	    	<div id='taxpayers' data-url='@Url.Action("Taxpayers", new { id = Model.Id })'>@Html.Partial("_Taxpayers", Model.Taxpayers)</div>
	    </div>
	    <div id='tab-2' class='tab-pane'>
    	@if(AllowCreateAddresses) {
	        <p>@Html.ActionLink(Resources.CreateNew, "CreateCustomerAddress", "Addresses", new { id = Model.Id }, new { @class = "button icon add open-modal", data_modal_id = "address-modal" })</p>
    	}
	    	<div id='addresses' data-url='@Url.Action("Addresses", new { id = Model.Id })'>@Html.Partial("../Addresses/_Index", Model.Addresses)</div>
	    </div>
	    <div id='tab-3' class='tab-pane'>
    	@if(AllowCreateContacts) {
	        <p>@Html.ActionLink(Resources.CreateNew, "CreateCustomerContact", "Contacts", new { id = Model.Id }, new { @class = "button icon add open-modal", data_modal_id = "contact-modal" })</p>
    	}
	        <div id='contacts' data-url='@Url.Action("Contacts", new { id = Model.Id })'>@Html.Partial("../Contacts/_Index", Model.Contacts)</div>
	    </div>
	    <div id='tab-4' class='tab-pane'>
	        <p>@Html.ActionLink(Resources.CreateNew, "NewDiscount", new { id = Model.Id }, new { @class = "button icon add open-modal", data_modal_id = "discount-modal" })</p>
	        <div id='discounts' data-url='@Url.Action("Discounts", new { id = Model.Id })'>@Html.Partial("_Discounts", Model.Discounts)</div>
	    </div>
    </div>
</div>
<div class='row-fluid vspaced'>
    @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })
@if (ViewBag.Privilege.AllowUpdate) {
	@Html.ActionLink(Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "button icon edit pull-right open-modal", data_modal_id = "customer-modal" })
}
</div>
<script type="text/javascript">
    bindModal('.open-modal');
</script>

<script type='text/javascript'>
$(function () {
    $('#add-taxpayer').editable({
		success: function(response, newValue) {
        	$('#taxpayers').loadUrl();
            setTimeout(function(){$('#add-taxpayer').editable('setValue', '');},500);
	    }
	}).removeClass('editable-click');
	$('.tab-content').delegate( "a.remove", "click", function (e) {
		e.preventDefault();
		var self = $(this);

	    $.post(this.href, function (data) {
	        if(data.result) {
	            self.closest('tr').remove();
	            $('#taxpayers').loadUrl();
	        }
	    }, 'json');
	});
	$('.tab-content').editable({
		selector: 'a.editable',
	    display: function(value, response) {
	        if (typeof response === 'undefined') 
	        	return;
	        
	        $(this).html(response.value);
	    }
	});
});
</script>