@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model Customer

@{
    ViewBag.Title = Resources.Details;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.Customers);
    var AllowCreateAddresses = Html.GetPrivilege(CurrentUser, SystemObjects.Addresses).AllowCreate;
    var AllowCreateContacts = Html.GetPrivilege(CurrentUser, SystemObjects.Contacts).AllowCreate;
}

<h2>@Resources.Details</h2>

<fieldset>
    <legend>@Resources.Title_Customer</legend>

	<div class="row-fluid">
	  	<div class="span3">@Html.LabelFor(x => x.Code)</div>
		<div class="span9">@Html.LabelFor(x => x.Name)</div>
	</div>
	<div class="row-fluid">
	  	<div class="span3"><div class="ro-field">@Html.DisplayFor(x => x.Code)</div></div>
		<div class="span9"><div class="ro-field">@Html.DisplayFor(x => x.Name)</div></div>
	</div>
	<div class="row-fluid">
	  	<div class="span3">@Html.LabelFor(x => x.Zone)</div>
	  	<div class="span3">@Html.LabelFor(x => x.PriceList)</div>
		<div class="span3">@Html.LabelFor(x => x.CreditLimit)</div>
	  	<div class="span3">@Html.LabelFor(x => x.CreditDays)</div>
	</div>
	<div class="row-fluid">
	  	<div class="span3"><div class="ro-field">@Html.DisplayFor(x => x.Zone)</div></div>
	  	<div class="span3"><div class="ro-field">@Html.DisplayFor(x => x.PriceList.Name)</div></div>
		<div class="span3"><div class="ro-field">@Html.DisplayFor(x => x.CreditLimit)</div></div>
	  	<div class="span3"><div class="ro-field">@Html.DisplayFor(x => x.CreditDays)</div></div>
	</div>
	<div class="row-fluid">
	  	<div class="span12">@Html.LabelFor(x => x.Comment)</div>
	</div>
	<div class="row-fluid">
	  	<div class="span12"><div class="ro-field">@Html.DisplayFor(x => x.Comment)</div></div>
	</div>
</fieldset>
<div class='tabbable'>
    <ul class='nav nav-tabs'>
        <li class='active'><a href='#tab-1' data-toggle='tab'>@Resources.CustomerTaxpayers</a></li>
        <li><a href='#tab-2' data-toggle='tab'>@Resources.Addresses</a></li>
        <li><a href='#tab-3' data-toggle='tab'>@Resources.Contacts</a></li>
    </ul>
    <div class='tab-content'>
	    <div id='tab-1' class='tab-pane active'>
    	@if(AllowCreateAddresses) {
	        <p>@Html.ActionLink(Resources.CreateNew, "Create", "TaxpayerRecipients", new { customerId = Model.Id }, new { @class = "button icon add open-modal", data_modal_id = "taxpayer-modal" })</p>
    	}
	    	<div id='taxpayers' data-url='@Url.Action("Taxpayers", new { id = Model.Id })'>@Html.Partial("_Taxpayers", Model.Taxpayers)</div>
	    </div>
	    <div id='tab-2' class='tab-pane'>
    	@if(AllowCreateAddresses) {
	        <p>@Html.ActionLink(Resources.CreateNew, "CreateCustomerAddress", "Addresses", new { id = Model.Id }, new { @class = "button icon add open-modal", data_modal_id = "address-modal" })</p>
    	}
	    	<div id='addresses' data-url='@Url.Action("Addresses", new { id = Model.Id })'>@Html.Partial("../Addresses/_Index", Model.Addresses)</div>
	    </div>
	    <div id='tab-3' class='tab-pane'>
    	@if(AllowCreateContacts) {
	        <p>@Html.ActionLink(Resources.CreateNew, "CreateCustomerContact", "Contacts", new { id = Model.Id }, new { @class = "button icon add open-modal", data_modal_id = "contact-modal" })</p>
    	}
	        <div id='contacts' data-url='@Url.Action("Contacts", new { id = Model.Id })'>@Html.Partial("../Contacts/_Index", Model.Contacts)</div>
	    </div>
    </div>
</div>
<div class='row-fluid vspaced'>
    @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })
@if (Privilege.AllowUpdate) {
	@Html.ActionLink(Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "button icon edit pull-right" })
}
</div>