@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model Customer

@{
    ViewBag.Title = Resources.Details;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.Customers);
    var AllowCreateAddresses = Html.GetPrivilege(CurrentUser, SystemObjects.Addresses).AllowCreate;
    var AllowCreateContacts = Html.GetPrivilege(CurrentUser, SystemObjects.Contacts).AllowCreate;
}

<h2>@Resources.Details</h2>

<fieldset>
    <legend>@Resources.Title_Customer</legend>
    
    <div class="display-label">
        @Html.LabelFor(model => model.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>
    
    <div class="display-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Zone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zone)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.PriceList)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PriceList.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.CreditLimit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreditLimit)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.CreditDays)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreditDays)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>

</fieldset>
<p>
@if(Privilege.AllowUpdate)
{
    @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "button icon edit" })
}
    @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })
</p>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">@Resources.DisplayName_Addresses</a></li>
        <li><a href="#tabs-2">@Resources.DisplayName_Contacts</a></li>
    </ul>
    <div id="tabs-1">
    @if(AllowCreateAddresses)
    {
        <p>
            @Html.ActionLink(Resources.CreateNew, "CreateForCustomer", "Addresses", new { id = Model.Id }, new { @class = "button icon add" })
        </p>
    }
        @Html.Partial("../Addresses/_Index", Model.Addresses)
    </div>
    <div id="tabs-2">
    @if(AllowCreateContacts)
    {
        <p>
            @Html.ActionLink(Resources.CreateNew, "CreateForCustomer", "Contacts", new { id = Model.Id }, new { @class = "button icon add" })
        </p>
    }
        @Html.Partial("../Contacts/_Index", Model.Contacts)
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
    });
</script>