@using Mictlanix.BE
@model Mictlanix.BE.Model.Customer

@{
    ViewBag.Title = Resources.Edit;
}

<h2>@Resources.Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Resources.Customer</legend>

        @Html.HiddenFor(model => model.Id)

		<div class="row-fluid">
		  	<div class="span3">@Html.LabelFor(x => x.Code)</div>
			<div class="span9">@Html.LabelFor(x => x.Name)</div>
		</div>
		<div class="row-fluid">
		  	<div class="span3">
		        @Html.EditorFor(model => model.Code)
		        @Html.ValidationMessageFor(model => model.Code)
	        </div>
			<div class="span9">
	            @Html.EditorFor(model => model.Name)
	            @Html.ValidationMessageFor(model => model.Name)
			</div>
		</div>
		<div class="row-fluid">
		  	<div class="span3">@Html.LabelFor(x => x.Zone)</div>
		  	<div class="span3">@Html.LabelFor(x => x.PriceList)</div>
			<div class="span3">@Html.LabelFor(x => x.CreditLimit)</div>
		  	<div class="span3">@Html.LabelFor(x => x.CreditDays)</div>
		</div>
		<div class="row-fluid">
		  	<div class="span3">
	            @Html.EditorFor(model => model.Zone)
	            @Html.ValidationMessageFor(model => model.Zone)
            </div>
		  	<div class="span3">
	            @Html.EditorFor(model => model.PriceListId)
	            @Html.ValidationMessageFor(model => model.PriceListId)
		  	</div>
			<div class="span3">
	            @Html.EditorFor(model => model.CreditLimit)
	            @Html.ValidationMessageFor(model => model.CreditLimit)
			</div>
		  	<div class="span3">
		  		@Html.EditorFor(model => model.CreditDays)   
		  	</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				@Html.EditorFor(x => x.Shipping)
				@Html.EditorFor(x => x.ShippingRequiredDocument)
			</div>
		</div>
		<div class="row-fluid">
		  	<div class="span12">@Html.LabelFor(x => x.Comment)</div>
		</div>
		<div class="row-fluid">
		  	<div class="span12">@Html.EditorFor(model => model.Comment)</div>
		</div>

        <p><button type="submit" class="icon save">@Resources.Save</button></p>
    </fieldset>
}
<div id="back-to-list">
    @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })
</div>

<style type="text/css">
ul.token-input-list { width:100%; }
div.token-input-dropdown {width:650px;}
</style>
@if (Model.PriceList != null) {
<script type="text/javascript">
    $(function () {
        $("#PriceListId").tokenInput("add", { id: "@Model.PriceList.Id", name: "@Model.PriceList.Name" });
    });
</script>
}