@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model Contact

@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "contactDlg" })) {
    @Html.ValidationSummary(true)
	@Html.EditorForModel()
	@Html.Hidden("owner", (object)ViewBag.OwnerId)
	<div class="action-buttons">
		<button type="button" class="cancel">@Resources.Discard</button>
		<button type="submit" class="icon save">@Resources.Create</button>
	</div>
}
<script type="text/javascript">
$('#Birthday').datepicker({ dateFormat: "yy-mm-dd", changeYear: true });
$('#Name').focus();
bindCloseDialog(".cancel");
</script>