@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model Search<SupplierPayment>

@{
    ViewBag.Title = Resources.Title_SuppliersPayments;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.SupplierPayment);
}

<h2>@Resources.DisplayName_SupplierPayment</h2>

<p>
@if(Privilege.AllowCreate)
{
    @Html.ActionLink(Resources.NewPay, "NewPay", new { }, new { @class = "button icon add" })
}
</p>

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "search-results", LoadingElementId = "activity-indicator", OnBegin = "onSearchBegin" }))
{
    <fieldset>
        <legend>@Resources.Search</legend>
        @Html.HiddenFor(x => x.Offset)
        @Html.HiddenFor(x => x.Limit)
        <div class="editor-label">
            @Html.LabelFor(x => x.Pattern)
        </div>
        <div class="search-box">
            <button type="submit" class="icon search">@Resources.Search</button>
            <div class="search-field">
                <input type="text" id="Pattern" name="Pattern" />
            </div>
        </div>
    </fieldset>
}
<div id="activity-indicator">
    <img alt="@Resources.Loading" src="@Url.Content("~/Content/images/loading-bar.gif")" />
</div>
<div id="search-results">
    @Html.Partial("_Index")
</div>