@using Business.Essentials
@using Business.Essentials.Model
@using Business.Essentials.WebApp.Helpers
@model IEnumerable<Address>

@{
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.Addresses);
}

<table>
    <tr>
        <th>
            @Html.LabelFor(x => new Address().TaxpayerId)
        </th>

        <th>
            @Html.LabelFor(x => new Address().TaxpayerName)
        </th>
        <th>
            @Html.LabelFor(x => new Address().Street)
        </th>
        <th>
            @Html.LabelFor(x => new Address().Neighborhood)
        </th>
        <th>
            @Html.LabelFor(x => new Address().Borough)
        </th>
        <th>
            @Html.LabelFor(x => new Address().State)
        </th>
         <th>
            @Html.LabelFor(x => new Address().ZipCode)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(x => item.TaxpayerId)
        </td>
        <td>
            @Html.DisplayFor(x => item.TaxpayerName)
        </td>
        <td>
            @Html.DisplayFor(x => item.Street)
            @Html.DisplayFor(x => item.ExteriorNumber)
            @Html.DisplayFor(x => item.InteriorNumber)
        </td>
        <td>
            @Html.DisplayFor(x => item.Neighborhood)
        </td>
        <td>
            @Html.DisplayFor(x => item.Borough)
        </td>
        <td>
            @Html.DisplayFor(x => item.State)
        </td>
        <td>
            @Html.DisplayFor(x => item.ZipCode)
        </td>
        <td class="actions">
        	@if(Privilege.AllowUpdate)
        	{
            	@Html.ActionLink(" ", "Edit", "Addresses", new { id = item.Id }, new { @class = "button icon edit icon-only", @title = Resources.Edit })
            }
        	@if(Privilege.AllowRead)
        	{
            	@Html.ActionLink(" ", "Details", "Addresses", new { id = item.Id }, new { @class = "button icon view icon-only", @title = Resources.Details })
            }
        	@if(Privilege.AllowDelete)
        	{
            	@Html.ActionLink(" ", "Delete", "Addresses", new { id = item.Id }, new { @class = "button icon delete icon-only", @title = Resources.Delete })
            }
        </td>
    </tr>
}

</table>
