@using Business.Essentials
@model Business.Essentials.Model.Address

@{
    ViewBag.Title = Resources.Edit;
}

<h2>@Resources.Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Resources.Title_Address</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.TaxpayerId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TaxpayerId)
            @Html.ValidationMessageFor(model => model.TaxpayerId)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.TaxpayerName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TaxpayerName)
            @Html.ValidationMessageFor(model => model.TaxpayerName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Street)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Street)
            @Html.ValidationMessageFor(model => model.Street)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExteriorNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExteriorNumber)
            @Html.ValidationMessageFor(model => model.ExteriorNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InteriorNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InteriorNumber)
            @Html.ValidationMessageFor(model => model.InteriorNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Neighborhood)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Neighborhood)
            @Html.ValidationMessageFor(model => model.Neighborhood)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Borough)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Borough)
            @Html.ValidationMessageFor(model => model.Borough)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.State)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.State)
            @Html.ValidationMessageFor(model => model.State)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Country)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Country)
            @Html.ValidationMessageFor(model => model.Country)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ZipCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ZipCode)
            @Html.ValidationMessageFor(model => model.ZipCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comment)
        </div>

        @Html.Hidden("OwnerId", (object)ViewBag.OwnerId)
        @Html.Hidden("OwnerType", (object)ViewBag.OwnerType)

        <p><button type="submit" class="icon save">@Resources.Save</button></p>
    </fieldset>
}

<div>
    @Html.ActionLink(Business.Essentials.Resources.BackToList, "Details", (string)ViewBag.OwnerType, new { id = ViewBag.OwnerId }, new { @class = "button icon back" })
</div>
