@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model Search<TechnicalServiceReport>

@{
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.TechnicalServiceReports);
    ViewBag.Privilege = Privilege;
}

<table id='services'>
    <tr>
        <th class="date">@Resources.Date</th>
        <th>@Resources.ServiceType</th>
        <th>@Resources.Equipment</th>
        <th>@Resources.Brand</th>
        <th>@Resources.Model</th>
        <th>@Resources.SerialNumber</th>
        <th></th>
    </tr>
@foreach (var item in Model.Results) {
    @Html.Partial("_Item", item)
}
</table>
<div class="buttons right">
	<label class='button left'>@Model.ToString()</label>@if (Model.HasPrev) {<a class='button middle icon prev icon-only paging' title='@Resources.PrevPage' href='javascript:void(0)'></a>}@if (Model.HasNext) {<a class='button right icon next icon-only paging' title='@Resources.NextPage' href='javascript:void(0)'></a>}
</div>
<script type='text/javascript'>
bindModal('.open-modal');
$('a.paging').click(function (e) {
	var offset=@Model.Offset;
	
	if($(this).hasClass('next')) {
		offset+=@Model.Limit;
	} else {
		offset-=@Model.Limit;
	}
	
	e.preventDefault();
	$('#activity-indicator').show();
	$('#search-results').hide();
	
	$.post('@Url.Action("Index")', { Pattern: '@Model.Pattern', Offset: offset, Limit: @Model.Limit }, function(data) {
		$('#search-results').html(data);
		$('#search-results').show();
		$('#activity-indicator').hide();
	});
});
</script>