@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model ServiceReport
<tr id='id:@Model.Id'>
    <td class="date">@Html.DisplayFor(x => x.Date)</td>
    <td>@Html.DisplayFor(x => x.Type)</td>
    <td>@Html.DisplayFor(x => x.Equipment)</td>
    <td>@Html.DisplayFor(x => x.Brand)</td>
    <td>@Html.DisplayFor(x => x.Model)</td>
    <td>@Html.DisplayFor(x => x.SerialNumber)</td>
    <td class='actions'>
    	@if(ViewBag.Privilege.AllowRead){
    	    @Html.ActionLink(" ", "View", "TechnicalServiceReports", new { id = Model.Id }, new { @class = "button icon view icon-only open-modal", title = Resources.Details, data_modal_id = "service-modal" })
    	    @Html.ActionLink(" ", "Print", "TechnicalServiceReports", new { id = Model.Id }, new { @class = "button icon print icon-only", title = Resources.Print, target = "_blank" })
        }
    	@if(ViewBag.Privilege.AllowUpdate){
        	@Html.ActionLink(" ", "Edit", "TechnicalServiceReports", new { id = Model.Id }, new { @class = "button icon edit icon-only open-modal", title = Resources.Edit, data_modal_id = "service-modal" })
        }
    	@if(ViewBag.Privilege.AllowDelete){
        	@Html.ActionLink(" ", "Delete", "TechnicalServiceReports", new { id = Model.Id }, new { @class = "button icon delete icon-only open-modal", @title = Resources.Delete, data_modal_id = "service-modal" })
        }
    </td>
</tr>