
@using Mictlanix.BE.Model
@using Mictlanix.BE
@using Mictlanix.BE.Web.Models
@using Mictlanix.BE.Web.Helpers

@model Search<CustomerPayment>

<table class="table-condensed">
	<thead>
		<tr>
			<th>@Resources.Id</th>
			<th>@Resources.Date</th>
			<th>@Resources.Customer</th>
			<th>@Resources.Amount</th>
			<th>@Resources.PaymentMethod</th>
			<th>@Resources.SalesOrders</th>
			<th>@Resources.Reference</th>
			<th>@Resources.ApplyPayment</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Results) {

			
				var applied = item.Allocations.Count () > 0;


			
						<tr>
										<td>@Html.DisplayFor(x => item.Id)</td>
										<td>@Html.DisplayFor(x => item.Date)</td>
										<td>@Html.DisplayFor(x => item.Customer.Name)</td>
										<td>@Html.DisplayFor(x => item.Amount)</td>
										<td>@item.Method.GetDisplayName()</td>
								  <td>@foreach (var x in item.Allocations) {
																						<span>@x.SalesOrder.Id - @x.Amount.ToString("C2")</span><br />
										}</td>
										@*<td>@string.Join("<br/>" ,item.Allocations.Select(x => "[" + x.SalesOrder.Id + " : " + x.Amount.ToString("C2") + "]<br/>"))</td>
												<td>@Html.DisplayFor(x => item.Allocations.Select(y => y.SalesOrder.Id))</td>*@
										<td>@Html.DisplayFor(x => item.Reference)</td>
										<td>@Html.DisplayFor(x => applied)</td>
										<td class='actions'>
														@Html.ActionLink(" ", "ViewCreditPayment", "Payments", new { id = item.Id }, new { @class = "button icon view icon-only", title = Resources.Details })
														@Html.ActionLink(" ", "PrintCreditPayment", "Payments", new { id = item.Id }, new { @class = "button icon print icon-only", title = Resources.Print, target = "_blank" })
										</td>
						</tr>
		}
	</tbody>
	<tfoot></tfoot>
</table>

<div class="buttons right">
	<label class='button left'>@Model.ToString()</label>@if (Model.HasPrev) {<a class='button middle icon prev icon-only paging' title='@Resources.PrevPage' href='javascript:void(0)'></a>}@if (Model.HasNext) {<a class='button right icon next icon-only paging' title='@Resources.NextPage' href='javascript:void(0)'></a>}
</div>


<script type="text/javascript">
    bindModal('.open-modal');

    $('a.paging').click(function (e) {
        var offset=@Model.Offset;

        if($(this).hasClass('next')) {
            offset+=@Model.Limit;
        } else {
            offset-=@Model.Limit;
        }

        e.preventDefault();
        $('#activity-indicator').show();
        $('#search-results').hide();

        $.post('@Url.Action("CreditPayments")', { Pattern: '@Model.Pattern', Offset: offset, Limit: @Model.Limit }, function(data) {
            $('#search-results').html(data);
            $('#search-results').show();
            $('#activity-indicator').hide();
        });
    });

</script>