@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model SalesOrder

@{
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.CustomerPayments);
}

<fieldset>
	<div class='row'>
		<div class='col-xs-8'>
	  		<dl class=''>
				<dt>@Resources.Customer</dt>
				<dd>
					<a id='customer' data-type='select2' data-placement='right' data-pk='@Model.Id'
						data-value='@Model.Customer.Id' data-url='@Url.Action("SetCustomer", "Payments",new { id = Model.Id })'
						data-inputclass='input-xxlarge' data-emptytext='@Resources.Empty'>
						@Html.DisplayFor(x => x.Customer.Name)
					</a>
					<span id="name">
						@Html.Partial("_CustomerName", Model)
					</span>
				</dd>
				@if (Model.Contact != null) {
				<dt>@Resources.Contact</dt>
				<dd>@Html.DisplayFor(x => x.Contact, "String")</dd>
			    }
				<dt>@Resources.ShipTo</dt>
                <dd>
                    <a id="customer_shipto" class="editable alert-link" data-type="text" data-placement="right" data-pk="@Model.Id"
                       data-url='@Url.Action("SetCustomerShipTo", new { id = Model.Id })'
                       data-inputclass="input-xlarge" data-emptytext="@Resources.Empty">
                        @Html.DisplayFor(x => x.CustomerShipTo)
                    </a>
                    @*<a id='address' class="editable" data-type='select' data-placement='right' data-pk='@Model.Id'
            data-value='@(Model.ShipTo == null ? "" : Model.ShipTo.Id.ToString ())'
            data-source='@Url.Action("Addresses", new { id = Model.Id })' data-source-cache='false'
            data-url='@Url.Action("SetShipTo", new { id = Model.Id })'
            data-inputclass='input-xxlarge' data-emptytext='@Resources.Empty'>
            @if (Model.ShipTo != null) {
                    @Html.DisplayFor(x => x.ShipTo, "String")
            } else {
                    @Resources.Empty
            }
        </a>*@

                </dd>
				<dt>@Resources.SalesPerson</dt>
				<dd>@Html.DisplayFor(x => x.SalesPerson.Name)</dd>
			</dl>
		</div>
	  	<div class='col-xs-4'>
										<dl class='dl-horizontal'>
														<dt>@Resources.Id</dt>
														<dd>
																		@if (Html.GetPrivilege(CurrentUser, SystemObjects.SalesOrders).AllowRead) {
																						<a href='@Url.Action("View", "POSAbastos", new { id = Model.Id })' target='_blank'>@Html.DisplayFor(x => x.Id)</a>
																		}
																		else {
																						<span>@Html.DisplayFor(x => x.Id)</span>
																		}
																		<a href="javascript:void(0)" data-toggle="tooltip" title="@Resources.Serial @Html.DisplayFor(x => x.Serial)">
																						<span class="glyphicon glyphicon-exclamation-sign"></span>
																		</a>
														</dd>
														<dt>@Resources.Date</dt>
														<dd>@Html.DisplayFor(x => x.Date)</dd>
														<dt>@Resources.PromiseDate</dt>
														<dd>@Html.DisplayFor(x => x.PromiseDate)</dd>
														<dt>@Resources.Currency</dt>
														<dd>@Html.DisplayFor(x => x.Currency)</dd>
														<dt>@Resources.ExchangeRate</dt>
														<dd>@Html.DisplayFor(x => x.ExchangeRate)</dd>
														<dt>@Resources.PaymentTerms</dt>
														<dd>
																		<a id='terms' class='editable' data-type='select' data-placement='left' data-pk='@Model.Id'
																					data-value='@((int)Model.Terms)' data-source='@Url.Action("Terms","AbastosPOS")'
																					data-url='@Url.Action("SetTerms","AbastosPOS", new { id = Model.Id })'
																					data-emptytext='@Resources.Empty'>
																						@Model.Terms.GetDisplayName()
																		</a>
														</dd>
														<dt>@Resources.DueDate</dt>
														<dd>@Html.DisplayFor(x => x.DueDate)</dd>
										</dl>
  		</div>
	</div>
@if(Privilege.AllowDelete && !Model.IsCancelled) {
	<div class='row'>
  		<div class='col-xs-12'>
	    @using (Html.BeginForm("Cancel", "Payments", new { id =  Model.Id }, FormMethod.Post, new { @class = "modal-form pull-right" })) {
			<button type="submit" class="icon cancel">@Resources.Cancel</button>
	    }
  		</div>
	</div>
}
</fieldset>