@using Business.Essentials
@model Business.Essentials.Model.SalesOrder
<fieldset>
    <legend>@Resources.SalesTotals</legend>

    <div class="display-label">
        @Html.LabelFor(x => x.Total)
    </div>
    <div class="display-field">
        @Html.DisplayFor(x => x.Total)
    </div>

    <div class="display-label">
        @Html.LabelFor(x => x.Paid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(x => x.Paid)
    </div>

    <div class="display-label">
        @Html.LabelFor(x => x.Balance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(x => x.Balance)
    </div>

    @if(Model.Balance >= 0)
    {
        using (Html.BeginForm("ConfirmPayment", "Payments", new { id = Model.Id }))
        {
            <p>
                <button type="button" class="icon print">@Resources.Print</button>
                <button type="submit">@Resources.CompletePayment</button>
            </p>
        }
    }
</fieldset>

<script type="text/javascript">
    $(function() {
		@if (Model.Balance >= 0) {
		    <text>$("#form").hide("slow");</text>
		} else {
		    <text>
		    	$("#Amount").val("@((-Model.Balance).ToString("0.00"))");
		    	$("#form").show("slow");
		    </text>
		}
		
		$(".print").die();
        $(".print").printPage({
          url: "@Url.Action("PrintOrder", "Sales", new { id = Model.Id })"
        });
    });
</script>
