@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model SalesOrder

<ul class='labeled-frames pull-right'>
    <li>
    	<span class='caption'>@Resources.Total</span>
        <span class='value'>@Html.DisplayFor(x => x.TotalEx) @WebConfig.BaseCurrency</span>
    @if (Model.Currency != WebConfig.BaseCurrency) {
        <span class='value'>@Html.DisplayFor(x => x.Total) @Html.DisplayFor(x => x.Currency)</span>
    }
    </li>
    <li>
    	<span class='caption'>@Resources.Paid</span>
    	<span class='value'>@Html.DisplayFor(x => x.Paid) @WebConfig.BaseCurrency</span>
    </li>
    @if (Model.Payments.Any(x => x.Payment.ExtraCharge != null)) {
		<li>
			<span class="caption">Cargos Extras</span>
			<span class="value">@Html.DisplayFor(x => x.ExtraCharge)</span>
		</li>
	 }
    <li>
    	<span class='caption'>@Resources.Change</span>
        <span class='value'>@Html.DisplayFor(x => x.Change) @WebConfig.BaseCurrency</span>
    </li>
</ul>

<div class='clearfix'></div>
@if (Model.Balance <= 0.01m) {
<div class='pull-left'>
	@Html.ActionLink(Resources.Print, "Print", new { id = Model.Id }, new { @class = "button icon print", target = "_blank" })
</div>
<div id='confirm-button' class='pull-right'>
	@using (Html.BeginForm("ConfirmPayment", "Payments", new { id = Model.Id })) {
	    <button type="submit" class='icon pay'>@Resources.CompletePayment</button>
	}
</div>
}
<div class='clearfix'></div>
<script type="text/javascript">
@if (Model.Balance <= 0.01m) {
    <text>$("#form").hide("slow");</text>
} else {
	<text>
		$("#amount").val("@((Model.Balance).ToString("0.00"))");
		$("#form").show("slow");
	</text>
}
</script>
