@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model MasterDetails<CashSession, MoneyCount>

@{
    ViewBag.Title = Resources.Title_CloseSession;
    ViewBag.ShowCloseSession = false;
}

<h2>@Resources.DisplayName_CloseSession</h2>

<fieldset>
    <legend>@Resources.DisplayName_CashSession</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.Master.CashDrawer) :
        @Html.DisplayFor(model => model.Master.CashDrawer.Name)
    </div>
    
    <div class="display-label">
        @Html.LabelFor(model => model.Master.Cashier) :
        @Html.DisplayFor(model => model.Master.Cashier.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Master.Start) :
        @Html.DisplayFor(model => model.Master.Start)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Master.End) :
        @Html.DisplayFor(model => model.Master.End)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Master.StartingCash) :
        @Html.DisplayFor(model => model.Master.StartingCash)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Master.CountedCash) :
        @Html.DisplayFor(model => model.Master.CountedCash)
    </div>
    
</fieldset>

<div id="details-container">
<table>
    <tr>
        <th>
            @Html.LabelFor(x => new CustomerPayment().Method)
        </th>

        <th>
            @Html.LabelFor(x => new CustomerPayment().Amount)
        </th>
    </tr>

@foreach (var item in Model.Details) {
    <tr>
        <td class="number">
            @item.Type.GetDisplayName()
        </td>
       
        <td class="number">
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
    </tr>
}
    <tr>
        <td class="number">
            @Resources.Total
        </td>

        <td class="number">
            @Model.Details.Sum(x => x.Amount).ToString("c")
        </td>
    </tr>
</table>
</div>
<div style="float:right">
@using (Html.BeginForm("CloseSession", "Payments", new { id = Model.Master.Id }))
{
    <button type="button" class="icon print">@Resources.Print</button>

}
</div>
<div id="back-to-list">
    @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })
</div>
<script type="text/javascript">
    $(function() {
        $(".print").printPage({
            url: "@Url.Action("PrintCashCount", "Payments", new { id = Model.Master.Id })"
        });
    });

</script>