@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model MasterDetails<CashSession, SalesOrder>

@{
    ViewBag.Title = Resources.Title_CustomerPayment;
    ViewBag.ShowCloseSession = true;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.CustomerPayments);
}

<h2>@Resources.DisplayName_CustomerPayments</h2>

@Html.Partial("_SessionInfo", Model.Master)

@if (Privilege.AllowUpdate) {
<div class='tabbable'>
    <ul class='nav nav-tabs'>
        <li class='active'><a href='#tab-1' data-toggle='tab'>@Resources.DisplayName_CashPayment</a></li>
        <li><a href='#tab-2' data-toggle='tab'>@Resources.DisplayName_CreditPayment</a></li>
    </ul>
    <div class="tab-content">
	    <div id='tab-1' class='tab-pane active'>
	        @Html.Partial("_CashPayment", Model.Details)
	    </div>
	    <div id='tab-2' class='tab-pane'>
	    	<div id='credit-payment'>
	        	@Html.Partial("_CreditPayment", new CustomerPayment())
	        </div>
	    </div>
	</div>
</div>
}