@using Mictlanix.BE
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Models
@model SalesOrder

@{
    ViewBag.Title = Resources.Payment;
}

<h2>@Resources.Payment</h2> 

<div id="pay-order">
@Html.Partial("_DisplayView")
</div>
<div id="items-container">
    <ul id="items" class="list-items">
    @foreach (var item in Model.Payments) {
        @Html.Partial("_Payment", item) 
    }
    </ul>
</div>
<div id="form">
	<fieldset>
	    <legend>@Resources.Payment</legend>
	    <div class="form-horizontal">
			<div class="form-group">
			  	<div class="col-xs-3"><label for="amount">@Resources.Amount</label></div>
				<div class="col-xs-3"><label for="reference">@Resources.Reference</label></div>
			</div>
			<div class="form-group">
			  	<div class="col-xs-3"><input id='amount' class='form-control text-right' type='text' value='0.00'></div>
				<div class="col-xs-3"><input id='reference' class='form-control' type='text' value=''></div>
			</div>
			<div class="form-group">
				<div class="col-xs-12">
		    		@Html.LabelFor(x => new CustomerPayment().Method)
		    	</div>
				<div class="col-xs-12">
			        <div class="btn-group">
			        @foreach (var item in WebConfig.CashierPaymentOptions.Where( x => !PaymentMethodCharge.Queryable.Any(y => y.PaymentMethod == x))) {
			        	<button class="pay btn btn-default" type="button" data-value='@((int)item)'>@item.GetDisplayName()</button>
			        }
					</div>
				</div>
				</div>
			 <div class="form-group">
				<div class="col-xs-12">
					<div class="btn-group">
						@foreach (var item in PaymentMethodCharge.Queryable.Where(x => x.Warehouse == WebConfig.PointOfSale.Warehouse).ToList()) {
								  <button class="pay btn btn-default" type="button" data-value="@((int)item.PaymentMethod)" data-charge="@item.Id">@item.Name (@Html.DisplayFor(x => item.CommissionByManage))</button>
						}
					</div>
				</div>
			</div>
	    </div>
	</fieldset>
</div>
<div id="sales-order-balance">
    @Html.Partial("_SalesOrderBalance")
</div>
<script type="text/javascript">
function updateTotals() {
    $.get('@Url.Action("GetSalesOrderBalance", new { id = Model.Id })', function (data) {
        $("#sales-order-balance").html(data);
    });
}
$(function () {
	$('[data-toggle="tooltip"]').tooltip();
    $(".pay").click(function () {
        var type = $(this).data('value');
        var amount = $("#amount").val();
		  var reference = $("#reference").val();
		  var charge = $(this).data('charge');

		  $.post('@Url.Action("AddPayment", new { id = Model.Id })', { 'type': type, 'amount': amount, 'reference': reference, 'charge': charge }, function (detail) {
            $.get('@Url.Action("GetPayment")/' + detail.id, function (data) {
                $('#items').append(data);
                $("#amount,#reference").val('');
                updateTotals();
            });

        }, "json");
    });
});
</script>