@using Mictlanix.BE
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Models
@model SalesOrder

@{
    ViewBag.Title = Resources.Payment;
}

<h2>@Resources.Payment</h2> 

<div id="pay-order">
@Html.Partial("_DisplayView")
</div>
<div id="items-container">
    <ul id="items" class="list-items">
    @foreach (var item in Model.Payments) {
        @Html.Partial("_Payment", item) 
    }
    </ul>
</div>
<div id="form">
	<fieldset>
	    <legend>@Resources.Payment</legend>
		<div class="row-fluid">
		  	<div class="col-xs-3">@Html.LabelFor(x => new CustomerPayment().Amount)</div>
			<div class="col-xs-3">@Html.LabelFor(x => new CustomerPayment().Reference)</div>
		</div>
		<div class="row-fluid">
		  	<div class="col-xs-3"><input id='amount' class='text-right' type='text' value='0.00'></div>
			<div class="col-xs-3"><input id='reference' class='text-right' type='text' value=''></div>
		</div>
	    <div class="btn-toolbar">
	    	@Html.LabelFor(x => new CustomerPayment().Method)
	        <div class="btn-group">
	        @foreach (var item in new []{ PaymentMethod.Cash,
	        							  PaymentMethod.DebitCard,
	        							  PaymentMethod.CreditCard,
	        							  PaymentMethod.Check,
	        							  PaymentMethod.BankDeposit,
	        							  PaymentMethod.WireTransfer,
	        							  PaymentMethod.GovernmentFunding }) {
	        	<button class="pay btn" data-value='@((int)item)'>@item.GetDisplayName()</button>
	        }
			</div>
	    </div>
	</fieldset>
</div>
<div id="sales-order-balance">
    @Html.Partial("_SalesOrderBalance")
</div>
<script type="text/javascript">
function updateTotals() {
    $.get('@Url.Action("GetSalesOrderBalance", new { id = Model.Id })', function (data) {
        $("#sales-order-balance").html(data);
    });
}
$(function () {
	$('[data-toggle="tooltip"]').tooltip();
    $(".pay").click(function () {
        var type = $(this).data('value');
        var amount = $("#amount").val();
        var reference = $("#reference").val();

        $.post('@Url.Action("AddPayment", new { id = Model.Id })', { 'type': type, 'amount': amount, 'reference': reference }, function (detail) {
            $.get('@Url.Action("GetPayment")/' + detail.id, function (data) {
                $('#items').append(data);
                $("#amount,#reference").val('');
                updateTotals();
            });

        }, "json");
    });
});
</script>