@using Business.Essentials
@using Business.Essentials.WebApp.Helpers
@using Business.Essentials.Model
@model Business.Essentials.Model.CustomerPayment
<li id="payment@(Model.Id)">
    <div style="display:inline-block;height:60px;vertical-align:top;">
        <b>@Model.Method.GetDisplayName()</b><br/>
        @if (!string.IsNullOrEmpty(Model.Reference))
        {
            <b>@Resources.Reference:</b> @Model.Reference
        }
        <b>@Resources.Amount:</b> @Html.DisplayFor(x => x.Amount)
        <a class="button icon-only icon delete" href="/Sales/RemovePayment/@Model.Id"></a>
        <script type="text/javascript">
            $("#payment@(Model.Id) a.delete").click(function(event){
                event.preventDefault();
                removeItem(@Model.Id);
            });
        </script>
    </div>
</li>
