@using Business.Essentials
@using Business.Essentials.Model
@using Business.Essentials.WebApp.Helpers
@using Business.Essentials.WebApp.Models
@model MasterDetails<CashSession, SalesOrder>

@{
    ViewBag.Title = Resources.Title_CustomerPayment;
    ViewBag.ShowCloseSession = true;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.CustomerPayments);
}

<h2>@Resources.DisplayName_CustomerPayments</h2>

@Html.Partial("_SessionInfo", Model.Master)

@if (Privilege.AllowUpdate)
{
    <div id="tabs">
        <ul>
            <li><a href="#cash-payment">@Resources.DisplayName_CashPayment</a></li>
            <li><a href="#credit-payment">@Resources.DisplayName_CreditPayment</a></li>
        </ul>
        <div id="cash-payment">
            @Html.Partial("_CashPayment", Model.Details)
        </div>
        <div id="credit-payment">
            @Html.Partial("_CreditPayment", new CustomerPayment())
        </div>
    </div>
	<script type="text/javascript">
	    $(function () {
	        $("#tabs").tabs();
	    });
	</script>
}