@using Business.Essentials
@using Business.Essentials.Model
@using Business.Essentials.WebApp.Helpers
@using Business.Essentials.WebApp.Models
@model MasterDetails<CashSession, SalesOrder>

@{
    ViewBag.Title = Resources.Title_CustomerPayment;
    ViewBag.ShowCloseSession = true;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.CustomerPayments);
}

<h2>@Resources.DisplayName_CustomerPayments</h2>

@Html.Partial("_SessionInfo", Model.Master)

@if (Privilege.AllowUpdate)
{
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">@Resources.DisplayName_CashPayment</a></li>
            <li><a href="#tabs-2">@Resources.DisplayName_CreditPayment</a></li>
        </ul>
        <div id="tabs-1">
            @Html.Partial("CashPayment", Model.Details)
        </div>
        <div id="tabs-2">
            @Html.Partial("CreditPayment", new CustomerPayment())
        </div>
    </div>
}