@using Business.Essentials.Model
@model IEnumerable<SalesOrder>

@{
    ViewBag.Title = Business.Essentials.Resources.Title_CustomerPayment;
}

<h2>@Business.Essentials.Resources.DisplayName_CustomerPayments</h2>

<div>
    @using (Html.BeginForm("OpenSession", "Payments"))
    {
        <p>
            <input type="submit" value="@Business.Essentials.Resources.StartSession" />
        </p>
    }
</div>
<table>
    <tr>
        <th>
            @Html.LabelFor(x => new SalesOrder().Id)
        </th>
        <th>
            @Html.LabelFor(x => new SalesOrder().Date)
        </th>
        <th>
            @Html.LabelFor(x => new SalesOrder().Customer)
        </th>
        <th>
            @Html.LabelFor(x => new SalesOrder().DueDate)
        </th>
         <th>
            @Html.LabelFor(x => new SalesOrder().SalesPerson)
        </th>
        <th>
            @Html.LabelFor(x => new SalesOrder().PointOfSale)
        </th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td class="number">
            @Html.DisplayFor(modelItem => item.Id)
        </td>
       
        <td class="center">
            @Html.DisplayFor(modelItem => item.Date)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>

        <td class="center">
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SalesPerson.FirstName)
            @Html.DisplayFor(modelItem => item.SalesPerson.LastName)
        </td>
        <td class="center">
            @Html.DisplayFor(modelItem => item.PointOfSale.Name)
        </td>
    </tr>
}
</table>
