@using Business.Essentials
@using Business.Essentials.WebApp.Helpers
@using Business.Essentials.Model
@using Business.Essentials.WebApp.Models
@model SalesOrder

@{
    ViewBag.Title = Resources.Payment;
}

<link href="@Url.Content("~/Content/selection-options.css")" rel="stylesheet" type="text/css" />


<h2>@Resources.Payment</h2> 

<div id="pay-order">
@Html.Partial("_PaymentInfo")
</div>

<fieldset>
    <legend>@Business.Essentials.Resources.Payment</legend>

    <div id="form">
        <div class="display-label">
            @Html.LabelFor(model => new CustomerPayment().Method)
        </div>
        <div class="editor-field">
            <ul class="selection-options">
            @foreach (var item in Enum.GetValues(typeof(PaymentMethod)))
            {
                <li>
	                <label>
	                    @Html.RadioButtonFor(model => new CustomerPayment().Method, (int)item)
	                    <span class="option-desc">
		                    <span class="icon">@Enum.GetName(typeof(PaymentMethod), item)</span>
		                    <span class="text">@(((PaymentMethod)item).GetDisplayName())</span>
	                    </span>
	                </label>
	            </li>
            }
            </ul>
        </div>
        <div class="display-label">
            @Html.LabelFor(model => new CustomerPayment().Amount)
        </div>
        <div class="display-field">
            @Html.EditorFor(model => new CustomerPayment().Amount)
        </div>
        <div id="reference" style="display:none">
            <div class="display-label">
                @Html.LabelFor(model => new CustomerPayment().Reference)
            </div>
            <div class="display-field">
                @Html.EditorFor(model => new CustomerPayment().Reference)
            </div>
        </div>
        <p><button type="submit">@Resources.Pay</button></p>

    </div>
    <div id="list-items">
        <ul id="items">
        @foreach (var item in Model.Payments)
        {
            @Html.Partial("_Payment", item) 
        }
        </ul>
    </div>
</fieldset>

<div id="sales-order-balance">
    @Html.Partial("_SalesOrderBalance")
</div>

<div id="dialog-confirm" title="@Resources.Delete">
	<p>
        <span class="ui-icon ui-icon-circle-close" style="float:left; margin:3px 7px 20px 0;"></span>
        @Resources.Message_DeleteConfirmation
    </p>
</div>

<script type="text/javascript">
    function updateTotals() {
        $.get("/Payments/GetSalesOrderBalance/" + SalesOrder.Id, function (data) {
            $("#sales-order-balance").html(data);
        });
    }

    function removeItem(id) {
        $("#dialog-confirm").dialog({
            resizable: true,
            height: 178,
            modal: true,
            buttons: {
                @Resources.Delete: function () {
                    $.post("/Payments/RemovePayment", { "id": id }, function (data) {
                        if(data.result) {
                            $("#payment" + id).remove();
                            updateTotals();
                        }
                    }, "json");
                    $(this).dialog("close");
                },
                @Resources.Close: function () {
                    $(this).dialog("close");
                }
            }
        });
    }

    $(function () {
        $("#pay").click(function () {
            var type = $("#Method:checked").val();
            var amount = $("#Amount").val();
            var reference = $("#Reference").val();

            $.post("/Payments/AddPayment", { "order": SalesOrder.Id, "type": type, "amount": amount, "reference": reference }, function (detail) {
                $.get("/Payments/GetPayment/" + detail.id, function (data) {
                    $("#items").append(data);
                    $(":input").not(":submit, :button, :radio").val("").removeAttr("selected");
                    $("#Method").attr("checked", true);
                    $("#reference").hide("slow");
                    updateTotals();
                });

            }, "json");
        });

        $(":radio").change(function() {
            var status = $("#Method:checked").val();
            
            if (status === "4" || status === "5") {
                $("#reference").show("slow");
            } else {
                $("#reference").hide("slow");
            }
        });
    });
</script>

<script>
    $(function () {
        $(".selection-options>li").click(function () {
            $(".selection-options>li").removeClass("selected");
            $(this).addClass("selected");
        });
    });
</script>