@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model Search<LotSerialRequirement>

@{
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.LotSerialNumbers);
}

<table>
    <tr>
        <th>@Html.LabelFor(x => new LotSerialRequirement().Source)</th>
        <th>@Html.LabelFor(x => new LotSerialRequirement().Reference)</th>
        <th>@Html.LabelFor(x => new LotSerialRequirement().Warehouse)</th>
        <th>@Html.LabelFor(x => new LotSerialRequirement().Product)</th>
        <th>@Html.LabelFor(x => new LotSerialRequirement().Quantity)</th>
        <th></th>
    </tr>
@foreach (var item in Model.Results)
{
    <tr id='id:@item.Id'>
        <td class="center">@item.Source.GetDisplayName()</td>
        <td class="center">@Html.DisplayFor(x => item.Reference)</td>
        <td class="center nowrap">@Html.DisplayFor(x => item.Warehouse.Name)</td>
        <td class="fill">
        	@Html.DisplayFor(x => item.Product.Name)<br/>
        	@Resources.Code: @item.Product.Code @Resources.Model: @item.Product.Model
        </td>
        <td class="number">@Math.Abs(item.Quantity).ToString("0.####")</td>
        <td class="actions">
        	@if(Privilege.AllowUpdate) {            
            	@Html.ActionLink(" ", "AssignLotSerialNumbers", new { id = item.Id }, new { @class = "button icon edit icon-only", @title = Resources.Edit })
            }
        	@if(Privilege.AllowDelete) {
            	@Html.ActionLink(" ", "DiscardLotSerialNumbers", new { id = item.Id }, new { @class = "button icon cancel icon-only", @title = Resources.Discard })
            }
        </td>
    </tr>
}
</table>
<div class="buttons right">
	<label class="button left">@Model.ToString()</label>@if (Model.HasPrev) {<a class="button middle icon prev icon-only paging" title="@Resources.PrevPage" href="javascript:void(0)"></a>}@if (Model.HasNext) {<a class="button right icon next icon-only paging" title="@Resources.NextPage" href="javascript:void(0)"></a>}
</div>
<script type="text/javascript">
    $(function () {
    	$('a.paging').click(function (e) {
  			var offset=@Model.Offset;
    		
  			if($(this).hasClass('next')) {
  				offset+=@Model.Limit;
  			} else {
  				offset-=@Model.Limit;
  			}
  			
    		e.preventDefault();
    		$("#activity-indicator").show();
    		$("#search-results").hide();
    		
    		$.post('@Url.Action("Index")', { Pattern: '@Model.Pattern', Offset: offset, Limit: @Model.Limit }, function(data) {
				$('#search-results').html(data);
				$('#search-results').show();
				$('#activity-indicator').hide();
			});
    	});
    	
    	$('a.cancel').click(function (e) {
    		e.preventDefault();
    		var url = this.href;
    		
	        $('#confirm-dlg').dialog({
	            modal:true,resizable:false,width:400,
	            buttons: {
	                '@Resources.Discard': function () {
	                    $.post(url, function (data) {
	                        if(data.result) {
	                            $('#id\\:' + data.id).remove();
	                        }
	                    }, 'json');
	                    $(this).dialog('close');
	                },
	                '@Resources.Close': function () {
	                    $(this).dialog('close');
	                }
	            }
	        });
    	});
    });
</script>