@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model IEnumerable<MasterDetails<LotSerialRequirement, LotSerialTracking>>

@{
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.LotSerialNumbers);
    var Master = Model.First ().Master;

}

<h2>@Resources.LotSerialNumbers</h2>

<div id="master-section">
	<fieldset>
	    <div class="display-label right floating">
	        @Html.LabelFor(x => Master.Source)
	    </div>
	    <div class="display-label">
	        @Html.LabelFor(x => Master.Warehouse)
	    </div>
	    <div class="display-field right floating">
	        @Master.Source.GetDisplayName()
	    </div>
	    <div class="display-field">
	    @if(Master.Source == TransactionType.SalesOrder || Master.Source == TransactionType.CustomerRefund) {
	    	<a id='warehouse' data-type='select2' data-placement='right' data-pk='@Master.Warehouse.Id' 
	        	data-value='@Master.Warehouse.Id' data-url='@Url.Action("SetWarehouse", new { source = (int)Master.Source, reference = Master.Reference })'
	        	data-inputclass='input-xxlarge' data-emptytext='@Resources.Empty'>
	        	@Html.DisplayFor(x => Master.Warehouse.Name)
	        </a>
		} else {
			@Html.DisplayFor(x => Master.Warehouse.Name)
		}
	    </div>
	    <div class="display-label right floating">
	        @Html.LabelFor(x => Master.Reference)
	    </div>
	    <div class="display-field right floating">
	        @Html.DisplayFor(x => Master.Reference)
	    </div>
	</fieldset>
</div>

<div id="details-section">
@foreach (var item in Model) {
	var IsComplete = Math.Abs(item.Master.Quantity) == item.Details.Sum(x => Math.Abs(x.Quantity));
	<div id="rqmt:@item.Master.Id" class="rqmt panel panel-default" data-key="@item.Master.Id">
		<div class="panel-heading">
			<h3>
				@item.Master.Product.Code @item.Master.Product.Name
	    	@if(Privilege.AllowDelete) {
	    		<small>
		        (<a class='discard' title='@Resources.Message_DiscardConfirmation'
			   		data-type='checklist' data-placement='left' data-pk='@item.Master.Id' data-source='{}' data-value='@item.Master.Id'
			   		data-url='@Url.Action("DiscardLotSerialNumbers", new { id = item.Master.Id })' data-emptytext='' data-emptyclass=''>@Resources.Discard</a>)
			   	</small>
	        }
			</h3>
		</div>
		<table>
		    <tr>
		        <th class='stretch'>@Html.LabelFor(x => new LotSerialTracking().Quantity)</th>
		        <th>@Html.LabelFor(x => new LotSerialTracking().LotNumber)</th>
		        <th>@Html.LabelFor(x => new LotSerialTracking().ExpirationDate)</th>
		        <th>@Html.LabelFor(x => new LotSerialTracking().SerialNumber)</th>
		        <th></th>
		    </tr>
		@foreach (var serial in item.Details) {
			@Html.Partial("_LotSerialNumber", serial)
		}
		@if(Privilege.AllowCreate) {
		    <tr class='new form-inline @(IsComplete ? "hide" : "")'>
		        <td class='number'>
		        	<input class="quantity" type="text" value="1">
	        	</td>
		        <td class='center'>
		        	<input class="lot" type="text">
	        	</td>
		        <td class='date'>
		        	<input class="expiration date" type="text" >
	        	</td>
		        <td class='center'>
		        	<input class="serial" type="text">
		        </td>
		        <td class='actions'>
		        	<a class='button icon add icon-only' href='@Url.Action("AddLotSerialNumber", new { id = item.Master.Id })' title='@Resources.Add'></a>
		        </td>
		    </tr>
		}
		    <tr class='totals'>
		        <td class='number count' style='padding: 8px 4px;'>@item.Details.Sum(x => Math.Abs(x.Quantity)).ToString("0.####") / @Math.Abs(item.Master.Quantity).ToString("0.####")</td>
		        <td colspan='4' style='padding:2px 4px'>
		        	<div class='confirm text-right @(IsComplete ? "" : "hide")'>
		        		<a class='button icon lock' href='@Url.Action("ConfirmLotSerialNumbers", new { id = item.Master.Id })' title='@Resources.Complete'>@Resources.Complete</a>
		        	</div>
		        </td>
		    </tr>
		</table>
	</div>
}
</div>

<div class='right floating'>

</div>
<div id='back-to-list'>
    @Html.ActionLink(Resources.BackToList, "LotSerialNumbers", new { }, new { @class = "button icon back" })
</div>
<script type="text/javascript">
function add (e) {
	e.preventDefault();
	var url = this.href;
	var rqmt = $(this).closest('.rqmt');
	var qty = rqmt.find('.quantity').val();
	var lot = $.trim(rqmt.find('.lot').val());
	var exp = rqmt.find('.expiration').val();
	var ser = $.trim(rqmt.find('.serial').val());

	console.log ({ qty: qty, lot: lot, expiration: exp, serial: ser });

	$.post(url, { qty: qty, lot: lot, expiration: exp, serial: ser }, 'json').done(function(data) {
		if(data.result) {
			$.get('@Url.Action("GetLotSerialNumber")/' + data.id).done(function(html) {
				rqmt.find('.new').before(html).prev().find('a.delete').click(remove);
				rqmt.find('.quantity').val('1');
				
				if(ser.length == 0) {
					rqmt.find('.expiration').val('');
					rqmt.find('.lot').val('').focus();
				} else {
					rqmt.find('.serial').focus();
				}
			});
			updateCount(rqmt.data('key'));
			return;
		}
	});
}
function remove (e) {
	e.preventDefault();
	var url = this.href;
	var rqmt = $(this).closest('.rqmt').data('key');

    $.post(url, function (data) {
        if(data.result) {
            $('#serial\\:' + data.id).remove();
            updateCount(rqmt);
        }
    }, 'json');
}
function confirm (e) {
	e.preventDefault();
	var url = this.href;

    $.post(url, function (data) {
        if(data.result) {
            $('#rqmt\\:' + data.id).remove();
        }
    }, 'json');
}
function updateCount(id) {
    $.get('@Url.Action("GetLotSerialNumberCount", new { id = 0 })' + id, function (data) {
        $('#rqmt\\:' + id + ' .count').text(Math.abs(data.count) + ' / ' + Math.abs(data.total));
        if (Math.abs(data.count) == Math.abs(data.total)) {
        	$('#rqmt\\:' + id + ' .new').addClass ('hide');
        	$('#rqmt\\:' + id + ' .confirm').removeClass ('hide');
        } else {
			$('#rqmt\\:' + id + ' .new').removeClass ('hide');
        	$('#rqmt\\:' + id + ' .confirm').addClass ('hide');
        }
    }, 'json');
}
$(function () {
	$('a.add').click(add);
	$('a.delete').click(remove);
	$('a.lock').click(confirm);
	$(".serial,.lot").focus(function(){
    	this.select();
	}).keyup(function(e){
		if (e.keyCode == 13) {
	   		var rqmt = $(this).closest('.rqmt');
	    	rqmt.find('a.add').click();
	   	}
	});
	$('a.discard').editable({
		success: function(response, newValue) {
	        $(this).closest('.rqmt').remove();
	    }
	});
	$('#warehouse').editable({
	    select2: {
		    ajax: {
		        url: '@Url.Action("GetSuggestions", "Warehouses")',
		        dataType: 'json',
		        type: 'POST',
		        data: function(term,page,context) {
		        	return { pattern:term };
		        },
		        results: function(data,page) {
		            return { results:data };
		        }
		    },
		    initSelection: function(element, callback) {
		        var data = {
		        	id: $('#warehouse').data('value'),
		        	name: $('#warehouse').text()
	        	};
		        callback(data);
		    },
		    formatResult: function(result ) {
		        return result.name;
		    },
		    formatSelection: function(selection) {
		        return selection.name;
		    }
		},
	    display: function(value, response) {
	    	if (typeof response !== 'undefined') {
				$(this).html(response.value);
			}
	    }
	});
});
</script>
<style type="text/css">
input[type="text"]{width:98%;}
.number>input{text-align:right;width:50px;}
</style>
