@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model IEnumerable<dynamic>

<h2>@Resources.PhysicalCountAdjustment</h2>

<table>
 <tr>
    <th>@Resources.Code</th>
    <th>@Resources.Name</th>
    <th>@Resources.LotNumber</th>
    <th>@Resources.ExpirationDate</th>
    <th>@Resources.SerialNumber</th>
    <th>@Resources.Quantity</th>
 </tr>
@foreach (var item in Model) {
    <tr>
        <td class='text-center'>@item.Code</td>
        <td class='text-left'>@item.Name</td>
        <td class="text-center">@item.LotNumber</td>
        <td class='date'>
            @if (item.ExpirationDate != null) {
                @item.ExpirationDate.ToString("d")
            }
        </td>
        <td class="text-center">@item.SerialNumber</td>
        <td class='text-right'>@((-1m * item.Quantity).ToString("0.#"))</td>
    </tr>
}
<tr class="total">
    <td class='right' colspan='5'>@Resources.Total</td>
    <td class='number'>@Model.Where(x => x.Quantity > 0m).Sum(x => (decimal) x.Quantity).ToString("0.####")</td>
</tr>
</table>
<div class="vspaced">
    <div class="pull-right">
        @using (Html.BeginForm ()) {
            <button type="submit" class="button icon configuration">@Resources.Adjustment</button>
        }
    </div>
    <div id="back-to-list">
        @using (Html.BeginForm ()) {
        	@Html.ActionLink(Resources.BackToList, "Receipts" ,null, new { @class = "button icon back" })
        }
    </div>
</div>    
<style type="text/css">
ul.token-input-list { width: 100%; }
</style>
