@using Business.Essentials
@using Business.Essentials.Model
@model Address

<div class="display-label">
    @Html.LabelFor(x => x.Street)
</div>
<div class="display-field">
    @Html.DisplayFor(x => x.Street)
</div>

<div class="display-label">
    @Html.LabelFor(x => x.ExteriorNumber)
</div>
<div class="display-field">
    @Html.DisplayFor(x => x.ExteriorNumber)
</div>

<div class="display-label">
    @Html.LabelFor(x => x.InteriorNumber)
</div>
<div class="display-field">
    @Html.DisplayFor(x => x.InteriorNumber)
</div>

<div class="display-label">
    @Html.LabelFor(x => x.Neighborhood)
</div>
<div class="display-field">
    @Html.DisplayFor(x => x.Neighborhood)
</div>

<div class="display-label">
    @Html.LabelFor(x => x.Locality)
</div>
<div class="display-field">
    @Html.DisplayFor(x => x.Locality)
</div>

<div class="display-label">
    @Html.LabelFor(x => x.Borough)
</div>
<div class="display-field">
    @Html.DisplayFor(x => x.Borough)
</div>

<div class="display-label">
    @Html.LabelFor(x => x.State)
</div>
<div class="display-field">
    @Html.DisplayFor(x => x.State)
</div>

<div class="display-label">
    @Html.LabelFor(x => x.Country)
</div>
<div class="display-field">
    @Html.DisplayFor(x => x.Country)
</div>

<div class="display-label">
    @Html.LabelFor(x => x.ZipCode)
</div>
<div class="display-field">
    @Html.DisplayFor(x => x.ZipCode)
</div>