@using Mictlanix.BE
@using Mictlanix.BE.Model
@model Contact

<div class="row">
  	<div class="col-xs-6">@Html.LabelFor(x => x.Name)</div>
	<div class="col-xs-2">@Html.LabelFor(x => x.JobTitle)</div>
</div>
<div class="row">
  	<div class="col-xs-6"><div class="ro-field">@Html.DisplayFor(x => x.Name)</div></div>
	<div class="col-xs-2"><div class="ro-field">@Html.DisplayFor(x => x.JobTitle)</div></div>
</div>
<div class="row">
  	<div class="col-xs-5">@Html.LabelFor(x => x.Email)</div>
  	<div class="col-xs-2">@Html.LabelFor(x => x.Phone)</div>
  	<div class="col-xs-1">@Html.LabelFor(x => x.PhoneExt)</div>
</div>
<div class="row">
  	<div class="col-xs-5"><div class="ro-field">@Html.DisplayFor(x => x.Email)</div></div>
  	<div class="col-xs-2"><div class="ro-field">@Html.DisplayFor(x => x.Phone)</div></div>
  	<div class="col-xs-1"><div class="ro-field">@Html.DisplayFor(x => x.PhoneExt)</div></div>
</div>
<div class="row">
  	<div class="col-xs-3">@Html.LabelFor(x => x.Mobile)</div>
	<div class="col-xs-3">@Html.LabelFor(x => x.Fax)</div>
	<div class="col-xs-2">@Html.LabelFor(x => x.Birthday)</div>
</div>
<div class="row">
  	<div class="col-xs-3"><div class="ro-field">@Html.DisplayFor(x => x.Mobile)</div></div>
	<div class="col-xs-3"><div class="ro-field">@Html.DisplayFor(x => x.Fax)</div></div>
	<div class="col-xs-2"><div class="ro-field">@Html.DisplayFor(x => x.Birthday)</div></div>
</div>
<div class="row">
  	<div class="col-xs-4">@Html.LabelFor(x => x.Im)</div>
	<div class="col-xs-4">@Html.LabelFor(x => x.Sip)</div>
</div>
<div class="row">
  	<div class="col-xs-4"><div class="ro-field">@Html.DisplayFor(x => x.Im)</div></div>
	<div class="col-xs-4"><div class="ro-field">@Html.DisplayFor(x => x.Sip)</div></div>
</div>
<div class="row">
  	<div class="col-xs-8">@Html.LabelFor(x => x.Website)</div>
</div>
<div class="row">
  	<div class="col-xs-8"><div class="ro-field">@Html.DisplayFor(x => x.Website)</div></div>
</div>
<div class="row">
  	<div class="col-xs-8">@Html.LabelFor(x => x.Comment)</div>
</div>
<div class="row">
  	<div class="col-xs-8"><div class="ro-field">@Html.DisplayFor(x => x.Comment)</div></div>
</div>