@using Mictlanix.BE
@using Mictlanix.BE.Model
@model Employee

<div class="row">
  	<div class="col-xs-3">@Html.LabelFor(x => x.FirstName)</div>
	<div class="col-xs-3">@Html.LabelFor(x => x.LastName)</div>
  	<div class="col-xs-2">@Html.LabelFor(x => x.Nickname)</div>
</div>
<div class="row">
  	<div class="col-xs-3"><div class="ro-field">@Html.DisplayFor(x => x.FirstName)</div></div>
	<div class="col-xs-3"><div class="ro-field">@Html.DisplayFor(x => x.LastName)</div></div>
  	<div class="col-xs-2"><div class="ro-field">@Html.DisplayFor(x => x.Nickname)</div></div>
</div>
<div class="row">
	<div class="col-xs-2">@Html.LabelFor(x => x.Gender)</div>
  	<div class="col-xs-2">@Html.LabelFor(x => x.Birthday)</div>
	<div class="col-xs-2">@Html.LabelFor(x => x.StartJobDate)</div>
	<div class="col-xs-2">@Html.LabelFor(x => x.IsActive)</div>
</div>
<div class="row">
	<div class="col-xs-2"><div class="ro-field">@Html.DisplayFor(x => x.Gender)</div></div>
  	<div class="col-xs-2"><div class="ro-field">@Html.DisplayFor(x => x.Birthday)</div></div>
	<div class="col-xs-2"><div class="ro-field">@Html.DisplayFor(x => x.StartJobDate)</div></div>
	<div class="col-xs-2"><div class="ro-field">@Html.DisplayFor(x => x.IsActive)</div></div>
</div>
<div class="row">
  	<div class="col-xs-2">@Html.LabelFor(x => x.TaxpayerId)</div>
	<div class="col-xs-4">@Html.LabelFor(x => x.PersonalId)</div>
	<div class="col-xs-2">@Html.LabelFor(x => x.IsSalesPerson)</div>
</div>
<div class="row">
  	<div class="col-xs-2"><div class="ro-field">@Html.DisplayFor(x => x.TaxpayerId)</div></div>
	<div class="col-xs-4"><div class="ro-field">@Html.DisplayFor(x => x.PersonalId)</div></div>
	<div class="col-xs-2"><div class="ro-field">@Html.DisplayFor(x => x.IsSalesPerson)</div></div>
</div>
<div class="row">
  	<div class="col-xs-8">@Html.LabelFor(x => x.Comment)</div>
</div>
<div class="row">
  	<div class="col-xs-8"><div class="ro-field">@Html.DisplayFor(x => x.Comment)</div></div>
</div>