@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model ExchangeRate

<div class="row">
    <div class="col-xs-4">@Html.LabelFor(x => x.Date)</div>
    <div class="col-xs-4">@Html.LabelFor(x => x.Base)</div>
</div>
<div class="row">
    <div class="col-xs-4"><div class="ro-field">@Html.DisplayFor(x => x.Date)</div></div>
    <div class="col-xs-4"><div class="ro-field">@Html.DisplayFor(x => x.Base)</div></div>
</div>
<div class="row">
    <div class="col-xs-4">@Html.LabelFor(x => x.Rate)</div>
    <div class="col-xs-4">@Html.LabelFor(x => x.Target)</div>
</div>
<div class="row">
    <div class="col-xs-4"><div class="ro-field">@Html.DisplayFor(x => x.Rate)</div></div>
    <div class="col-xs-4"><div class="ro-field">@Html.DisplayFor(x => x.Target)</div></div>
</div>

