@using Mictlanix.BE
@using Mictlanix.BE.Model
@model ServiceReport

<div class="row">
	<div class="span6">@Html.LabelFor(x => x.Type)</div>
  	<div class="span2">@Html.LabelFor(x => x.Date)</div>
</div>
<div class="row">
	<div class="span6"><div class="ro-field">@Html.DisplayFor(x => x.Type)</div></div>
  	<div class="span2"><div class="ro-field text-center">@Html.DisplayFor(x => x.Date)</div></div>
</div>
<div class="row">
  	<div class="span8">@Html.LabelFor(x => x.CustomerId)</div>
</div>
<div class="row">
  	<div class="span8"><div class="ro-field">@Html.DisplayFor(x => x.Customer, "String")</div></div>
</div>
<div class="row">
  	<div class="span8">@Html.LabelFor(x => x.SupplierId)</div>
</div>
<div class="row">
  	<div class="span8"><div class="ro-field">@Html.DisplayFor(x => x.Supplier, "String")</div></div>
</div>
<div class="row">
  	<div class="span4">@Html.LabelFor(x => x.Brand)</div>
  	<div class="span4">@Html.LabelFor(x => x.Model)</div>
</div>
<div class="row">
  	<div class="span4"><div class="ro-field">@Html.DisplayFor(x => x.Brand)</div></div>
  	<div class="span4"><div class="ro-field">@Html.DisplayFor(x => x.Model)</div></div>
</div>
<div class="row">
  	<div class="span8">@Html.LabelFor(x => x.Location)</div>
</div>
<div class="row">
  	<div class="span8"><div class="ro-field">@Html.DisplayFor(x => x.Location)</div></div>
</div>
<div class="row">
  	<div class="span8">@Html.LabelFor(x => x.UserReport)</div>
</div>
<div class="row">
  	<div class="span8"><div class="ro-field">@Html.DisplayFor(x => x.UserReport)</div></div>
</div>
<div class="row">
  	<div class="span8">@Html.LabelFor(x => x.UserDescription)</div>
</div>
<div class="row">
  	<div class="span8"><div class="ro-field">@Html.DisplayFor(x => x.UserDescription)</div></div>
</div>
<div class="row">
  	<div class="span8">@Html.LabelFor(x => x.Comment)</div>
</div>
<div class="row">
  	<div class="span8"><div class="ro-field">@Html.DisplayFor(x => x.Comment)</div></div>
</div>