@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model TaxpayerIssuer
<div class="row">
  	<div class="col-xs-4">@Html.LabelFor(x => x.Id)</div>
	<div class="col-xs-8">@Html.LabelFor(x => x.Name)</div>
</div>
<div class="row">
  	<div class="col-xs-4"><p class="form-control-static">@Html.DisplayFor(x => x.Id)</p></div>
	<div class="col-xs-8"><p class="form-control-static">@Html.DisplayFor(x => x.Name)</p></div>
</div>
<div class="row">
  	<div class="col-xs-12">@Html.LabelFor(x => x.Regime)</div>
</div>
<div class="row">
  	<div class="col-xs-12"><p class="form-control-static">@Html.DisplayFor(x => x.Regime.Description)</p></div>
</div>
