@using Mictlanix.BE
@using Mictlanix.BE.Model
@model TaxpayerRecipient

<div class="row">
  	<div class="col-xs-4">@Html.LabelFor(x => x.Id)</div>
	<div class="col-xs-8">@Html.LabelFor(x => x.Name)</div>
</div>
<div class="row">
  	<div class="col-xs-4"><p class="form-control-static">@Html.DisplayFor(x => x.Id)</p></div>
	<div class="col-xs-8"><p class="form-control-static">@Html.DisplayFor(x => x.Name)</p></div>
</div>
<div class="row">
  	<div class="col-xs-12">@Html.LabelFor(x => x.Email)</div>
</div>
<div class="row">
  	<div class="col-xs-12"><p class="form-control-static">@Html.DisplayFor(x => x.Email)</p></div>
</div>
