@using Mictlanix.BE
@using Mictlanix.BE.Model
@model TechnicalServiceReport
<div class="row">
  	<div class="span2">@Html.LabelFor(x => x.Date)</div>
  	<div class="span3">@Html.LabelFor(x => x.Location)</div>
	<div class="span3">@Html.LabelFor(x => x.Type)</div>
</div>
<div class="row">
  	<div class="span2"><div class="ro-field text-center">@Html.DisplayFor(x => x.Date)</div></div>
  	<div class="span3"><div class="ro-field">@Html.DisplayFor(x => x.Location)</div></div>
	<div class="span3"><div class="ro-field">@Html.DisplayFor(x => x.Type)</div></div>
</div>
<div class="row">
  	<div class="span3">@Html.LabelFor(x => x.Equipment)</div>
  	<div class="span2">@Html.LabelFor(x => x.Brand)</div>
  	<div class="span3">@Html.LabelFor(x => x.Model)</div>
</div>
<div class="row">
  	<div class="span3"><div class="ro-field">@Html.DisplayFor(x => x.Equipment)</div></div>
  	<div class="span2"><div class="ro-field">@Html.DisplayFor(x => x.Brand)</div></div>
  	<div class="span3"><div class="ro-field">@Html.DisplayFor(x => x.Model)</div></div>
</div>
<div class="row">
  	<div class="span3">@Html.LabelFor(x => x.SerialNumber)</div>
	<div class="span2 offset3">@Html.LabelFor(x => x.Cost)</div>
</div>
<div class="row">
  	<div class="span3"><div class="ro-field">@Html.DisplayFor(x => x.SerialNumber)</div></div>
	<div class="span2 offset3"><div class="ro-field text-right">@Html.DisplayFor(x => x.Cost)</div></div>
</div>
<div class="row">
  	<div class="span8">@Html.LabelFor(x => x.User)</div>
</div>
<div class="row">
  	<div class="span8"><div class="ro-field">@Html.DisplayFor(x => x.User)</div></div>
</div>
<div class="row">
  	<div class="span8">@Html.LabelFor(x => x.Technician)</div>
</div>
<div class="row">
  	<div class="span8"><div class="ro-field">@Html.DisplayFor(x => x.Technician)</div></div>
</div>
<div class="row">
  	<div class="span8">@Html.LabelFor(x => x.UserReport)</div>
</div>
<div class="row">
  	<div class="span8"><div class="ro-field">@Html.DisplayFor(x => x.UserReport)</div></div>
</div>
<div class="row">
  	<div class="span8">@Html.LabelFor(x => x.Description)</div>
</div>
<div class="row">
  	<div class="span8"><div class="ro-field">@Html.DisplayFor(x => x.Description)</div></div>
</div>
<div class="row">
  	<div class="span8">@Html.LabelFor(x => x.Comment)</div>
</div>
<div class="row">
  	<div class="span8"><div class="ro-field">@Html.DisplayFor(x => x.Comment)</div></div>
</div>